<div class="watch-actions-stats">
   <div class="stats-header">
      <h1>
         视频统计信息    
      </h1>
   </div>
   <div class="views">
      <h2>观看次数和发现事件</h2>
      <div class="stats-box yt-uix-expander yt-uix-expander-collapsed">
         <div class="stats-big-chart">
            <img alt="" src="http://chart.apis.google.com/chart?cht=lc:nda&amp;chs=460x100&amp;chf=bg,s,F4F4F4&amp;chco=5F8FC9&amp;chls=1.5&amp;chg=0,-1,1,1&amp;chxt=y,x&amp;chxtc=0,0&amp;chxs=0N*s* ,333333,10|1,333333,10&amp;chxl=1:|09-02-18|10-12-13|12-10-06&amp;chxp=1,5,50,95&amp;chxr=0,0,452632|1,0,100&amp;chd=t:0.0,0.0,0.1,0.1,0.1,0.1,0.2,0.2,0.3,0.3,0.4,0.4,0.5,0.6,0.7,0.7,0.8,0.9,1.0,1.1,1.2,1.3,1.3,1.4,1.5,1.5,1.7,1.8,1.9,2.0,2.1,2.2,2.4,2.5,2.6,2.8,2.9,3.0,3.1,3.2,3.4,3.5,3.7,3.9,4.0,4.2,4.4,4.6,4.8,5.0,5.2,5.5,5.7,5.9,6.3,6.6,6.9,7.2,7.6,7.9,8.4,8.8,9.3,9.8,10.3,10.7,11.2,11.7,12.4,13.5,14.4,15.4,16.6,18.4,20.4,22.1,23.9,25.9,27.8,29.6,31.7,34.0,36.5,38.9,41.9,44.8,47.5,50.3,52.7,55.5,58.2,60.8,63.9,66.8,69.5,71.5,74.1,76.8,79.7,83.3&amp;chm=B,dce7eed4,0,0,0|AA,333333,0,0.5,10|AB,333333,0,0.5,10" class="stats-big-chart-collapsed">
            <img alt="" src="http://chart.apis.google.com/chart?cht=lc:nda&amp;chs=460x100&amp;chf=bg,s,F4F4F4&amp;chco=5F8FC9&amp;chls=1.5&amp;chg=0,-1,1,1&amp;chxt=y,x&amp;chxtc=0,0&amp;chxs=0N*s* ,333333,10|1,333333,10&amp;chxl=1:|09-02-18|10-12-13|12-10-06&amp;chxp=1,5,50,95&amp;chxr=0,0,452632|1,0,100&amp;chd=t:0.0,0.0,0.1,0.1,0.1,0.1,0.2,0.2,0.3,0.3,0.4,0.4,0.5,0.6,0.7,0.7,0.8,0.9,1.0,1.1,1.2,1.3,1.3,1.4,1.5,1.5,1.7,1.8,1.9,2.0,2.1,2.2,2.4,2.5,2.6,2.8,2.9,3.0,3.1,3.2,3.4,3.5,3.7,3.9,4.0,4.2,4.4,4.6,4.8,5.0,5.2,5.5,5.7,5.9,6.3,6.6,6.9,7.2,7.6,7.9,8.4,8.8,9.3,9.8,10.3,10.7,11.2,11.7,12.4,13.5,14.4,15.4,16.6,18.4,20.4,22.1,23.9,25.9,27.8,29.6,31.7,34.0,36.5,38.9,41.9,44.8,47.5,50.3,52.7,55.5,58.2,60.8,63.9,66.8,69.5,71.5,74.1,76.8,79.7,83.3&amp;chm=B,dce7eed4,0,0,0|AA,333333,0,0.5,10|AB,333333,0,0.5,10|AC,333333,0,0.5,10|AD,333333,0,3.5,10|AE,333333,0,14.5,10|AF,333333,0,14.5,10|AG,333333,0,47.5,10|AH,333333,0,50.5,10|AI,333333,0,69.5,10" class="stats-big-chart-expanded">
         </div>
         <div class="stats-views">
            观看次数：
            <h3>378,044</h3>
         </div>
         <div class="horizontal-line"></div>
         <h4>主要发现活动</h4>
         <div class="stats-discovery-events">
            <dl>
               <dt class="stats-label">A</dt>
               <dd class="event">
                  <p>            <span>来自 YouTube 搜索的首次推荐:</span>
                     <span class="extra">              <a dir="ltr" href="/results?search_query=%E6%B0%B8%E9%81%A0%E3%81%AE%E5%98%98%E3%82%92%E3%81%A4%E3%81%84%E3%81%A6%E3%81%8F%E3%82%8C" rel="nofollow">永遠の嘘をついてくれ</a>          </span>
                  </p>
                  <p class="sub-data">2009-02-19 - 16,575 次观看
                  </p>
               </dd>
               <dt class="stats-label">B</dt>
               <dd class="event">
                  <p>            <span>来自相关视频的首次推荐:</span>
                     <span class="extra">              <a dir="ltr" href="/watch?v=WbYYK4nPuxE" rel="nofollow">落陽　（高画質）</a>          </span>
                  </p>
                  <p class="sub-data">2009-02-20 - 7,436 次观看
                  </p>
               </dd>
            </dl>
            <dl class="extra-events">
               <dt class="stats-label">C</dt>
               <dd class="event">
                  <p>            <span>来自相关视频的首次推荐:</span>
                     <span class="extra">              <a dir="ltr" href="/watch?v=vG9fvkUfypQ" rel="nofollow">春だったね （高画質）</a>          </span>
                  </p>
                  <p class="sub-data">2009-02-25 - 9,556 次观看
                  </p>
               </dd>
               <dt class="stats-label">D</dt>
               <dd class="event">
                  <p>            <span>来自相关视频的首次推荐:</span>
                     <span class="extra">              <a dir="ltr" href="/watch?v=OmU1m55QMTk" rel="nofollow">つま恋２００６　永遠の嘘をついてくれ</a>          </span>
                  </p>
                  <p class="sub-data">2009-04-05 - 6,779 次观看
                  </p>
               </dd>
               <dt class="stats-label">E</dt>
               <dd class="event">
                  <p>            <span>来自相关视频的首次推荐:</span>
                     <span class="extra">              <a dir="ltr" href="/watch?v=O9Bsp72aUbM" rel="nofollow">吉田拓郎＆中島みゆき：永遠の嘘をついてくれ （つま恋2006）</a>          </span>
                  </p>
                  <p class="sub-data">2009-08-27 - 25,799 次观看
                  </p>
               </dd>
               <dt class="stats-label">F</dt>
               <dd class="event">
                  <p>          第一次通过移动设备观看
                  </p>
                  <p class="sub-data">2009-09-04 - 73,412 次观看
                  </p>
               </dd>
               <dt class="stats-label">G</dt>
               <dd class="event">
                  <p>            <span>来自相关视频的首次推荐:</span>
                     <span class="extra">              <a dir="ltr" href="/watch?v=qsfWVlDpBl0" rel="nofollow">2006中島みゆきのｵｰﾙﾅｲﾄﾆｯﾎﾟﾝ・つま恋2006を語る</a>          </span>
                  </p>
                  <p class="sub-data">2010-11-12 - 8,333 次观看
                  </p>
               </dd>
               <dt class="stats-label">H</dt>
               <dd class="event">
                  <p>            <span>来自相关视频的首次推荐:</span>
                     <span class="extra">              <a dir="ltr" href="/watch?v=B5Ol2r549RY" rel="nofollow">吉田拓郎：今日までそして明日から　kyo made soshite ashita kara （つま恋2006）</a>          </span>
                  </p>
                  <p class="sub-data">2010-12-17 - 8,006 次观看
                  </p>
               </dd>
               <dt class="stats-label">I</dt>
               <dd class="event">
                  <p>          第一次得到订阅者模块的推荐
                  </p>
                  <p class="sub-data">2011-09-01 - 7,665 次观看
                  </p>
               </dd>
            </dl>
            <div class="stats-discovery-toggle">
               <a class="expand yt-uix-expander-head">
               显示更多活动
               <img alt="" src="<%= asset_path 'yt/wfw.gif' %>">
               </a>
               <a class="collapse yt-uix-expander-head">
               显示部分活动
               <img alt="" src="<%= asset_path 'yt/wfw.gif' %>">
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="clearL"></div>
   <div class="engagement-audience">
      <div class="stats-engagement">
         <h2>参与度</h2>
         <div class="stats-box">
            <table>
               <tbody>
                  <tr>
                     <td class="stats-box-top stats-box-left">
                        <img alt="" src="http://chart.apis.google.com/chart?cht=ls&amp;chs=80x18&amp;chf=bg,s,F4F4F4&amp;chco=5F8FC9&amp;chls=1&amp;chm=B,DCE6EDdd,0,0,0&amp;chd=t:0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,2.6,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,4.3,5.2,6.1,6.1,7.0,8.7,8.7,8.7,10.5,10.5,10.5,10.5,10.5,10.5,10.5,10.5,10.5,11.4,13.1,15.7,21.0,21.9,24.5,26.3,27.1,28.0,32.4,35.9,36.8,42.9,47.3,47.3,52.6,55.2,57.8,62.2,65.7,67.5,76.3,81.5,88.5,92.1,96.4,97.3,100.0" class="stats-engagement-chart">
                        <span>
                           评论次数：
                           <h4>109</h4>
                        </span>
                     </td>
                     <td class="stats-box-top stats-box-right">
                        <img alt="" src="http://chart.apis.google.com/chart?cht=ls&amp;chs=80x18&amp;chf=bg,s,F4F4F4&amp;chco=5F8FC9&amp;chls=1&amp;chm=B,DCE6EDdd,0,0,0&amp;chd=t:0.0,0.0,0.0,0.1,0.1,0.1,0.1,0.3,0.3,0.4,0.5,0.6,0.7,0.8,1.0,1.3,1.6,1.8,2.0,2.1,2.1,2.3,2.5,2.8,2.9,3.2,3.4,3.5,3.9,4.0,4.1,4.5,4.7,4.9,5.2,5.4,5.5,5.6,5.7,5.9,6.1,6.4,6.6,6.7,6.9,7.3,8.0,8.3,8.5,8.9,9.1,9.3,9.4,9.6,9.9,10.3,10.9,11.1,11.9,12.4,12.9,13.2,13.7,14.0,14.5,14.9,15.5,16.1,16.8,18.6,19.5,20.4,22.3,25.3,28.2,30.2,32.4,35.6,38.3,40.5,43.0,45.5,48.6,52.3,57.1,60.3,63.4,65.9,68.7,71.5,74.1,76.6,80.5,83.7,86.3,88.1,90.5,93.7,96.3,100.0" class="stats-engagement-chart">
                        <span>
                           收藏次数：
                           <h4>0</h4>
                        </span>
                     </td>
                  </tr>
                  <tr>
                     <td class="stats-box-bottom stats-box-left">
                        <img alt="" src="http://chart.apis.google.com/chart?cht=ls&amp;chs=80x18&amp;chf=bg,s,F4F4F4&amp;chco=5F8FC9&amp;chls=1&amp;chm=B,DCE6EDdd,0,0,0&amp;chd=t:0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.5,0.5,0.5,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.7,0.9,0.9,0.9,1.0,1.0,1.0,1.0,1.0,1.1,1.1,1.5,1.6,1.6,1.6,1.8,2.2,2.3,2.4,2.7,2.7,2.8,2.8,3.1,3.2,3.5,3.6,3.9,4.4,4.5,4.8,5.3,5.7,6.2,6.3,6.6,7.1,8.1,8.8,9.6,10.7,12.8,15.4,17.4,19.6,21.9,23.7,24.7,26.9,29.2,31.8,35.1,39.1,42.2,46.2,49.8,53.3,57.9,63.7,67.8,72.4,77.5,81.7,85.3,88.5,92.0,95.8,100.0" class="stats-engagement-chart">
                        <span>
                           顶的次数：
                           <h4>668</h4>
                        </span>
                     </td>
                     <td class="stats-box-bottom stats-box-right">
                        <img alt="" src="http://chart.apis.google.com/chart?cht=ls&amp;chs=80x18&amp;chf=bg,s,F4F4F4&amp;chco=5F8FC9&amp;chls=1&amp;chm=B,DCE6EDdd,0,0,0&amp;chd=t:0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,6.3,6.3,6.3,8.5,12.7,12.7,12.7,14.8,14.8,14.8,14.8,14.8,14.8,17.0,19.1,21.2,25.5,27.6,27.6,27.6,27.6,34.0,34.0,40.4,44.6,59.5,63.8,72.3,80.8,95.7,100.0" class="stats-engagement-chart">
                        <span>
                           踩的次数：
                           <h4>29</h4>
                        </span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="stats-audience">
         <h2>受众群体</h2>
         <div class="stats-box">
            <h4>热门国家/地区</h4>
            <dl>
               <dd>
                  日本
               </dd>
               <dd>
                  台湾
               </dd>
               <dd>
                  香港
               </dd>
            </dl>
            <h4>热门受众特征</h4>
            <dl>
               <dd>
                  45-54 岁的男性
               </dd>
               <dd>
                  55-64 岁的男性
               </dd>
               <dd>
                  35-44 岁的男性
               </dd>
            </dl>
         </div>
      </div>
   </div>
   <div class="clearL"></div>
</div>