<div class="" id="flag-video-panel">
   <div id="flag-video-form-container">
      <h3>
         举报此视频包含不当内容
      </h3>
      <p>
         请选择最符合您对该视频的意见的类别，以便我们对该视频进行审查并确认它是否违反了我们的<a target="_blank" href="/t/community_guidelines">社区准则</a>或不适合所有观众。滥用此功能也会违反<a target="_blank" href="/t/community_guidelines">社区准则</a>，因此请不要这么做。
      </p>
      <p id="flag-video-reason-container">
         <label for="flag-reason-button" class="flag-label">
         举报原因：
         </label>
         <span class="flag-inputs">
         <button role="button" data-button-menu-id="flag-video-menu" class=" yt-uix-button yt-uix-button-default" onclick=";return false;" id="flag-reason-button" type="button"><span class="yt-uix-button-content">选择原因 </span><img alt="" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="yt-uix-button-arrow"></button>
         </span>
      </p>
      <div class="hid" id="flag-video-menu">
         <ul class="flag-menu">
            <li class="yt-uix-button-menu-item" data-reason="P">
               <span class="label">色情内容</span>
               <img class="flag-menu-arrow" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
               <ul class="flag-menu submenu yt-uix-button-menu">
                  <li class="yt-uix-button-menu-item" data-include-time="true" data-subreason="1">
                     <span class="label">图解性行为</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-include-time="true" data-subreason="2">
                     <span class="label">裸露</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-result-message="maybe-review" data-subreason="3">
                     <span class="label">有挑逗内容，但无裸露</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-show-textbox-with-label="另请简要描述不当内容：" data-include-time="true" data-subreason="4">
                     <span class="label">其他色情内容</span>
                  </li>
               </ul>
            </li>
            <li class="yt-uix-button-menu-item" data-reason="G">
               <span class="label">暴力或令人反感的内容</span>
               <img class="flag-menu-arrow" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
               <ul class="flag-menu submenu yt-uix-button-menu">
                  <li class="yt-uix-button-menu-item" data-result-message="maybe-review" data-subreason="5">
                     <span class="label">成人格斗</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-subreason="6">
                     <span class="label">身体攻击</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-subreason="7">
                     <span class="label">青少年暴力</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-subreason="8">
                     <span class="label">虐待动物</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-subreason="9">
                     <span class="label">宣传恐怖主义</span>
                  </li>
               </ul>
            </li>
            <li class="yt-uix-button-menu-item" data-reason="R">
               <span class="label">憎恨或辱骂内容</span>
               <img class="flag-menu-arrow" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
               <ul class="flag-menu submenu yt-uix-button-menu">
                  <li class="yt-uix-button-menu-item" data-result-message="hate-speech" data-show-textbox-with-label="请同时提供您认为能帮助我们尽快验证该问题的其他任何信息：" data-show-hate-group="true" data-subreason="10">
                     <span class="label">宣传仇恨或暴力</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-subreason="23">
                     <span class="label">恃强凌弱</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-result-message="bullying" data-subreason="11">
                     <span class="label">恐吓</span>
                  </li>
               </ul>
            </li>
            <li class="yt-uix-button-menu-item" data-reason="X">
               <span class="label">有害的危险动作</span>
               <img class="flag-menu-arrow" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
               <ul class="flag-menu submenu yt-uix-button-menu">
                  <li class="yt-uix-button-menu-item" data-subreason="12">
                     <span class="label">
                     药物滥用或吸毒
                     </span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-subreason="13">
                     <span class="label">滥用火或炸药</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-subreason="24">
                     <span class="label">自杀或自残</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-subreason="14">
                     <span class="label">其他危险动作</span>
                  </li>
               </ul>
            </li>
            <li class="yt-uix-button-menu-item" data-reason="J">
               <span class="label">虐待儿童</span>
            </li>
            <li class="yt-uix-button-menu-item" data-reason="Z">
               <span class="label">垃圾内容</span>
               <img class="flag-menu-arrow" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
               <ul class="flag-menu submenu yt-uix-button-menu">
                  <li class="yt-uix-button-menu-item" data-subreason="18">
                     <span class="label">大量广告</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-subreason="19">
                     <span class="label">误导性文字</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-subreason="20">
                     <span class="label">误导性缩略图</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-subreason="21">
                     <span class="label">欺骗/欺诈</span>
                  </li>
               </ul>
            </li>
            <li class="yt-uix-button-menu-item">
               <span class="label">侵犯了我的权利</span>
               <img class="flag-menu-arrow" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
               <ul class="flag-menu submenu yt-uix-button-menu">
                  <li class="yt-uix-button-menu-item" data-result-message="dcma-policy" data-no-post="true">
                     <span class="label">侵犯了我的版权</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-no-post="true" data-result-message="privacy-center">
                     <span class="label">侵犯了我的隐私</span>
                  </li>
                  <li class="yt-uix-button-menu-item" data-no-post="true" data-result-message="legal-claim">
                     <span class="label">其他法律声明</span>
                  </li>
               </ul>
            </li>
         </ul>
      </div>
      <form action="/watch_actions_ajax?action_flag_video=1" class="hid" id="flag-video-form">
         <input type="hidden" value="Ugr86H_C9GOTCuj1_JjBWNKIssB8MTM0OTYwNDU5MUAxMzQ5NTE4MTkx" name="session_token">
         <input type="hidden" value="q1sRAXZ-qLM" name="video_id">
         <input type="hidden" value="" name="reason">
         <input type="hidden" value="" name="sub_reason">
         <div class="hid" id="flag-video-more-info-time">
            <p>
               为了帮助我们尽快验证该问题，请同时告诉我们不当资料在视频中所处的位置。
            </p>
            <p>
               <label for="flag-video-minutes">
               视频中出现不当资料的时间（分和秒）：
               </label>
               <input type="text" maxlength="3" size="2" value="0" id="flag-video-minutes" name="flag_t_mins"> :
               <input type="text" maxlength="2" size="2" value="0" name="flag_t_secs">
            </p>
         </div>
         <div class="hid" id="flag-video-more-info-hate-group">
            <p>
               正如我们的<a target="_blank" href="/t/community_guidelines">社区准则</a>中所述，我们不允许仇恨言论（就种族或民族、宗教、残疾、性别、年龄、资历和性取向/性别认同而攻击或侮辱受保护群体的言论）。
            </p>
            <p>
               <label for="flag-video-more-info-protected-group">
               请指明仇恨言论的类型。
               </label>
               <select name="flag_protected_group" id="flag-video-more-info-protected-group">
                  <option value="">—</option>
                  <option value="age">年龄</option>
                  <option value="color">颜色</option>
                  <option value="disability">行为障碍</option>
                  <option value="ethnic origin">民族</option>
                  <option value="gender identity">性别认定</option>
                  <option value="national origin">国籍</option>
                  <option value="race">赛跑</option>
                  <option value="religion">宗教</option>
                  <option value="sex">色情</option>
                  <option value="sexual orientation">性取向</option>
                  <option value="veteran status">最佳状态</option>
               </select>
            </p>
         </div>
         <p class="hid" id="flag-video-more-info-comment">
            <label for="flag-video-more-info-textarea" id="flag-video-more-info-textarea-label"></label>
            <textarea rows="2" wrap="soft" onkeyup="goog.i18n.bidi.setDirAttribute(event,this)" name="flag_desc" id="flag-video-more-info-textarea"></textarea>
         </p>
         <div id="flag-video-error" class="yt-alert yt-alert-naked yt-alert-error hid ">
            <div class="yt-alert-icon">
               <img alt="提醒图标" class="icon master-sprite" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
            </div>
            <div role="alert" class="yt-alert-content">
               <span class="yt-alert-vertical-trick"></span>
               <div class="yt-alert-message">
                  举报视频时出错。请重试。
               </div>
            </div>
         </div>
         <p id="flag-video-buttons">
            <a id="flag-video-cancel">取消</a>或<button role="button" class=" yt-uix-button yt-uix-button-default" onclick=";return true;" id="flag-video-submit" type="submit"><span class="yt-uix-button-content">提交视频以供审核 </span></button>
         </p>
      </form>
   </div>
   <div id="flag-video-results-container">
      <p class="flag-video-result hid" id="flag-video-result-default">
         感谢您的举报。
      </p>
      <p class="flag-video-result hid" id="flag-video-result-maybe-review">
         感谢您举报该视频。虽然这种性质的内容在 YouTube 上不是绝对禁止的，但我们会审核该视频并采取适当措施。
      </p>
      <div class="flag-video-result hid" id="flag-video-result-hate-speech">
         <p>谢谢分享您所关注的问题。</p>
         <p>如我们的<a target="_blank" href="/t/community_guidelines">社区准则</a>所述，仇恨言论特别定义为针对<a target="HelpCenter" href="//support.google.com/youtube/bin/answer.py?answer=78716">受保护群体</a>的言论。</p>
      </div>
      <p class="flag-video-result hid" id="flag-video-result-dcma-policy">
         我们只能按照法律规定的程序，处理授权方提交的版权投诉。对于虚假声明，可能会进行严厉处罚。有关详细信息和完整说明，请参考我们的<a target="_blank" href="/t/dmca_policy">版权中心</a>。
      </p>
      <p class="flag-video-result hid" id="flag-video-result-privacy-center">
         为了处理隐私权投诉，我们需要您提供更多信息。有关详细信息和要提交的表单，请参阅我们的<a target="PrivacyCenter" href="http://www.youtube.com/t/privacy_guidelines">隐私权中心</a>。
      </p>
      <p class="flag-video-result hid" id="flag-video-result-bullying">
         为了帮助我们更好地了解您的恐吓诉状，我们需要其他详细信息。有关详细信息和要提交的表单，请参考我们的<a target="helpCenter" href="http://youtube.com/t/safety">安全中心</a>。
      </p>
      <p class="flag-video-result hid" id="flag-video-result-legal-claim">
         为了处理法律声明，我们需要您提供更多信息。有关详细信息和要提交的表单，请参考我们的<a target="HelpCenter" href="//support.google.com/youtube/bin/answer.py?answer=140536">帮助中心</a>。
      </p>
   </div>
</div>