<p>
  <input type="checkbox" value="1" name="presentation[have_version_date]" id="presentation_have_version_date" readonly="readonly" <%= 'checked="checked"' if courseware.version_date[courseware.version.to_s].present? %> >&nbsp;<label for="presentation_have_version_date">标记课件版本</label>

  <span class="details" id="presentation_version_date_details" style="display: none;">
     <label for="presentation_version_date">，本课件的使用日期为:</label>
     <input type="text" value="<%= courseware.version_date[courseware.version.to_s]%>" size="48" name="presentation[version_date]" id="presentation_version_date" class="datepicker publish-date hasDatepicker">
  </span>
</p>
  <% content_for :butt2 do %>
    $('#presentation_have_version_date').on('change',function(){
      if(this.checked){
        $('#presentation_version_date_details').show();
      }else{
        $('#presentation_version_date_details').hide();
      }
    });
    $('#presentation_have_version_date').trigger('change');
    $('#presentation_have_version_date').removeAttr('readonly');
    $('#presentation_version_date').click(function(){
      JTC.setday({format:'yyyy年MM月dd日', readOnly: true});
    });
  <% end %>    



<p>
  <input type="checkbox" value="1" name="presentation[have_pw]" id="presentation_have_pw" readonly="readonly" <%= 'checked="checked"' if courseware.have_pw %> >&nbsp;<label for="presentation_have_pw">只有输入密码才能下载本课件</label>
  <% content_for :butt2 do %>
    $('#presentation_have_pw').on('change',function(){
      if(this.checked){
        $('#presentation_pw_details').show();
      }else{
        $('#presentation_pw_details').hide();
      }
    });
    $('#presentation_have_pw').trigger('change');
    $('#presentation_have_pw').removeAttr('readonly');
  <% end %>    
  <span class="details" id="presentation_pw_details" style="display: none;">
     <label for="presentation_pw">，<% if courseware.pw.present? %>修改密码或留空<% else %>请设置密码<% end %>:</label>
     <input type="password" value="" size="38" name="presentation[pw]" id="presentation_pw" class="">
  </span>

</p>
