<%= sort %>
        <li data-is-private="False" data-title="收藏" class="playlist-item-favorite">
            <span class="playlist-title">
            收藏
            <span class="playlist-video-count-container">
            (<span class="playlist-video-count">0</span>)
            </span>
            </span>
            <span class="playlist-public-private">
            公开
            </span>
         </li>
         
         
         <li data-time-created="1349352586" data-is-private="False" data-playlist-id="cwVgMt75JZKFVmjO0ymFMUtY7Mw9B0XA" data-title="aa" class="playlist-item">
            <span class="playlist-title">
            aa
            <span class="playlist-video-count-container">
            (<span class="playlist-video-count">1</span>)
            </span>
            </span>
            <span class="playlist-public-private">
            公开
            </span>
            <span class="created-at">1 秒前</span>
            <form method="post" action="/ajax/add_comment_to_playlist" class="playlist-note-form ytg-box hid">
               <input type="hidden" value="aa" class="playlist-name">
               <input type="hidden" value="cwVgMt75JZKFVmjO0ymFMUtY7Mw9B0XA" name="playlist_id">
               <span class="playlist-note yt-uix-form-input-container"><input placeholder="添加可选备注" name="annotation" class="yt-uix-form-input-text playlist-note"></span>
               <button role="button" onclick=";return false;" class="save-note yt-uix-button yt-uix-button-primary" type="submit"><span class="yt-uix-button-content">添加备注 </span></button>
               <button role="button" onclick=";return false;" class="cancel-note yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">关闭 </span></button>
            </form>
            <div style='clear:both' ></div>
         </li>
         <li data-time-created="1349352586" data-is-private="False" data-playlist-id="cwVgMt75JZKFVmjO0ymFMUtY7Mw9B0XA" data-title="aa" class="playlist-item">
            <span class="playlist-title">
            ADSFA
            <span class="playlist-video-count-container">
            (<span class="playlist-video-count">1</span>)
            </span>
            </span>
            <span class="playlist-public-private">
            公开
            </span>
            <span class="created-at">1 秒前</span>
            <form method="post" action="/ajax/add_comment_to_playlist" class="playlist-note-form ytg-box hid">
               <input type="hidden" value="aa" class="playlist-name">
               <input type="hidden" value="cwVgMt75JZKFVmjO0ymFMUtY7Mw9B0XA" name="playlist_id">
               <span class="playlist-note yt-uix-form-input-container"><input placeholder="添加可选备注" name="annotation" class="yt-uix-form-input-text playlist-note"></span>
               <button role="button" onclick=";return false;" class="save-note yt-uix-button yt-uix-button-primary" type="submit"><span class="yt-uix-button-content">添加备注 </span></button>
               <button role="button" onclick=";return false;" class="cancel-note yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">关闭 </span></button>
            </form>
            <div style='clear:both' ></div>
         </li>