<div id="upload">
  <%= yield :upload_armpit%>
  <h1>请选择课件 <br><span style="font-size:14px">目前支持格式: PDF, Djvu, PPT, PPTX, DOC, DOCX<br> 打包上传格式: ZIP, RAR, 7Z</span></h1>
  <div class="steps">
    <div class="presentation_wrapper">
      <div class="step">
        <div id="uploader">
          <input id="presentation_pdf" name="presentation[pdf]" type="file" />
        </div>
      </div>
      <h1>发布进度</h1>
      <div class="step">
        <div id="upload_progress" class="progress_bar inactive">
          <div class="progress_title">上传进度</div>
          <div class="progress_meter"></div>
        </div>
      </div>
      <div class="step">
        <div id="process_progress" class="progress_bar inactive">
          <div class="progress_title">转码进度</div>
          <div class="progress_meter"></div>
        </div>
      </div>
    </div>
  </div><!-- /steps -->
  <p id="ok_to_leave" style="display:none">此时您可安全地离开本页面，我们将在后台自动处理您的课件。</p>
</div>
