_assets/
quora.out

git_sensitive*
**.orig
.DS_Store
**.swp
**.war
*.rbc
*.sassc
.rspec
.redcar/
.sass-cache

build/
*.a
*.o
*.log


/trunk/config/mongoid.yml
/trunk/config/redis.yml
/trunk/config/setting.yml
/trunk/auxiliary/ftp/
/trunk/nohup.out
/trunk/.bundle
/trunk/vendor/bundle/
/trunk/log/
/trunk/log_staging/
/trunk/tmp/
/trunk/tmp_staging/
/trunk/coverage.data
/trunk/coverage/
/trunk/doc/api/
/trunk/doc/app/
/trunk/doc/features.html
/trunk/doc/specs.html
/trunk/public/cache
/trunk/public/system
/trunk/spec/tmp/*
/trunk/cache
/trunk/capybara*
/trunk/capybara-*.html
/trunk/gems
/trunk/rerun.txt
/trunk/spec/requests
/trunk/spec/routing
/trunk/spec/views
/trunk/specifications
/trunk/public/assets
/trunk/public/tmp

/bbs/log

/machin131/cs/*/obj
/machin131/cs/*/bin
/machin131/cs/restResults

/trunk/public/uploads/tmp/
