tmp.*
tmp/
log/
/uc/data/
/simple/simple/data/
/simple/simple/uc_client/data/
/win/ConvertPowerPoint2PDF/ConvertPowerPoint2PDF/bin/
/win/ConvertPowerPoint2PDF/ConvertPowerPoint2PDF/obj/
/win/ConvertWord2PDF/ConvertWord2PDF/bin/
/win/ConvertWord2PDF/ConvertWord2PDF/obj/
_assets/
quora.out

git_sensitive*
**.orig
.DS_Store
**.swp
**.war
*.rbc
*.sassc
*.tar.gz
.rspec
.redcar/
.sass-cache

build/
*.a
*.o
*.log


/trunk/config/mongoid.yml
/trunk/config/redis.yml
/trunk/config/setting.yml
/trunk/auxiliary/ftp/
/trunk/nohup.out
/trunk/.bundle
/trunk/vendor/bundle/
/trunk/log/
/trunk/log_staging/
/trunk/tmp/
/trunk/tmp_staging/
/trunk/coverage.data
/trunk/coverage/
/trunk/doc/api/
/trunk/doc/app/
/trunk/doc/features.html
/trunk/doc/specs.html
/trunk/public/cache
/trunk/public/system
/trunk/spec/tmp/*
/trunk/cache
/trunk/capybara*
/trunk/capybara-*.html
/trunk/gems
/trunk/rerun.txt
/trunk/spec/requests
/trunk/spec/routing
/trunk/spec/views
/trunk/specifications
/trunk/public/assets
/trunk/public/tmp
/trunk/public/uploads/tmp/
