<div class="contentItem" style="background:url("http://kejian.tv/assets/usermailerbg.png") repeat-x left bottom;padding:20px;">
		<div style="margin:5px 0;">
			<dl>
				<dt><a target="_blank" href="<%= ask_url(@ask.id, :anchor => "answer_#{@answer.id}") %>" style="color:#360;font-weight:bold;font-size:14px;text-decoration:none;"><%= @ask.title %></a>有了新的解答</dt>
				<dd style="margin-left:0;font-size:12px">
					<%= user_name_tag(@answer.user, :url => true, :target=>"_blank", :style=>"color:#360;font-weight:bold;font-size:14px;text-decoration:none;") %>说<br>
					<%= md_body(@answer.body) %>
				</dd>
		</dl></div>
	</div>