<div class="contentItem" style="background:url("http://kejian.tv/assets/usermailerbg.png") repeat-x left bottom;padding:20px;">
		<div style="margin:5px 0;">
			<%= user_name_tag(@ask.user, :url => true, :target=>'_blank') %>向你询问<br>
			·<a href="<%= ask_url(@ask.id) %>" class="url" target="_blank" style="color:#360;font-weight:bold;font-size:14px;text-decoration:none;"><%= @ask.title %></a>
		</div>
</div>