<!doctype html>
<html>
  <head>
    <style>
      body {
        color:#666;
        font:14px/2em simsun;
        background-color:#f1feea;
      }
      h6{
        font:bold 14px/2em simsun;
        margin:0;
      }
      p {
        margin:0;padding:0;
      }
      a {
        color:#360;
        font-weight:bold;
        font-size:14px;
        text-decoration:none;
      }
      dd {
        margin-left:0;
        font-size:12px;
      }
      dd a {
        font-size:12px;
      }
      .header {
        width:650px;height:47px;
        margin:5px auto;
      }
      .notifier {
        border-bottom:1px solid #ccc;
        font-weight:bold;
        width:600px;
        margin:0 auto;
        height:40px; line-height:50px;
      }
      .main {
        width:650px;
        margin:0 auto;
        border:1px solid #ccc;
        background-color:#fff;
      }
      .footer {
        width:650px;
        margin:0 auto;
        text-align:right;
        font-size:12px;
      }
      .contentItem {
        background:url("http://kejian.tv/assets/usermailerbg.png") repeat-x left bottom;
        padding:20px;
      }
      .contentItem div {
        margin:5px 0;
      }
      .pictureItem {
        font-size:12px;
      }
      .pictureItem img {
        float:left;
        margin-right:10px;
      }
    </style>
  </head>
  <body>
    <div class="header" style="width:650px;height:47px;margin:5px auto;">
      <img src="http://kejian.tv/assets/usermailerlogo.png" width="650" height="47" />
    </div>
    <div class="main" style="width:650px;margin:0 auto;border:1px solid #ccc;background-color:#fff;">
      <div class="contentItem" style="background:url('http://kejian.tv/assets/usermailerbg.png') repeat-x left bottom;padding:20px;">
        <div style="margin:5px 0;">
          您好！您举报的《<%=link_to @ask.title,Setting.domain+@report.url%>》<%=@report.handled_text.split(",",2)[0]%>。处理说明：<%=@report.handled_text.split(",",2)[1]%>。谢谢您的举报！
        </div>
      </div>
    </div>
    <div class="footer">
      这是一封系统邮件，请勿回复<br/>
      http://kejian.tv | 邮件通知设置
    </div>
  </body>
</html>
