<div style="margin:10px 20px;border-bottom:1px solid #bbb;">
<p style="margin:0;padding:0;">你已经成功地注册成为了<%= Setting.app_name %>的成员.</p>
<ul>
<li>姓名: <%= @user.name %></li>
<li>账号: <%= @user.email %></li>
</ul>
<br />
<p style="margin:0;padding:0;">
Kejian.TV目前还处于Alpha阶段，我们正在努力完善它，如果有题还请多多谅解。<br /><br />
反馈与建议可以发往:<br />
<%= link_to 'http://kejian.tv/bugtrack','http://kejian.tv/bugtrack', :target=>"_blank" %>
</p>
</div>