(($) ->
  window.KTV = {}
  window.KTV.Utilities = {}
  window.KTV.data = {}
  KTV.search_cache = {}
  KTV.sss_term_cache = {}

  KTV.sss_escape = (str) ->
    ret=encodeURI(str);
    ret=ret.split('!').join('%21');
    ret=ret.split('@').join('%40');
    ret=ret.split('#').join('%23');
    ret=ret.split('$').join('%24');
    ret=ret.split('&').join('%26');
    ret=ret.split('*').join('%2A');
    ret=ret.split('(').join('%28');
    ret=ret.split(')').join('%29');
    ret=ret.split('=').join('%3D');
    ret=ret.split(':').join('%3A');
    ret=ret.split('/').join('%2F');
    ret=ret.split(';').join('%3B');
    ret=ret.split('?').join('%3F');
    ret=ret.split('+').join('%2B');
    ret=ret.split("\'").join('%27');
    ret
  KTV.ajaxize = (els)->
    els.bind("ajax:loading", ->
      showloading()
    ).bind("ajax:complete", ()->
      showloading('none')
    ).bind('ajax:error', (xhr, data, status) ->
      showDialog(data['statusText'], 'alert', '请求失败', null, true, null, '', '', '', 3)
    )
  KTV.sss = (will_blur)->
    $('#psvr_gtable').hide()
    term = $('#gbqfq').val()
    $('#gbqfq').blur() if will_blur
    if term!=window.search_current_loaded
      $('.psvr_search_whitebox').show()
      url1=window.location.pathname.split('/')[1]
      url2=KTV.sss_escape(term)
      url = "/#{url1}/#{url2}"
      console.log(url);
      History.pushState({url:url}, "#{document.title.split(' - ')[0]} - #{term}", decodeURI(url)) if ( window.History.enabled )
      $.get(url,{per_page:10},( data, status, xhr ) ->
        $('#pocs').hide()
        window.search_current_loaded = data['term']
        $('#content').html(data['content'])
        $('#main').html(data['main'])
        $('.psvr_search_whitebox').hide()
        if url1 is 'search_teachers' or url1 is 'search_courses' or url1 is 'search_users'
          $.each(data['terms'],(index,itemRaw)->
            $('#mainbar').highlight(itemRaw,'search-highlight');
          )
        jQuery('#main').height(jQuery('#mainbar').height()+88);
        jQuery('.psvr_search_whitebox').height(jQuery('#main').height()-64);
      , 'json')
  KTV.sss_op = ->
    KTV.dz_targetize();
    $('#psvr_dz_target').resize(KTV.dz_targetize);
    $('#gbqfqw').click(->
      $('#gbqfq').focus();
    );
    $('#gbqfq').focus(->
      $('#gbqfqw').addClass('focused');
    ).blur(->
      $('#gbqfqw').removeClass('focused');
    );
    $('#gbqf').submit(->
      KTV.switch_inside_sss() unless window.switched_inside_sss 
      KTV.sss(true)
      false
    )
    $('#content').click((e)->
      $('#psvr_gtable').hide()
      e.stopPropagation()
    )
    $('#main').click((e)->
      $('#psvr_gtable').hide()
      e.stopPropagation()
    )
    $('#gbqfq').bind('keydown',(e)->
      return true unless $(this).val().match(/\S/)
      KTV.switch_inside_sss();
      $(this).unbind('keydown');
      $('#gbqfq').autocomplete({
        minLength: 0,
        source: ( request, response ) ->
          term = request.term
          if term.length > 0
            KTV.sss(false)
          if KTV.sss_term_cache[term]
            KTV.sss_term_cater( KTV.sss_term_cache[ term ], term )
          else
            $.get("/autocomplete/swords", request, ( data, status, xhr ) ->
              KTV.sss_term_cater( data, term )
            , 'json')
      });
      $('#gbqfq').bind( "input.autocomplete", ->
        $(this).trigger('keydown.autocomplete')
      )
    )
    KTV.sss_tr_op();
    
  KTV.sss_term_cater = (data,term)->
    if data is null or data.length is 0
      $('#psvr_gtbody').html('')
      $('#psvr_gtable').hide()
    else
      ret = ''
      $.each(data,(index,itemRaw)->
        ret += "<tr class=\"\">\
          	<td class=\"gssb_a gbqfsf\" dir=\"ltr\" style=\"text-align: left;\">\
          		<div class=\"gsq_a\">\
          			<table cellspacing=\"0\" cellpadding=\"0\" style=\"width: 100%;\">\
          			<tbody>\
          			<tr>\
          				<td style=\"width: 100%;\">\
          					<span class=\"psvrtarget\">#{itemRaw['title']}</span>\
          				</td>\
                  <td><a href=\"/search_lucky/#{itemRaw['title']}\" class=\"gssb_j\">手气不错 »</a></td>\
          			</tr>\
          			</tbody>\
          			</table>\
          		</div>\
          	</td>\
          </tr>\
          "
      )
      $('#psvr_gtbody').html(ret)
      $('#psvr_gtable').show()
    KTV.sss_tr_op();
    
  KTV.switch_inside_sss = ->
    window.switched_inside_sss = true
    $('#gbx1').show()
    $('#gbq2').css('top','22px');
    $('#gbqfbw').css('display','inline-block');
    $('.psvr_zhuzhan').hide();
    $('#gbqfbwa').hide();
    $('.gbqfh #gbqf').css({
      'margin': '0 0 0 16px',
      'width': '851px',
      'padding': '0'
    })
    $('#gbqfq').css({
      width:'826px'
    });
    $('#lga').hide();
    $('#pocs').show();
  
  KTV.sss_tr_op = ->
    $('#psvr_gtbody .gssb_j').hide();
    $('#psvr_gtbody>tr').hover(->
      $(this).addClass('gssb_i')
      $('.gssb_j',this).show()
    ,->
      $(this).removeClass('gssb_i')
      $('.gssb_j',this).hide()
    ).click((e)->
      $('#gbqfq').val($('.psvrtarget',this).text())
      KTV.sss(true)
    )
    length=$('#psvr_gtbody>tr').length
    if 0==length
      $('#pocs').css('top',48)
    else
      $('#pocs').css('top',52+length*22)

  KTV.ytb_targetize = ->
    jQuery('#comments').height(jQuery('#watch-main-container').height());
  KTV.reg05_targetize = ->
    hhh = jQuery('#bind_service_target').height()+9
    hhh=444 if hhh<444
    jQuery('#content_reg05').height(hhh);

  KTV.ln_bind_targetize = ->
    hhh = jQuery('#bind_service_target').height()+88
    hhh=444 if hhh<444
    jQuery('#content').height(hhh);
    jQuery('#bind_service_target').css('top',jQuery('#content').offset().top+55);
    jQuery('#pagekey-nprofile-edit-success').css('top',jQuery('#content').offset().top)
    jQuery('#pagekey-nprofile-psvr-skp').css('top',jQuery('#content').offset().top+184)
  KTV.q_targetize = ->
    hhh = jQuery('#q_target').height()
    hhh=444 if hhh<444
    jQuery('#content_reg05').height(hhh);

  KTV.lnreg_targetize = ->
    hhh = jQuery('#lnreg_target').height()+16
    hhh=444 if hhh<444
    jQuery('#content_reg05').height(hhh);

  KTV.ln_targetize = ->
    hhh = jQuery('#pagekey-nprofile-edit-success').height()+88
    hhh=444 if hhh<444
    jQuery('#content').height(hhh);
    jQuery('#pagekey-nprofile-edit-success').css('top',jQuery('#content').offset().top)
    jQuery('#pagekey-nprofile-psvr-skp').css('top',jQuery('#content').offset().top+184)
  KTV.dz_targetize = ->
    $('#content').height($('#psvr_dz_target').height());
  KTV.sdk_flashes_set = (type,msg)->
    $('#sdk_flashes').html("<p class=\"flash #{type}\">#{msg}</p>");
    $("#sdk_flashes .#{type}").fadeOut().fadeIn();
  KTV.sdk_flashes_clear = ->
    $('#sdk_flashes').html("");
  KTV.headnav_css = ->
    header0 = $('#header0 div div:not(.active)')
    $('img',header0).fadeTo(0,'0.7')
    header0.mouseenter(->
      $('img',this).fadeTo(0,'1')
      $('a',this).css('color','white');
    ).mouseleave(->
      $('img',this).fadeTo(0,'0.7')
      $('a',this).css('color','#C2C2C2');
    )
    $('#slab1,#slab2,#slab3,#slab4').click((e)->
      window.location.href = $('a',this).attr('href');
      return false;
    );
  KTV.new_cw_trigger_teachers = ->
    $('#presentation_teacher_select li').off().on('click',(e)->
      e.stopPropagation()
      $('#presentation_teacher_select li').removeClass('current')
      $(this).addClass('current')
      $('#presentation_teacher').val($(this).text())
      $('#presentation_teacher_select').hide()
      $('#presentation_teacher_hv').removeClass('right_on')
      if($(this).hasClass('opt_psvr_add_more'))
        $('#presentation_other_teacher').show()
      else
        $('#presentation_other_teacher').hide()
    )

  KTV.new_cw_load_teachers = ->
    $('#presentation_teacher').val("请选择老师")
    $('#presentation_teacher_select li.first-child').addClass('current')
    $('#presentation_teacher_select_dynamic').html('')
    $('#presentation_other_teacher').hide()
    $('#presentation_teacher_select').hide()
    $('#presentation_teacher_hv').removeClass('right_on')
    jQuery.getJSON('/ajax/get_teachers.json?psvr_f='+window.psvr_f,(data)->
      for teacher in data
        $('#presentation_teacher_select_dynamic').append('<li>' + teacher + '</li>');
      KTV.new_cw_trigger_teachers()
    )
  KTV.summonQL = (playlist_id, bar_max) ->
	  $.ajax(
	    url: "/ajax/summonQL"
	    type: "POST"
	    data:
	      authenticity_token: encodeURIComponent(AUTH_TOKEN)
	      playlist_id: playlist_id
	      bar_max: bar_max
	    dataType: "json"
	  ).done (json) ->
	    if json.status is "suc"
	      $("#pl_ytb").show()
	      $("#pl_ytb #page").html json.html
	
  KTV.upload_page_new_cws_load_teachers = ->
    $('.department_online').parents('.metadata-container').find('.yt-uix-form-input-select-content.presentation_teacher_span .yt-uix-form-input-select-value').html("请选择老师");
    $('.department_online').parents('.metadata-container').find('.presentation_other_teacher').hide();
    # $('.department_online').parents('.metadata-container').find('.presentation_teacher_hv').removeClass('right_on')
    jQuery.getJSON('/ajax/get_teachers.json?psvr_f='+$('.department_actived').parents('.metadata-container').find('.psvr_f').val(),(data)->
      $('.department_online').parents('.metadata-container').find('.yt-uix-form-input-select-content.presentation_teacher_span .yt-uix-form-input-select-value').html("请选择老师");
      $('.department_online').parents('.metadata-container').find('select.presentation_teacher_select_dynamic').html('');
      $('.department_online').parents('.metadata-container').find('.presentation_other_teacher').hide();
      $('.department_online').parents('.metadata-container').find('select.presentation_teacher_select_dynamic').append('<option value="">请选择老师</option>');
      for teacher in data
        $('.department_online').parents('.metadata-container').find('select.presentation_teacher_select_dynamic').append('<option value="' + teacher + '">' + teacher + '</option>');
      $('.department_online').parents('.metadata-container').find('select.presentation_teacher_select_dynamic').append('<option value="opt_psvr_add_more">其他</option>');
      # KTV.upload_page_new_cw_trigger_teachers()
      $('.department_online').removeClass('department_online');
    )
  # KTV.upload_page_new_cw_trigger_teachers = ->
  #   $('select.presentation_teacher_select_dynamic option').off().on('click',(e)->
  #     if($(this).val() == 'opt_psvr_add_more')
  #       $(this).parents('.metadata-container').find('.presentation_other_teacher').show();
  #     else
  #       $(this).parents('.metadata-container').find('.presentation_other_teacher').hide();
  #   )
		
  KTV.upload_page_generate  = (g,f,t) ->
    $('.department_actived').parents('.metadata-container').find('.psvr_g').val(g).change(); # window.psvr_g
    $('.department_actived').parents('.metadata-container').find('.psvr_f').val(f).change();	# window.psvr_f=selectfid
    $('.department_actived').parents('.metadata-container').find('.kejian-settings-department').val(t);
    KTV.upload_page_new_cws_load_teachers()
    hideWindow('nav');
    $('.department_actived').removeClass('department_actived').addClass('department_online');
	
  KTV.Utilities.wrap_with_matches = (str,keyword)->
    objRegExp = /// (
      #{keyword}
    ) ///i
    return false if null==str.match(objRegExp)
    return str.replace(objRegExp, "<span class=\"match\">$1</span>")

  KTV.Utilities.slice_with_matches = (str,keyword,length=3)->
    objRegExp = /// (
      #{keyword}
    ) ///i
    matched = str.match(objRegExp)
    return false if null==matched
    matched = matched[0]
    parts = str.split(matched)
    joiner = "<span class=\"match\">#{matched}</span>"
    ret = ''
    ret += KTV.Utilities.left_trim(parts[0],length)
    ret += joiner
    ret += KTV.Utilities.right_trim(parts[1],length)
    ret

  KTV.Utilities.left_trim = (str,length) ->
    if str.length > length
      "...#{str[(str.length-length)..(str.length-1)]}"
    else
      str
  KTV.Utilities.right_trim = (str,length) ->
    if str.length > length
      "#{str[0..(length-1)]}..."
    else
      str

  KTV.preload = (arrayOfImages) -> 
    $(arrayOfImages).each(->
      $('<img/>')[0].src = this
    )

  KTV.search_move = (dir) ->
    current_which = $("#core_search_ul li.selected").first()
    next_which = current_which.next('li')
    prev_which = current_which.prev('li')
    target = null
    if current_which.length > 0
      if dir is 1
        if next_which.length > 0
          target = next_which.first()
        else
          target = $("#core_search_ul li").first()
      else if dir is -1
        if prev_which.length > 0
          target = prev_which.first()
        else
          target = $("#core_search_ul li").last()
    if target
      current_which.removeClass('selected')
      target.addClass('selected')

  KTV.search_li_hover = ->
    $('#psvr_bd_place dd').hover(->
      $(this).addClass('over')
      window.psvr_search_li_hovered = true
    ,->
      $(this).removeClass('over')
      window.psvr_search_li_hovered = false
    )
    if $('#core_search_ul li.selected').length is 0
      $('#core_search_ul li').first().addClass('selected')
  KTV.search_cater = (data,term) ->
    term2 = [term]
    $('#psvr_bd_place').html('')  
    keyword = term
    last_one = new_one = ''
    failed = false
    if data is null or data.length is 0
      $('#psvr_bd_place_wrapper').hide()
      $('#psvr_bd_place_huichenotice').hide()
      return false
    else
      ret = ''
      $('#psvr_bd_place_wrapper').show()
      $.each(data,(index,itemRaw)->
        if 'Teacher'==index
          ret += "<dl class=\"sug-album clearfix\" style=\"width:#{window.psvr_search_cache_width-40}px\">\
              <dt class=\"sug-title clearfix\">老师</dt>"
          for tch in itemRaw
            if tch['avatar_small40']
              avatar=tch['avatar_small40']
            else
              avatar='/defaults/avatar/small40.png'
            ret+="<dd><a href=\"/teachers/#{tch['id']}\"><div class=\"borderdiv\"><img src=\"#{avatar}\" alt=\"#{tch['title']}\" height=\"40\" width=\"40\"></div><div>#{tch['title']}</div><div class=\"artistname\">#{tch['redis_search_alias']}, #{tch['coursewares_count']}个课件</div></a></dd>"
          ret += "</dl>"
        else if 'Department'==index
          ret += "<dl class=\"sug-artist clearfix\" style=\"width:#{window.psvr_search_cache_width-40}px\">\
    				<dt class=\"sug-title clearfix\">院系</dt>"
          for dpt in itemRaw
            if dpt['cover_small38']
              cover=dpt['cover_small38']
            else
              cover='/defaults/cover/small40.gif'
            ret+= "<dd class=\"first-item\"><a href=\"/departments/#{dpt['fid']}\"><img src=\"#{cover}\" alt=\"#{dpt['title']}\" height=\"40px\" width=\"40px\"><span>#{dpt['title']}</span></a></dd>"
          ret+="</dl>"
        else if 'Course'==index
          ret += "<dl class=\"sug-song clearfix\" style=\"width:#{window.psvr_search_cache_width-40}px\">\
      				<dt class=\"sug-title clearfix\">课程</dt>"
          for crs in itemRaw
            ret += "<dd class=\"first-item\"><a href=\"/courses/#{crs['fid']}\"><span class=\"songname\">#{crs['title']}</span><span class=\"artistname\"><i class=\"h-line\">-</i>#{crs['department_name']}, #{crs['ctype']}. #{crs['teachers'].join(', ')}</span></a></dd>"
          ret+="</dl>"
        else if 'Courseware'==index
          ret += "<dl class=\"sug-song clearfix\" style=\"width:#{window.psvr_search_cache_width-40}px\">\
      				<dt class=\"sug-title clearfix\">课件</dt>"
          for cw in itemRaw
            ret += "<dd><a href=\"/coursewares/#{cw['id']}\"><span class=\"songname\">《#{cw['title']}》</span><span class=\"artistname\"> <i class=\"h-line\">-</i>#{cw['teachers'].join(', ')}, #{cw['course_name']}, #{cw['slides_count']}页</span></a></dd>"
          ret += "</dl>"
        else if 'PlayList'==index
          ret += "<dl class=\"sug-song clearfix\" style=\"width:#{window.psvr_search_cache_width-40}px\">\
      				<dt class=\"sug-title clearfix\">锦囊</dt>"
          for pl in itemRaw
            ret += "<dd><a href=\"/play_lists/#{pl['id']}\"><span class=\"songname\">【#{pl['coursewares_count']}个课件】#{pl['title']}</span><span class=\"artistname\"> <i class=\"h-line\">-</i>#{pl['courseware_titles'].join(', ')}</span></a></dd>"
          ret += "</dl>"
        else if 'User'==index
          ret += "<dl class=\"sug-album clearfix\" style=\"width:#{window.psvr_search_cache_width-40}px\">\
    				<dt class=\"sug-title clearfix\">用户</dt>"
          for usr in itemRaw
            if '_'==usr['title'][0]
              name = usr['title'].substr(1,usr['title'].length-1)
            else
              name = usr['title']
            if usr['tagline']
              tagline = usr['tagline']+', '
            else
              tagline = ''
            ret+="<dd><a href=\"/users/#{usr['id']}\"><div class=\"borderdiv\"><img src=\"http://uc.<%=Setting.ktv_domain%>/avatar.php?uid=#{usr['uid']}&size=small\" alt=\"#{name}\" height=\"40\" width=\"40\"></div><div>#{name}</div><div class=\"artistname\">#{tagline}#{usr['followers_count']}个粉丝, #{usr['following_count']}个关注, #{usr['coursewares_uploaded_count']}个课件</div></a></dd>"
          ret += "</dl>"
        else if 'final'==index
          term2 = term2.concat(itemRaw)
          ret += "<dl class=\"sug-album clearfix\" style=\"padding-left: 5px;\">\
            <dd class=\"first-item\" style=\"border:none;\">\
            <a class=\"\" href=\"/search/#{KTV.sss_escape(term)}\" style=\"background: none repeat scroll 0% 0% rgb(248, 248, 248); font-size: 13px; line-height: 20px; padding-top: 9px;\">全部搜索结果：<span class=\"ci\">#{term}</span></a>\
            </dd>\
            </dl>"
        
                              
      )
      $('#psvr_bd_place').html(ret)
      console.log(term2)
      $.each(term2,(index,itemRaw)->
        $('#psvr_bd_place').highlight(itemRaw,'ci');
      )
      $('#psvr_bd_place_huichenotice').show()
      KTV.search_li_hover()
      
  KTV.login = ->
    im.zm.login()
    $("#loginLayout").definedDialog("open")
    KTV.core_login_css()
    return false;
  KTV.addCW = ->
    # todo
    return true
    im.zm.newcw()
    $("#loginLayout").definedDialog("open")
    return false
  KTV.topic_remove = ->
    $.post("/topics/#{KTV.data.topic_id}/update_fathers",{add:-1,name:$(this).attr('id').split('_')[0]},(data)->
      $("##{data.id}_already_father").remove()
    )
  KTV.core_login_css = ->
    $(".core_spetial").hover(->
      if KTV.spetial_src1
        $(".core_spetial").attr "src", KTV.spetial_src1
    , ->
      if KTV.spetial_src0
        $(".core_spetial").attr "src", KTV.spetial_src0
    )
    $(".core_renren").hover(->
      if KTV.renren_src1
        $(".core_renren").attr "src", KTV.renren_src1
    , ->
      if KTV.renren_src0
        $(".core_renren").attr "src", KTV.renren_src0
    )

  jQuery ->
    $('#search_form').submit(->
      false
    )
    $('#q').keyup((e)->
      if e.which is 13
        e.preventDefault()
        e.stopPropagation()
        window.location.href = "/search/#{KTV.sss_escape($('#q').val())}"
    )
    window.psvr_search_cache_width = $('#psvr_bd_place_wrapper .shadowleft').width();
    $('#q').autocomplete(
      minLength: 1,
      source: ( request, response ) ->
        term = request.term
        if KTV.search_cache[term]
          console.log 'cache hit'
          KTV.search_cater( KTV.search_cache[ term ], term )
        else
          $('#search_form').addClass("searching")
          $.get("/autocomplete/all", {q:KTV.sss_escape(request.term)}, ( data, status, xhr ) ->
            $('#search_form').removeClass("searching")
            KTV.search_cache[term]=data
            KTV.search_cater( data, term )
          , 'json')
    )
    $('#q').focus((e)->
      $('div.navigation').fadeOut('fast')
      $('#search_form').animate({
        width: $('#search_form').data('width-tobe')
      }, 200, ->
      )
      true
    ).blur((e)->
      $('#psvr_bd_place_huichenotice').hide();
      return false if window.psvr_search_li_hovered
      $('#search_form input').removeClass('focused')
      $('#psvr_bd_place_wrapper').hide()
      $('#search_form').animate({
        width: jQuery('#search_form').data('width-orig')
      }, {duration: 200, queue:false})
      $('div.navigation').fadeIn('fast')
      true
    )
    KTV.core_login_css()
    $("#core_logotext_wrap").hover(->
      if KTV.logo_css_src1
        $("#core_logotext").attr "src", KTV.logo_css_src1
    , ->
      if KTV.logo_css_src0
        $("#core_logotext").attr "src", KTV.logo_css_src0
    )
    $("#core_browsetext_wrap").hover(->
      if KTV.browsetext_css_src1
        $("#core_browsetext").attr "src", KTV.browsetext_css_src1
    , ->
      if KTV.browsetext_css_src0
        $("#core_browsetext").attr "src", KTV.browsetext_css_src0
    )
    $("#core_addtext_wrap").hover(->
      if KTV.addtext_css_src1
        $("#core_addtext").attr "src", KTV.addtext_css_src1
    , ->
      if KTV.addtext_css_src0
        $("#core_addtext").attr "src", KTV.addtext_css_src0
    )
    $('.question-summary').hover(->
      $('.vspiic',this).show()
    ,->
      $('.vspiic',this).hide()
    )
    $('.vspiic').click(->
      $('#cw_previwer').show()
    )
    # $('#cw_newhuge,#core_addcw_wrap,.gonna_new_courseware').click(->
    #   hideWindow('nav')
    #   url = '/simple/forum.php?mod=misc&action=nav'
    #   if document.URL.match(/\/departments\/(\d+)$/)
    #     url += '&psvr_g='+RegExp.$1
    #   showWindow('nav', url, 'get', 0)
    #   false
    # )
    $('#presentation_teacher_hv').off().on('click',(e)->
      e.stopPropagation()
      $('#presentation_teacher_hv').toggleClass('right_on')
      $('#presentation_teacher_select').toggle()
    )
    $('#presentation_sort1_hv').off().on('click',(e)->
      e.stopPropagation()
      $('#presentation_sort1_hv').toggleClass('right_on')
      $('#presentation_sort1_select').toggle()
    )
    KTV.new_cw_trigger_teachers()
    $('#presentation_sort1_select li').off().on('click',(e)->
      e.stopPropagation()
      $('#presentation_sort1_select li').removeClass('current')
      $(this).addClass('current')
      $('#presentation_sort1').val($(this).text())
      $('#presentation_sort1_select').hide()
      $('#presentation_sort1_hv').removeClass('right_on')
      if($(this).hasClass('opt_psvr_add_more'))
        $('#presentation_other_sort1').show()
      else
        $('#presentation_other_sort1').hide()
    )
    core_people_cf_timer = null
    $('#core_people_cf li').click(->
      $('#core_people_cf li').removeClass('on')
      $(this).addClass('on')
      $('#core_people_cf_quotes li').removeClass('on')
      $($('#core_people_cf_quotes li')[$(this).data('no')]).addClass('on')
      next_who = ($(this).data('no') + 1) % 4
      clearTimeout(core_people_cf_timer) if core_people_cf_timer
      core_people_cf_timer = setTimeout(->
        $($('#core_people_cf li')[next_who]).trigger('click')
      , 2000);
    )
    KTV.weizuozhefasongganxie_click = ->
      num = parseInt($('#weizuozhefasongganxie2').html())
      if $('#weizuozhefasongganxie').is('.like')
        $.get('/coursewares/'+KTV.data.courseware_id+'/thank')
        $('#weizuozhefasongganxie').removeClass('grey')
        $('#weizuozhefasongganxie').addClass('purple')
        $('#weizuozhefasongganxie').removeClass('like')
        $('#weizuozhefasongganxie').addClass('unlike')
        $('#weizuozhefasongganxie').html('已顶')
        $('#weizuozhefasongganxie2').html(num+1)
        $('#weizuozhefasongganxie5').prepend('<div><a class="" href="/users/'+loginUser.slug+'"><img src="'+loginUser.avatarSmall47+'" alt="'+loginUser.nickname+'" width="47" height="47"></a></div>');
        $('#weizuozhefasongganxie6').html(num+1)
      
    $('#weizuozhefasongganxie').click( ->
      KTV.weizuozhefasongganxie_click();
    )
    $('#weizuozhefasongganxie3').click( ->
      KTV.weizuozhefasongganxie_click();
      $('#weizuozhefasongganxie3').hide();
      $('#weizuozhefasongganxie4').show();
    )
		
		
)(jQuery)
