<% content_for :butt2 do %>
jQuery('#llb_load_avatar_uploader').load("/simple/home.php?mod=spacecp&ac=avatar#llb_avatar_upload");
<% end %>


  <div id="llb_load_avatar_uploader" style="width:400px;height:200px;"></div>