<div class="__dz" style="margin-top:1px">
  <%
    @wp.css('#pt').unlink
    @wp.css('#ct .appl').unlink
    @wp.css('script[src^=static]').each{|x| x['src']="/simple/#{x['src']}"}
  %>
  <%= raw @wp %>
</div>
