
<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__kug.css", :media => "all" %>
<% end %>
<% content_for :body_style do %>background-image: url("<%= asset_path '/kug/images/bg.png' %>");background-repeat: repeat-x;<% end %>
<% content_for :zm_header_style do %>background: white;background-color: #EEE;background-repeat: repeat-x;background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#EEE));background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#EEE 100%);background-image: -ms-linear-gradient(top, whiteSmoke 0%,#EEE 100%);background-image: -o-linear-gradient(top, whiteSmoke 0%,#EEE 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );background-image: linear-gradient(top, whiteSmoke 0%,#EEE 100%);<% end %>
<%= render file:'/application/headers/_zm_header' %>


<div class="__kug" style="margin-top:2px">
<div class="content index-content">
	<div class="main">
		<div class="section">
			<p class="bb1 grey9">
				所有分类
			</p>
			<ul class="tag-list oh">
				<li><a href='/' class="tag-list-current">全部</a></li>
				<li><a href='/tag/index/4fe1fd5930ca788e2f001adf'>学科·入门</a></li>
				<li><a href='/tag/index/4fc3440230ca78844000084c'>外语</a></li>
				<li><a href='/tag/index/4f8d17d65c30536c33000005'>名校</a></li>
				<li><a href='/tag/index/4f8785fa5c30534d54000128'>名人</a></li>
				<li><a href='/tag/index/4f82b6245c3053eb5b0010c4'>小说</a></li>
				<li><a href='/tag/index/4f6185f75c305354370007e4'>产品·设计</a></li>
				<li><a href='/tag/index/4f6070a35c30533043000725'>历史·人文</a></li>
				<li><a href='/tag/index/4f6070425c3053072a000a9a'>生活</a></li>
				<li><a href='/tag/index/4f606f0a5c3053072a000a93'>科学·科普</a></li>
				<li><a href='/tag/index/4f606efb5c30535437000758'>职业·成长</a></li>
				<li><a href='/tag/index/4f606dc65c30535437000745'>文学</a></li>
				<li><a href='/tag/index/4f606d485c3053543700073d'>商业·经济</a></li>
				<li><a href='/tag/index/4f606ce35c3053543700072b'>IT技术</a></li>
			</ul>
		</div>
		<div>
			<div class="item">
				<div class="fr mt5">
					<a href="/booklist/view/4f77d14d5c3053d81b000112" class="btn btn-small btn-grey fb vote-num" title="投票数">20</a>
				</div>
				<h3 class="mt5 mb5"><a href="/booklist/view/4f77d14d5c3053d81b000112">谁有关于青春爱情的好书推荐几本？</a>
				<span class='grey9 f12'> [随机推荐]</span>
				</h3>
				<p class="grey9">
					本书单已有8本书，贡献者包括 <a href='/my/index/4f6849fd5c30533043000c31'> wendyzhang </a>、<a href='/my/index/4f54831a5c3053072a0000a1'> foreast </a>、<a href='/my/index/4f93ee4b5c30537718000362'> 志强ZQ </a>等 <span class="hidden">#好书推荐#</span>
				</p>
				<ul class="cover-wrapper oh mt20">
					<li><a href='/booklist/view/4f77d14d5c3053d81b000112#item_4f4ccd5f6803fa7817004b5d'><img alt='何以笙箫默' src='http://img1.kugwa.com/image/view/4f4cc1776803fa4c16047a76.jpg' title='何以笙箫默'></a></li>
					<li><a href='/booklist/view/4f77d14d5c3053d81b000112#item_4f4ccd7e6803fa781700fad8'><img alt='致我们终将逝去的青春（珍藏版）' src='http://img0.kugwa.com/image/view/4f4cc4b46803fa4c1606dbd3.jpg' title='致我们终将逝去的青春（珍藏版）'></a></li>
					<li><a href='/booklist/view/4f77d14d5c3053d81b000112#item_4f4ccdb16803fa7817020db2'><img alt='微微一笑很倾城' src='http://img0.kugwa.com/image/view/4f4cc01e6803fa4c16038626.jpg' title='微微一笑很倾城'></a></li>
					<li><a href='/booklist/view/4f77d14d5c3053d81b000112#item_4f4ccd806803fa781701021c'><img alt='佳期如梦' src='http://img0.kugwa.com/image/view/4f4cc3356803fa4c1605b3b1.jpg' title='佳期如梦'></a></li>
					<li><a href='/booklist/view/4f77d14d5c3053d81b000112#item_4f4ccda66803fa781701d2db'><img alt='我的青春从爱你开始' src='http://img1.kugwa.com/image/view/4f4cc2d86803fa4c16057190.jpg' title='我的青春从爱你开始'></a></li>
				</ul>
			</div>
			<div class="item">
				<div class="fr mt5">
					<a href="/booklist/view/4f56e6b55c3053032a00043d" class="btn btn-small btn-grey fb vote-num" title="投票数">61</a>
				</div>
				<h3 class="mt5 mb5"><a href="/booklist/view/4f56e6b55c3053032a00043d">程序员必读书单</a>
				<span class='grey9 f12'> [随机推荐]</span>
				</h3>
				<p class="grey9">
					本书单已有13本书，贡献者包括 <a href='/my/index/4f56ccdd5c3053052a000404'> 苍狼与白鹿 </a>、<a href='/my/index/4f56e4fe5c30535437000112'> 浪潮之垫 </a>、<a href='/my/index/4f547f635c3053032a00005e'> 李磊 </a>、<a href='/my/index/4f76cd655c3053a719000010'> kiny1982 </a>、<a href='/my/index/4f7887b25c3053d128000369'></a>等 <span class="hidden">#好书推荐#</span>
				</p>
				<ul class="cover-wrapper oh mt20">
					<li><a href='/booklist/view/4f56e6b55c3053032a00043d#item_4f4ccda06803fa781701b27c'><img alt='代码大全（第2版）' src='http://img0.kugwa.com/image/view/4f4cc37d6803fa4c1605e9d2.jpg' title='代码大全（第2版）'></a></li>
					<li><a href='/booklist/view/4f56e6b55c3053032a00043d#item_4f4ccdb46803fa7817022053'><img alt='算法导论' src='http://img0.kugwa.com/image/view/4f4cbe256803fa4c16021d93.jpg' title='算法导论'></a></li>
					<li><a href='/booklist/view/4f56e6b55c3053032a00043d#item_4f4ccda26803fa781701bea3'><img alt='The C Programming Language (2nd Edition)' src='http://img1.kugwa.com/image/view/4f4cc4b36803fa4c1606da6e.jpg' title='The' c programming language (2nd edition)></a></li>
					<li><a href='/booklist/view/4f56e6b55c3053032a00043d#item_4f4ccd546803fa7817000c79'><img alt='计算机程序设计艺术' src='http://img0.kugwa.com/image/view/4f4cbba66803fa4c16002aca.jpg' title='计算机程序设计艺术'></a></li>
					<li><a href='/booklist/view/4f56e6b55c3053032a00043d#item_4f4ccd576803fa7817002002'><img alt='重构' src='http://img0.kugwa.com/image/view/4f4cbe676803fa4c16024baa.jpg' title='重构'></a></li>
				</ul>
			</div>
			<div class="item">
				<div class="fr mt5">
					<a href="/booklist/view/4f5832a55c305330430001b5" class="btn btn-small btn-grey fb vote-num" title="投票数">13</a>
				</div>
				<h3 class="mt5 mb5"><a href="/booklist/view/4f5832a55c305330430001b5">自荐下生物学科普好书</a>
				<span class='grey9 f12'></span>
				</h3>
				<p class='grey9'>
					<a href='/my/index/4f936e625c3053fa08000aa5'>劈哀思唯啊</a> 17分钟前 投票给该书单的一本书 <span class="hidden">#好书推荐#</span>
				</p>
				<ul class="cover-wrapper oh mt20">
					<li><a href='/booklist/view/4f5832a55c305330430001b5#item_4f4ccd736803fa781700b6bd'><img alt='社会生物学' src='http://img0.kugwa.com/image/view/4f4cc0116803fa4c16037c45.jpg' title='社会生物学'></a></li>
					<li><a href='/booklist/view/4f5832a55c305330430001b5#item_4f4ccd6b6803fa7817008c12'><img alt='生命是什么' src='http://img0.kugwa.com/image/view/4f4cbd2c6803fa4c160167a1.jpg' title='生命是什么'></a></li>
					<li><a href='/booklist/view/4f5832a55c305330430001b5#item_4f4ccd626803fa7817005cfc'><img alt='自私的基因' src='http://img0.kugwa.com/image/view/4f4cc5316803fa4c16073696.jpg' title='自私的基因'></a></li>
					<li><a href='/booklist/view/4f5832a55c305330430001b5#item_4f4ccd826803fa7817010dba'><img alt='一百种尾巴或一千张叶子' src='http://img0.kugwa.com/image/view/4f4cbf1e6803fa4c1602cfa7.jpg' title='一百种尾巴或一千张叶子'></a></li>
					<li><a href='/booklist/view/4f5832a55c305330430001b5#item_4f4ccd696803fa7817008396'><img alt='惊人的假说' src='http://img0.kugwa.com/image/view/4f4cc3d36803fa4c1606270d.jpg' title='惊人的假说'></a></li>
				</ul>
			</div>
			<div class="item">
				<div class="fr mt5">
					<a href="/booklist/view/5007d64230ca782c03006ac7" class="btn btn-small btn-grey fb vote-num" title="投票数">27</a>
				</div>
				<h3 class="mt5 mb5"><a href="/booklist/view/5007d64230ca782c03006ac7">成为顶尖操盘手必读的25本书</a>
				<span class='grey9 f12'></span>
				</h3>
				<p class='grey9'>
					<a href='/my/index/4f547a695c3053032a000004'>刘琳</a> 1小时前 投票给该书单的一本书 <span class="hidden">#好书推荐#</span>
				</p>
				<ul class="cover-wrapper oh mt20">
					<li><a href='/booklist/view/5007d64230ca782c03006ac7#item_4f4ccd676803fa7817007932'><img alt='炒股的智慧' src='http://img0.kugwa.com/image/view/4f4cbf426803fa4c1602e6ed.jpg' title='炒股的智慧'></a></li>
					<li><a href='/booklist/view/5007d64230ca782c03006ac7#item_5007d68030ca783403006ab3'><img alt='技术分析' src='http://img0.kugwa.com/image/view/5007d68030ca783403006ab1.jpg' title='技术分析'></a></li>
					<li><a href='/booklist/view/5007d64230ca782c03006ac7#item_4f4ccd626803fa7817005b8a'><img alt='胡立阳股票投资100招' src='http://img0.kugwa.com/image/view/4f4cbf0f6803fa4c1602c401.jpg' title='胡立阳股票投资100招'></a></li>
					<li><a href='/booklist/view/5007d64230ca782c03006ac7#item_4f4ccd546803fa7817000e46'><img alt='以交易为生' src='http://img1.kugwa.com/image/view/4f4cbca86803fa4c160109e4.jpg' title='以交易为生'></a></li>
					<li><a href='/booklist/view/5007d64230ca782c03006ac7#item_5007d6f530ca78df49000811'><img alt='Dave Landry on Swing Trading' src='http://img0.kugwa.com/image/view/5007d6f530ca78df4900080f.jpg' title='Dave' landry on swing trading></a></li>
				</ul>
			</div>
			<div class="item">
				<div class="fr mt5">
					<a href="/booklist/view/4f5969735c3053022a000578" class="btn btn-small btn-grey fb vote-num" title="投票数">103</a>
				</div>
				<h3 class="mt5 mb5"><a href="/booklist/view/4f5969735c3053022a000578">产品经理必读的书?</a>
				<span class='grey9 f12'></span>
				</h3>
				<p class='grey9'>
					<a href='/my/index/500e007530ca78e00800833f'>坚果有点咸</a> 1小时前 关注了该书单 <span class="hidden">#好书推荐#</span>
				</p>
				<ul class="cover-wrapper oh mt20">
					<li><a href='/booklist/view/4f5969735c3053022a000578#item_4f4ccdb26803fa781702133d'><img alt='用户体验的要素' src='http://img2.kugwa.com/image/view/4f4cc5166803fa4c16071fdd.jpg' title='用户体验的要素'></a></li>
					<li><a href='/booklist/view/4f5969735c3053022a000578#item_4f4ccd776803fa781700ce91'><img alt='启示录' src='http://img0.kugwa.com/image/view/4f4cbca16803fa4c160104ec.jpg' title='启示录'></a></li>
					<li><a href='/booklist/view/4f5969735c3053022a000578#item_4f4ccd5c6803fa7817003a71'><img alt='人人都是产品经理' src='http://img0.kugwa.com/image/view/4f4cc11e6803fa4c16043a95.jpg' title='人人都是产品经理'></a></li>
					<li><a href='/booklist/view/4f5969735c3053022a000578#item_4f4ccd546803fa7817000eec'><img alt='点石成金' src='http://img0.kugwa.com/image/view/4f4cbe0b6803fa4c1602090e.jpg' title='点石成金'></a></li>
					<li><a href='/booklist/view/4f5969735c3053022a000578#item_4f4ccd8f6803fa78170157e2'><img alt='引爆点' src='http://img2.kugwa.com/image/view/4f4cc0466803fa4c1603a50d.jpg' title='引爆点'></a></li>
				</ul>
			</div>
			<div class="item">
				<div class="fr mt5">
					<a href="/booklist/view/500162ac30ca783f03005385" class="btn btn-small btn-grey fb vote-num" title="投票数">1</a>
				</div>
				<h3 class="mt5 mb5"><a href="/booklist/view/500162ac30ca783f03005385">关于儒家思想的书</a>
				<span class='grey9 f12'></span>
				</h3>
				<p class='grey9'>
					<a href='/my/index/4fd02c6c30ca787c40001d2c'>raoyifeng</a> 1小时前 投票给该书单的一本书 <span class="hidden">#好书推荐#</span>
				</p>
				<ul class="cover-wrapper oh mt20">
					<li><a href='/booklist/view/500162ac30ca783f03005385#item_4f4ccd966803fa7817017c04'><img alt='论语新解' src='http://img0.kugwa.com/image/view/4f4cbdfe6803fa4c1601fde3.jpg' title='论语新解'></a></li>
					<li><a href='/booklist/view/500162ac30ca783f03005385#item_4f4ccda36803fa781701c291'><img alt='四書章句集注' src='http://img0.kugwa.com/image/view/4f4cc4f86803fa4c16070a7a.jpg' title='四書章句集注'></a></li>
					<li><a href='/booklist/view/500162ac30ca783f03005385#item_4f4ccd566803fa78170018c0'><img alt='四书五经' src='http://img0.kugwa.com/image/view/4f4cc1176803fa4c16043519.jpg' title='四书五经'></a></li>
					<li><a href='/booklist/view/500162ac30ca783f03005385#addbook-name' class='item-addbook' title='为该书单添加一本书'></a></li>
				</ul>
			</div>
			<div class="item">
				<div class="fr mt5">
					<a href="/booklist/view/4fd00e9f30ca78ca6300118a" class="btn btn-small btn-grey fb vote-num" title="投票数">1</a>
				</div>
				<h3 class="mt5 mb5"><a href="/booklist/view/4fd00e9f30ca78ca6300118a">孟非的书</a>
				<span class='grey9 f12'></span>
				</h3>
				<p class='grey9'>
					<a href='/my/index/4f547eea5c3053052a000054'>谭雅</a> 2小时前 投票给该书单的一本书 <span class="hidden">#好书推荐#</span>
				</p>
				<ul class="cover-wrapper oh mt20">
					<li><a href='/booklist/view/4fd00e9f30ca78ca6300118a#item_4f4ccdb46803fa7817021eac'><img alt='随遇而安' src='http://img0.kugwa.com/image/view/4f4cc0146803fa4c16037ea3.jpg' title='随遇而安'></a></li>
					<li><a href='/booklist/view/4fd00e9f30ca78ca6300118a#item_4f4ccda56803fa781701cc08'><img alt='非说不可' src='http://img0.kugwa.com/image/view/4f4cc0936803fa4c1603d9f3.jpg' title='非说不可'></a></li>
					<li><a href='/booklist/view/4fd00e9f30ca78ca6300118a#item_4f4ccd586803fa78170022fc'><img alt='孟非就说这么多' src='http://img0.kugwa.com/image/view/4f4cc12e6803fa4c160446ad.jpg' title='孟非就说这么多'></a></li>
					<li><a href='/booklist/view/4fd00e9f30ca78ca6300118a#addbook-name' class='item-addbook' title='为该书单添加一本书'></a></li>
				</ul>
			</div>
			<div class="item">
				<div class="fr mt5">
					<a href="/booklist/view/500be4fb30ca783503007b48" class="btn btn-small btn-grey fb vote-num" title="投票数">2</a>
				</div>
				<h3 class="mt5 mb5"><a href="/booklist/view/500be4fb30ca783503007b48">哪些书能让人越来越成熟理智？</a>
				<span class='grey9 f12'></span>
				</h3>
				<p class='grey9'>
					<a href='/my/index/4f5481965c3053022a000098'>liu_bing</a> 4小时前 投票给该书单的一本书 <span class="hidden">#好书推荐#</span>
				</p>
				<ul class="cover-wrapper oh mt20">
					<li><a href='/booklist/view/500be4fb30ca783503007b48#item_4f4ccda46803fa781701c905'><img alt='少有人走的路' src='http://img0.kugwa.com/image/view/4f4cc4626803fa4c1606a1d4.jpg' title='少有人走的路'></a></li>
					<li><a href='/booklist/view/500be4fb30ca783503007b48#item_4f4ccd976803fa7817017f4e'><img alt='拆掉思维里的墙' src='http://img0.kugwa.com/image/view/4f4cc4e76803fa4c1606fdba.jpg' title='拆掉思维里的墙'></a></li>
					<li><a href='/booklist/view/500be4fb30ca783503007b48#addbook-name' class='item-addbook' title='为该书单添加一本书'></a></li>
				</ul>
			</div>
			<div class="item">
				<div class="fr mt5">
					<a href="/booklist/view/4f55ac065c3053072a0003a3" class="btn btn-small btn-grey fb vote-num" title="投票数">26</a>
				</div>
				<h3 class="mt5 mb5"><a href="/booklist/view/4f55ac065c3053072a0003a3">求通俗易懂的时间管理书籍</a>
				<span class='grey9 f12'></span>
				</h3>
				<p class='grey9'>
					<a href='/my/index/4f5482a75c3053032a000099'>刘坤</a> 6小时前 投票给该书单的一本书 <span class="hidden">#好书推荐#</span>
				</p>
				<ul class="cover-wrapper oh mt20">
					<li><a href='/booklist/view/4f55ac065c3053072a0003a3#item_4f4ccdb56803fa78170224cf'><img alt='番茄工作法图解' src='http://img2.kugwa.com/image/view/4f4cc53d6803fa4c16074026.jpg' title='番茄工作法图解'></a></li>
					<li><a href='/booklist/view/4f55ac065c3053072a0003a3#item_4f4ccd8f6803fa78170155e3'><img alt='拖延心理学' src='http://img1.kugwa.com/image/view/4f4cc32b6803fa4c1605ac07.jpg' title='拖延心理学'></a></li>
					<li><a href='/booklist/view/4f55ac065c3053072a0003a3#item_4f4ccd846803fa7817011736'><img alt='晨间日记的奇迹' src='http://img1.kugwa.com/image/view/4f4cbbf76803fa4c1600782e.jpg' title='晨间日记的奇迹'></a></li>
					<li><a href='/booklist/view/4f55ac065c3053072a0003a3#item_4f4ccd646803fa78170066f7'><img alt='尽管去做' src='http://img2.kugwa.com/image/view/4f4cbee66803fa4c1602a457.jpg' title='尽管去做'></a></li>
				</ul>
			</div>
			<div class="item">
				<div class="fr mt5">
					<a href="/booklist/view/4f8688455c3053d3410003c2" class="btn btn-small btn-grey fb vote-num" title="投票数">1</a>
				</div>
				<h3 class="mt5 mb5"><a href="/booklist/view/4f8688455c3053d3410003c2">毕淑敏的经典作品推荐</a>
				<span class='grey9 f12'></span>
				</h3>
				<p class='grey9'>
					<a href='/my/index/5007d61730ca78961c005af7'>shenyiyu</a> 7小时前 投票给该书单的一本书 <span class="hidden">#好书推荐#</span>
				</p>
				<ul class="cover-wrapper oh mt20">
					<li><a href='/booklist/view/4f8688455c3053d3410003c2#item_4f4ccda56803fa781701cf71'><img alt='红处方' src='http://img0.kugwa.com/image/view/4f4cbcd66803fa4c1601292e.jpg' title='红处方'></a></li>
					<li><a href='/booklist/view/4f8688455c3053d3410003c2#item_4f4ccd656803fa7817006d6e'><img alt='拯救乳房' src='http://img0.kugwa.com/image/view/4f4cc4116803fa4c160668b6.jpg' title='拯救乳房'></a></li>
					<li><a href='/booklist/view/4f8688455c3053d3410003c2#item_4f8688ed5c30537033000bd5'><img alt='花冠病毒' src='http://img0.kugwa.com/image/view/4f8688ed5c30537033000bd3.jpg' title='花冠病毒'></a></li>
					<li><a href='/booklist/view/4f8688455c3053d3410003c2#item_4f4ccd586803fa7817002274'><img alt='女心理师（上）' src='http://img2.kugwa.com/image/view/4f4cbcf46803fa4c1601406b.jpg' title='女心理师（上）'></a></li>
					<li><a href='/booklist/view/4f8688455c3053d3410003c2#item_4f4ccdb26803fa781702156a'><img alt='我很重要' src='http://img0.kugwa.com/image/view/4f4cc2066803fa4c1604e160.jpg' title='我很重要'></a></li>
				</ul>
			</div>
			<div class="item">
				<div class="fr mt5">
					<a href="/booklist/view/4fe7ff3a30ca78972f00258c" class="btn btn-small btn-grey fb vote-num" title="投票数">0</a>
				</div>
				<h3 class="mt5 mb5"><a href="/booklist/view/4fe7ff3a30ca78972f00258c">金庸的小说全集</a>
				<span class='grey9 f12'></span>
				</h3>
				<p class='grey9'>
					<a href='/my/index/4f547ab35c3053032a00000b'>江峰</a> 8小时前 关注了该书单 <span class="hidden">#好书推荐#</span>
				</p>
				<ul class="cover-wrapper oh mt20">
					<li><a href='/booklist/view/4fe7ff3a30ca78972f00258c#item_4f4ccd9e6803fa781701a73e'><img alt='笑傲江湖（全四册）' src='http://img0.kugwa.com/image/view/4f4cc3a26803fa4c160601b7.jpg' title='笑傲江湖（全四册）'></a></li>
					<li><a href='/booklist/view/4fe7ff3a30ca78972f00258c#item_4f4ccd7b6803fa781700e8e9'><img alt='天龙八部' src='http://img1.kugwa.com/image/view/4f4cc0766803fa4c1603c475.jpg' title='天龙八部'></a></li>
					<li><a href='/booklist/view/4fe7ff3a30ca78972f00258c#item_4f4ccd7b6803fa781700e8d6'><img alt='神雕侠侣' src='http://img0.kugwa.com/image/view/4f4cc0b76803fa4c1603f0d9.jpg' title='神雕侠侣'></a></li>
					<li><a href='/booklist/view/4fe7ff3a30ca78972f00258c#item_4f4ccdb56803fa781702276d'><img alt='鹿鼎记（全五册）' src='http://img0.kugwa.com/image/view/4f4cc2dc6803fa4c1605747b.jpg' title='鹿鼎记（全五册）'></a></li>
					<li><a href='/booklist/view/4fe7ff3a30ca78972f00258c#item_4f4ccd9c6803fa7817019ce0'><img alt='雪山飞狐' src='http://img0.kugwa.com/image/view/4f4cc24d6803fa4c1605125c.jpg' title='雪山飞狐'></a></li>
				</ul>
			</div>
			<div class="item">
				<div class="fr mt5">
					<a href="/booklist/view/4f558b155c3053304300001e" class="btn btn-small btn-grey fb vote-num" title="投票数">19</a>
				</div>
				<h3 class="mt5 mb5"><a href="/booklist/view/4f558b155c3053304300001e">ios开发的入门书籍</a>
				<span class='grey9 f12'></span>
				</h3>
				<p class='grey9'>
					<a href='/my/index/4f547da95c3053022a00003d'>张越</a> 10小时前 投票给该书单的一本书 <span class="hidden">#好书推荐#</span>
				</p>
				<ul class="cover-wrapper oh mt20">
					<li><a href='/booklist/view/4f558b155c3053304300001e#item_4f4ccd8c6803fa78170144a7'><img alt='iPhone 3开发基础教程' src='http://img0.kugwa.com/image/view/4f4cc1d26803fa4c1604b9ca.jpg' title='iPhone' 3开发基础教程></a></li>
					<li><a href='/booklist/view/4f558b155c3053304300001e#item_4f4ccdb46803fa78170220f4'><img alt='iPhone开发秘籍 （第2版）' src='http://img1.kugwa.com/image/view/4f4cc4a56803fa4c1606d05a.jpg' title='iPhone开发秘籍' （第2版）></a></li>
					<li><a href='/booklist/view/4f558b155c3053304300001e#item_4f4ccd9b6803fa781701946c'><img alt='iPhone 4与iPad开发基础教程' src='http://img0.kugwa.com/image/view/4f4cc0156803fa4c16037f3f.jpg' title='iPhone' 4与ipad开发基础教程></a></li>
					<li><a href='/booklist/view/4f558b155c3053304300001e#item_4f4ccd936803fa7817016c1d'><img alt='Objective-C基础教程' src='http://img2.kugwa.com/image/view/4f4cc3756803fa4c1605e378.jpg' title='Objective-C基础教程'></a></li>
				</ul>
			</div>
		</div>
		<div class="pager">
			<span class='active'>1</span><a href='/welcome/index/all/2'>2</a><a href='/welcome/index/all/3'>3</a><a href='/welcome/index/all/4'>4</a><a href='/welcome/index/all/5'>5</a><a href='/welcome/index/all/6'>6</a><a href='/welcome/index/all/7'>7</a><a href='/welcome/index/all/8'>8</a><a href='/welcome/index/all/9'>9</a><a href='/welcome/index/all/10'>10</a><a href='/welcome/index/all/2'>下一页</a>
		</div>
	</div>
	<div class="aside">
		<div class='section'>
			<div class='oh'>
				<img src='/image/view/4f936e625c3053fa08000aa3.jpg' class='fl w50'>
				<p class='fl ml20 w130 f14'>
					<a href='/my/index/4f936e625c3053fa08000aa5'>劈哀思唯啊</a></br>
					<span class='grey9 f12'>
					966号书友</span>
				</p>
			</div>
			<div class='mt10'>
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tbody>
				<tr>
					<td width='33%' align='center'>
						<a href='/my/follows/4f936e625c3053fa08000aa5' class='nohover'>
						<span class='f16 black'>0</span>
						<div class='mt3'>
						</div>
						<span class='f12 grey9'>我关注的</span>
						</a>
					</td>
					<td width='33%' align='center' style="border-left: 1px solid rgba(100, 100, 100, 0.4); border-right: 1px solid rgba(100, 100, 100, 0.4);">
						<a href='/my/followers/4f936e625c3053fa08000aa5' class='nohover'>
						<span class='f16 black'>0</span>
						<div class='mt3'>
						</div>
						<span class='f12 grey9'>关注我的</span>
						</a>
					</td>
					<td width='33%' align='center'>
						<a href='/my/f/4f936e625c3053fa08000aa5' class='nohover'>
						<span class='f16 black'>1</span>
						<div class='mt3'>
						</div>
						<span class='f12 grey9'>关注的书单</span>
						</a>
					</td>
				</tr>
				</tbody>
				</table>
			</div>
			<div class='bb1 mt10'>
			</div>
			<div class='oh mt10 pl5'>
				<span class='fl'><a href='/my/notification'>0条未读提醒</a></span>
				<span class='fr pr5 grey9'>获得总投票数：0票</span>
			</div>
		</div>
		<iframe width="100%" height="200" class="share_self" frameborder="0" scrolling="no" src=" http://widget.weibo.com/weiboshow/index.php?language='&width=0&height=250&fansRow=1&ptype=0&speed=0&skin=-1&isTitle=0&noborder=1&isWeibo=0&isFans=1&uid=2642273961&verifier=c2072289&colors=d6f3f7,fcfcf5,666666,914C4C,f0f0e9&dpc=1">
		</iframe>
		<div class='mt20'>
			<p class='bb1 mb10 grey9'>
				社区运行状况
			</p>
			<div class='ml10'>
				<span class='grey9'>注册书友：</span><b>6432</b>
			</div>
			<div class='ml10'>
				<span class='grey9'>在线书友：</span><b>284</b>
			</div>
			<div class='ml10'>
				<span class='grey9'>推荐书籍：</span><b>6668</b>
			</div>
			<div class='ml10'>
				<div>
					<span class='grey9'>最近达人：</span>
				</div>
				<div class='mt5'>
					<ul>
						<li class='ml20 mb10'>
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
						<tbody>
						<tr>
							<td width='25' valign='middle' align='center'>
								<img src='/image/view/5006a42f30ca786a17003091' class='w25'>
							</td>
							<td width='10'>
							</td>
							<td width='auto' valign='middle'>
								<span class='black'><a class='grey9' href='/my/index/5006a42f30ca786a17003093'>天使与光</a></span>
							</td>
						</tr>
						</tbody>
						</table>
						</li>
						<li class='ml20 mb10'>
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
						<tbody>
						<tr>
							<td width='25' valign='middle' align='center'>
								<img src='/image/view/5007d61730ca78961c005af5' class='w25'>
							</td>
							<td width='10'>
							</td>
							<td width='auto' valign='middle'>
								<span class='black'><a class='grey9' href='/my/index/5007d61730ca78961c005af7'>shenyiyu</a></span>
							</td>
						</tr>
						</tbody>
						</table>
						</li>
						<li class='ml20 mb10'>
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
						<tbody>
						<tr>
							<td width='25' valign='middle' align='center'>
								<img src='/image/view/4fea95ce30ca782d03000a24' class='w25'>
							</td>
							<td width='10'>
							</td>
							<td width='auto' valign='middle'>
								<span class='black'><a class='grey9' href='/my/index/4fea95ce30ca782d03000a26'>shine余光</a></span>
							</td>
						</tr>
						</tbody>
						</table>
						</li>
						<li class='ml20 mb10'>
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
						<tbody>
						<tr>
							<td width='25' valign='middle' align='center'>
								<img src='/image/view/4fd882e030ca788c2f00062a' class='w25'>
							</td>
							<td width='10'>
							</td>
							<td width='auto' valign='middle'>
								<span class='black'><a class='grey9' href='/my/index/4fd882e030ca788c2f00062c'>宣德御笔</a></span>
							</td>
						</tr>
						</tbody>
						</table>
						</li>
						<li class='ml20 mb10'>
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
						<tbody>
						<tr>
							<td width='25' valign='middle' align='center'>
								<img src='/image/view/4f7979ad5c3053db28000bb1' class='w25'>
							</td>
							<td width='10'>
							</td>
							<td width='auto' valign='middle'>
								<span class='black'><a class='grey9' href='/my/index/4f7979ad5c3053db28000bb3'>尖叫博物馆</a></span>
							</td>
						</tr>
						</tbody>
						</table>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


<script type='text/javascript'>
<% content_for :butt2 do %>
$(function(){
	$(".hidden").hide();
});
<% end %>
</script>


<%= render file:'/application/footers/_zm_footer' %>
