<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__zm_hoth", :media => "all" %>
  <%= stylesheet_link_tag "ktv/__zm_ban", :media => "all" %>
<% end %>

<% return '' %>
<%= render :partial => 'content_above', :locals=>{:skp_content_style => "height:1888px;background:url(#{asset_path 'zm/r11839/images/common/bodybg.gif'}) repeat scroll 0 0 transparent;"} %>

<%= render 'content_below' %>

<% content_for :butt2 do%>
$('#content').height($('#psvr_zm_target').height()+28);
<% end %>




<div class="wrapper1000">
<div class="__zm" id="psvr_zm_target" style="padding-bottom:18px;position:absolute;top:138px;margin-left:10px">
  <div id="zmbanknav" class="zmnav-bank modshadow cf">
  <div class="guide floatright">
  <a class="png" href="/saving/about">新手引导</a>
  </div>
  <div class="navlist">
  <ul>
  <li class="current png"><a class="png" href="/saving/zm/index">存钱罐首页</a></li>
  <li class="dot"></li>
  <li><a href="/saving/zm/task">赚取财富</a></li>
  <li class="dot"></li>


  <li class="hasmenu">

  <a href="/saving/zm/goodslist/1">消费财富</a>

  <div class="dropmenu w100" style="display: none;">
  <span class="iconbg uparrow"></span>
  <div class="navborder">
  <a href="/saving/zm/goodslist/1">即时兑换</a>
  <a href="/saving/zm/goods/queue">排队有奖</a>
  </div>
  </div>
  </li>



  <li class="dot"></li>
  <li class="new "><a href="/saving/zm/brand">品牌中心</a></li>

  <li class="dot"></li>
  <li><a onclick="showLogin('/saving/zm/myCoin/0')" href="###">我的存钱罐</a></li>


  </ul>
  </div>
  </div>
  
  <div id="content" style="width:980px">
  <div class="boxnoun cf">
  <div class="foreign-rec">
  <h2 class="itemhead"><span class="greenline size_1"><span class="item-title"><b class="blue">今日</b>达人</span></span></h2>
  <div class="bigshow">				
  <a target="_blank" href="/u/304181"><img src="http://b.imimg.cn//index/2012/06/1340960797882.300.300.jpg"></a>
  </div>
  <div class="taright">
  <h3 style="line-height: 1" class="ttname"><a target="_blank" href="/u/304181"><span style="color:#1D8B74;" class="yahe blue bigtitle">Eko-怡宁</span></a><span title="知美认证达人" class="ctf-icon small-ctf-star-w"></span> 

  <a follow="false" followed="304181" id="304181" class="hotbutton follow-btn">关注</a>

  </h3>
  <p><a target="_blank" class="gray" href="/u/304181">狂热美甲控，不能容忍指甲上平淡无奇、暗淡无光，更不能容忍任何瑕疵的出现，为了既健康又美丽的指甲每日潜心钻研，很乐意跟爱美甲的妞们分享心得！</a></p>
  <h3 style="line-height: 1" class="ttname"><span class="yahe">TA的收集</span></h3>
  <ul class="cf">

  <li><a target="_blank" href="/u/304181/board/11257832/8456110"><img src="http://b4.imimg.cn/20120919/c6b2/d9ce/44015054220.3.60.60.jpg"></a></li>

  <li><a target="_blank" href="/u/304181/board/11257832/8456102"><img src="http://b8.imimg.cn/20120919/18e4/afae/43982351638.3.60.60.jpg"></a></li>

  <li><a target="_blank" href="/u/304181/board/11257832/8456098"><img src="http://b8.imimg.cn/20120919/1cca/92a2/43949394974.3.60.60.jpg"></a></li>

  <li><a target="_blank" href="/u/304181/board/11257832/8456095"><img src="http://b2.imimg.cn/20120919/c2e8/f464/43888369510.3.60.60.jpg"></a></li>

  <li><a target="_blank" href="/u/304181/board/11257832/8456085"><img src="http://b8.imimg.cn/20120919/9fb4/7c12/43847735187.3.60.60.jpg"></a></li>

  <li><a target="_blank" href="/u/304181/board/11257832/8456076"><img src="http://b3.imimg.cn/20120919/d768/69ca/43818931754.3.60.60.jpg"></a></li>

  <li><a target="_blank" href="/u/304181/board/11257832/8456075"><img src="http://b6.imimg.cn/20120919/c48c/ac66/43798177617.3.60.60.jpg"></a></li>

  <li><a target="_blank" href="/u/304181/board/11257832/8456073"><img src="http://b8.imimg.cn/20120919/1e00/af00/43759968647.3.60.60.jpg"></a></li>

  </ul>
  </div>
  </div>
  <div class="site-rec">
  <h2 class="itemhead"><span class="more"><a href="javascript:void(0)" class="rotationbody" id="zhimei_star_refresh"><span class="iconbg refresh-ico rotation"></span>&nbsp;换一换</a>&nbsp;&nbsp;<a href="/certify/person/1">更多››</a></span><span class="greenline size_2"><span class="item-title"><b class="blue">知美</b>达人</span></span></h2>
  <ul id="zhimei_star_ul">

  <li class=" cf">
  <div class="uhead"><a target="_blank" usercard="945571" havecard="1" href="/u/945571"><img src="http://b0.imimg.cn/20120628/6978/8712/65666411204.2.60.60.jpg"></a></div>
  <div class="usay">
  <p class="desc"><a href="/u/945571" usercard="945571" havecard="1" class="username">、鬼鬼</a>：<a target="_blank" class="gray" href="/u/945571">天秤座，追求和平和谐的感觉，善于交谈，沟通能力极强...</a></p>
  <p>

  <a follow="false" followed="945571" id="945571" class="hotbutton follow-btn">关注</a>

  </p>
  </div>
  </li>				

  <li class=" cf">
  <div class="uhead"><a target="_blank" usercard="33769" havecard="1" href="/u/33769"><img src="http://b6.imimg.cn/20111217/e87a/a018/57514191862.2.60.60.jpg"></a></div>
  <div class="usay">
  <p class="desc"><a href="/u/33769" usercard="33769" havecard="1" class="username">蓝晓熙</a>：<a target="_blank" class="gray" href="/u/33769">水瓶座，单细胞复合体，一半甜蜜一半忧伤。典型败家女...</a></p>
  <p>

  <a follow="false" followed="33769" id="33769" class="hotbutton follow-btn">关注</a>

  </p>
  </div>
  </li>				

  <li class=" cf">
  <div class="uhead"><a target="_blank" usercard="1663958" havecard="1" href="/u/1663958"><img src="http://b3.imimg.cn/20120813/7bd6/62fa/56506034023.2.60.60.jpg"></a></div>
  <div class="usay">
  <p class="desc"><a href="/u/1663958" usercard="1663958" havecard="1" class="username">chenjingyun90</a>：<a target="_blank" class="gray" href="/u/1663958">所谓的潮人一枚，对潮流有敏锐的...</a></p>
  <p>

  <a follow="false" followed="1663958" id="1663958" class="hotbutton follow-btn">关注</a>

  </p>
  </div>
  </li>				

  <li class="none cf">
  <div class="uhead"><a target="_blank" usercard="356707" havecard="1" href="/u/356707"><img src="http://b5.imimg.cn/20120405/60e2/12e6/77372752407.2.60.60.jpg"></a></div>
  <div class="usay">
  <p class="desc"><a href="/u/356707" usercard="356707" havecard="1" class="username">叫我肉滚滚</a>：<a target="_blank" class="gray" href="/u/356707">服装系学生。爱搭配，爱拍照。以兴趣为起源坚持着...</a></p>
  <p>

  <a follow="false" followed="356707" id="356707" class="hotbutton follow-btn">关注</a>

  </p>
  </div>
  </li>				

  </ul>
  </div>
  </div>
  <!--end-->
  <div class="gather-item cf">
  <h2 class="itemhead"><span class="more"><a href="javascript:void(0)" class="rotationbody" id="recommend_refresh"><span class="iconbg refresh-ico rotation"></span>&nbsp;换一换</a> <a href="/hot/recommend/">更多››</a></span><span class="greenline size_3"><span class="item-title"><b class="blue">达人</b>推荐</span></span></h2>
  <ul class="cf" id="recommend_ul">

  <li>
  <div class="showimg"><a target="_blank" href="/u/15229/board/29732/8425813"><img src="http://b.imimg.cn//index/2012/0920/1348108141150.140.140.jpg"></a></div>
  <div class="showsay">
  <p class="summary"><a target="_blank" class="gray" href="/u/15229/board/29732/8425813"><span style="color:#333333;font-weight:bold;">
  咸了喝水</span> 推荐<br><font color="#1d8b74">￥299</font><br>后背骷髅连衣裙，向McQueen致敬。</a></p>
  <p class="num"><span class="blue js-share-count">25</span> 个收集 </p>
  <p class="relative">
  <span class="js-favouriteTips" style="position: absolute; left: 0pt; top: -33px;display:none;"><span class="smstips smstrue"><em class="smstips"></em></span></span>
  <a to="8425813" sharepicid="1488974" boardpicuserid="15229" boardid="29732" class="button favourite-btn">收集</a>
  </p>
  </div>
  </li>

  <li>
  <div class="showimg"><a target="_blank" href="/u/126529/board/930858/8457619"><img src="http://b.imimg.cn//index/2012/0920/1348108464974.140.140.jpg"></a></div>
  <div class="showsay">
  <p class="summary"><a target="_blank" class="gray" href="/u/126529/board/930858/8457619"><span style="color:#333333;font-weight:bold;">
  坏品味码字员</span> 推荐<br><font color="#1d8b74">￥2148</font><br>MCQ蜂鸟印花衬衫，美不胜收。</a></p>
  <p class="num"><span class="blue js-share-count">23</span> 个收集 </p>
  <p class="relative">
  <span class="js-favouriteTips" style="position: absolute; left: 0pt; top: -33px;display:none;"><span class="smstips smstrue"><em class="smstips"></em></span></span>
  <a to="8457619" sharepicid="1489616" boardpicuserid="126529" boardid="930858" class="button favourite-btn">收集</a>
  </p>
  </div>
  </li>

  <li class="last">
  <div class="showimg"><a target="_blank" href="/u/340027/board/1936155/8464156"><img src="http://b.imimg.cn//index/2012/0920/1348108344581.140.140.jpg"></a></div>
  <div class="showsay">
  <p class="summary"><a target="_blank" class="gray" href="/u/340027/board/1936155/8464156"><span style="color:#333333;font-weight:bold;">
  jk先生</span> 推荐<br><font color="#1d8b74">￥89</font><br>藤艺调光仿古煤油台灯，自然的质朴感。</a></p>
  <p class="num"><span class="blue js-share-count">25</span> 个收集 </p>
  <p class="relative">
  <span class="js-favouriteTips" style="position: absolute; left: 0pt; top: -33px;display:none;"><span class="smstips smstrue"><em class="smstips"></em></span></span>
  <a to="8464156" sharepicid="1490132" boardpicuserid="340027" boardid="1936155" class="button favourite-btn">收集</a>
  </p>
  </div>
  </li>

  <li>
  <div class="showimg"><a target="_blank" href="/u/15229/board/29747/8425780"><img src="http://b.imimg.cn//index/2012/0920/1348108245402.140.140.jpg"></a></div>
  <div class="showsay">
  <p class="summary"><a target="_blank" class="gray" href="/u/15229/board/29747/8425780"><span style="color:#333333;font-weight:bold;">
  咸了喝水</span> 推荐<br><font color="#1d8b74">￥275</font><br>发光章鱼耳钉，怪咖们，福利来了。</a></p>
  <p class="num"><span class="blue js-share-count">27</span> 个收集 </p>
  <p class="relative">
  <span class="js-favouriteTips" style="position: absolute; left: 0pt; top: -33px;display:none;"><span class="smstips smstrue"><em class="smstips"></em></span></span>
  <a to="8425780" sharepicid="1488971" boardpicuserid="15229" boardid="29747" class="button favourite-btn">收集</a>
  </p>
  </div>
  </li>

  <li>
  <div class="showimg"><a target="_blank" href="/u/212563/board/1143605/8463717"><img src="http://b.imimg.cn//index/2012/0920/1348109041024.140.140.jpg"></a></div>
  <div class="showsay">
  <p class="summary"><a target="_blank" class="gray" href="/u/212563/board/1143605/8463717"><span style="color:#333333;font-weight:bold;">
  damonwong</span> 推荐<br><font color="#1d8b74">￥298</font><br>ASOS花朵图案拼接卫衣，花样少年。</a></p>
  <p class="num"><span class="blue js-share-count">23</span> 个收集 </p>
  <p class="relative">
  <span class="js-favouriteTips" style="position: absolute; left: 0pt; top: -33px;display:none;"><span class="smstips smstrue"><em class="smstips"></em></span></span>
  <a to="8463717" sharepicid="1490122" boardpicuserid="212563" boardid="1143605" class="button favourite-btn">收集</a>
  </p>
  </div>
  </li>

  <li class="last">
  <div class="showimg"><a target="_blank" href="/u/127049/board/8266555/8415981"><img src="http://b.imimg.cn//index/2012/0920/1348108867857.140.140.jpg"></a></div>
  <div class="showsay">
  <p class="summary"><a target="_blank" class="gray" href="/u/127049/board/8266555/8415981"><span style="color:#333333;font-weight:bold;">
  guoguoqian</span> 推荐<br><font color="#1d8b74">￥65</font><br>进口有机活性黑泥面膜，补水杀菌去黑头哦。</a></p>
  <p class="num"><span class="blue js-share-count">140</span> 个收集 </p>
  <p class="relative">
  <span class="js-favouriteTips" style="position: absolute; left: 0pt; top: -33px;display:none;"><span class="smstips smstrue"><em class="smstips"></em></span></span>
  <a to="8415981" sharepicid="1488410" boardpicuserid="127049" boardid="8266555" class="button favourite-btn">收集</a>
  </p>
  </div>
  </li>

  </ul>
  </div>
  <!--end-->
  </div>
  
  
  
  
  
  
  
  
  <div class="bestgoods favorite-mail modshadow" style="width:956px">
  <h2 class="itemhead">
  <span class="more"><a href="http://www.zhimei.com/discover/38/0/0">更多››</a></span>
  <span class="greenline size_6"><span class="item-title"><b class="blue">男青年</b>们最喜欢</span></span>
  </h2>
  <div class="nav-img cf">

  <li>
  <a target="_blank" href="/discover/38/0/0?fromReshareId=930081&amp;tagId=453">
  <img width="140" height="140" src="http://b3.imimg.cn/20120216/6768/6c69/6a71597a/1334674226302.2.222.222.jpg">
  <span class="desc1">铆钉</span><!--划过时隐藏-->
  <span class="desc2">铆钉</span><!--划过时显示-->
  </a>
  </li>

  <li>
  <a target="_blank" href="/discover/38/0/0?fromReshareId=3978070&amp;tagId=481">
  <img width="140" height="140" src="http://b8.imimg.cn/20120628/6148/6452/77153499814.2.222.222.jpg">
  <span class="desc1">学院</span><!--划过时隐藏-->
  <span class="desc2">学院</span><!--划过时显示-->
  </a>
  </li>

  <li>
  <a target="_blank" href="/discover/38/0/0?fromReshareId=6673745&amp;tagId=2504">
  <img width="140" height="140" src="http://b0.imimg.cn/20120822/14ee/d6f0/50856410396.2.222.222.jpg">
  <span class="desc1">怪咖</span><!--划过时隐藏-->
  <span class="desc2">怪咖</span><!--划过时显示-->
  </a>
  </li>

  <li>
  <a target="_blank" href="/discover/38/0/0?fromReshareId=1108890&amp;tagId=176">
  <img width="140" height="140" src="http://b2.imimg.cn/20120306/c280/4de4/76930646348.2.222.222.jpg">
  <span class="desc1">清新</span><!--划过时隐藏-->
  <span class="desc2">清新</span><!--划过时显示-->
  </a>
  </li>

  <li>
  <a target="_blank" href="/discover/38/0/0?fromReshareId=3966266&amp;tagId=953">
  <img width="140" height="140" src="http://b6.imimg.cn/20120628/7be0/cf66/58679444847.2.222.222.jpg">
  <span class="desc1">绅士</span><!--划过时隐藏-->
  <span class="desc2">绅士</span><!--划过时显示-->
  </a>
  </li>

  <li>
  <a target="_blank" href="/discover/38/0/0?fromReshareId=5526395&amp;tagId=596">
  <img width="140" height="140" src="http://b3.imimg.cn/20120727/5586/6236/60222315633.2.222.222.jpg">
  <span class="desc1">民族</span><!--划过时隐藏-->
  <span class="desc2">民族</span><!--划过时显示-->
  </a>
  </li>

  </div>
  <div class="feedback cf">
  <div class="nav-label">
  <ul>

  <li class="cf">
  <div class="major yahei">
  <a href="/discover/38/50/0">上衣</a>
  </div>
  <div class="container">

  <a href="/discover/38/50/128?tagId=0" target="_blank">外套</a>

  <a href="/discover/38/50/129?tagId=0" target="_blank">衬衫</a>

  <a href="/discover/38/50/130?tagId=0" target="_blank">马甲</a>

  <a href="/discover/38/50/131?tagId=0" target="_blank">毛衣</a>

  <a href="/discover/38/50/132?tagId=0" target="_blank">西装</a>

  <a href="/discover/38/50/133?tagId=0" target="_blank">T恤</a>

  <a href="/discover/38/50/134?tagId=0" target="_blank">卫衣</a>

  <a href="/discover/38/50/135?tagId=0" target="_blank">家居服</a>

  </div>
  </li>

  <li class="cf">
  <div class="major yahei">
  <a href="/discover/38/51/0">裤子</a>
  </div>
  <div class="container">

  <a href="/discover/38/51/136?tagId=0" target="_blank">短裤</a>

  <a href="/discover/38/51/137?tagId=0" target="_blank">长裤</a>

  </div>
  </li>

  <li class="cf">
  <div class="major yahei">
  <a href="/discover/37/0/0">配饰</a>
  </div>
  <div class="container">

  <a href="/discover/37/67/0?tagId=0" target="_blank">眼镜</a>

  <a href="/discover/37/72/0?tagId=0" target="_blank">领带</a>

  <a href="/discover/37/75/0?tagId=0" target="_blank">领夹</a>

  </div>
  </li>

  <li class="cf">
  <div class="major yahei">
  <a href="/discover/38/0/0">风格</a>
  </div>
  <div class="container">

  <a href="/discover/38/0/0?tagId=3574" target="_blank">雅痞</a>

  <a href="/discover/38/0/0?tagId=176" target="_blank">清新</a>

  <a href="/discover/38/0/0?tagId=171" target="_blank">英伦</a>

  <a href="/discover/38/0/0?tagId=287" target="_blank">优雅</a>

  <a href="/discover/38/0/0?tagId=595" target="_blank">文艺</a>

  <a href="/discover/38/0/0?tagId=75" target="_blank">军装</a>

  <a href="/discover/38/0/0?tagId=2504" target="_blank">怪咖</a>

  <a href="/discover/38/0/0?tagId=616" target="_blank">工装</a>

  </div>
  </li>

  </ul>
  </div>
  <div class="top-buy">
  <h3 class="cf"><a href="javascript:void(0)" class="rotationbody floatright" ref="man" name="shopping_refresh"><span class="iconbg refresh-ico rotation"></span>&nbsp;换一换</a><span class="f14">大家想购买</span></h3>
  <ul class="wishlist" id="man_wishlist">

  <li class="cf">
  <a target="_blank" href="/view/6810133" class="avatar"><img src="http://b3.imimg.cn/20120827/7690/6b78/49426914844.3.60.60.jpg"></a>
  <div class="profile gray">
  <p class="desc"><a class="linksgray" target="_blank" href="/view/6810133">日式南瓜玻璃小挂瓶 Zakka 杂货 摆设 装饰￥8.00</a></p>
  <p><span class="orange">36</span>&nbsp;人想买</p>
  </div>
  </li>

  <li class="cf">
  <a target="_blank" href="/view/6834204" class="avatar"><img src="http://b8.imimg.cn/20120828/ef8e/90c0/23868640114.3.60.60.jpg"></a>
  <div class="profile gray">
  <p class="desc"><a class="linksgray" target="_blank" href="/view/6834204">包邮 正品 韩国代购 新款韩版 男士 纯色修身裤 齐脚踝休闲...</a></p>
  <p><span class="orange">36</span>&nbsp;人想买</p>
  </div>
  </li>

  <li class="cf">
  <a target="_blank" href="/view/6804417" class="avatar"><img src="http://b4.imimg.cn/20120827/73fc/3a5e/32706391787.3.60.60.jpg"></a>
  <div class="profile gray">
  <p class="desc"><a class="linksgray" target="_blank" href="/view/6804417">Montblanc 万宝龙/自动机械表/男士手表 意大利代购...</a></p>
  <p><span class="orange">48</span>&nbsp;人想买</p>
  </div>
  </li>

  </ul>
  </div>
  <div class="top-comment">
  <h3 class="cf"><a href="javascript:void(0)" class="rotationbody floatright" ref="man" name="comment_refresh"><span class="iconbg refresh-ico rotation"></span>&nbsp;换一换</a><span class="f14">大家都在讨论</span></h3>

  <div id="man_share_comment">
  <div class="goods cf">
  <a href="/u/15265/board/29931/8248215" target="_blank" class="avatar"><img src="http://b0.imimg.cn/20120917/80c0/6030/47070183751.3.60.60.jpg"></a>
  <div class="profile">
  <p class="desc"><a href="/u/15265/board/29931/8248215" class="linksgray" target="_blank">牛仔粗纺拼接夹克外套 霍里疯 高街复...</a></p>
  <p class="blue f14 b">￥145</p>
  </div>
  <span class="js-favouriteTips" style="position: absolute; right:10px;top:-28px;display:none;"><span class="smstips smstrue"><em class="smstips"></em></span></span>
  <a to="8248215" sharepicid="1485128" boardpicuserid="15265" boardid="29931" class="button favourite-btn png" href="javascript:;">收集</a>
  <span class="count gray">
  <span class="orange js-share-count">

  1119
  </span>
  &nbsp;人已收集
  </span>
  <span class="arrow"></span>
  </div>
  <div class="commentlist">
  <ul>

  </ul>
  <div class="more"><a target="_blank" href="/view/8248215">查看8条评论</a></div>
  </div>
  </div>

  </div>
  </div>
  </div>
  
  
  
  
  
  
  
  
  <div class="bestgoods favorite-mail modshadow" style="width:956px">
  <h2 class="itemhead">
  <span class="more"><a href="http://www.zhimei.com/discover/31/0/0">更多››</a></span>
  <span class="greenline size_6"><span class="item-title"><b class="blue">女青年</b>们最喜欢</span></span>
  </h2>
  <div class="nav-img cf">

  <li>
  <a target="_blank" href="/discover/31/0/0?fromReshareId=1775093&amp;tagId=414">
  <img width="140" height="140" src="http://b6.imimg.cn/20120216/6c73/646d/656a597a/1334841762597.2.222.222.jpg">
  <span class="desc1">甜美</span><!--划过时隐藏-->
  <span class="desc2">甜美</span><!--划过时显示-->
  </a>
  </li>

  <li>
  <a target="_blank" href="/discover/31/0/0?fromReshareId=8061841&amp;tagId=91">
  <img width="140" height="140" src="http://b0.imimg.cn/20120912/d05e/4c70/49493611425.2.222.222.jpg">
  <span class="desc1">街头</span><!--划过时隐藏-->
  <span class="desc2">街头</span><!--划过时显示-->
  </a>
  </li>

  <li>
  <a target="_blank" href="/discover/31/0/0?fromReshareId=6652036&amp;tagId=152">
  <img width="140" height="140" src="http://b8.imimg.cn/20120822/1c92/2a3e/68581950840.2.222.222.jpg">
  <span class="desc1">复古</span><!--划过时隐藏-->
  <span class="desc2">复古</span><!--划过时显示-->
  </a>
  </li>

  <li>
  <a target="_blank" href="/discover/31/0/0?fromReshareId=1876037&amp;tagId=411">
  <img width="140" height="140" src="http://b7.imimg.cn/20120217/6c73/6d6c/6a6a597a/1335247773328.2.222.222.jpg">
  <span class="desc1">简约</span><!--划过时隐藏-->
  <span class="desc2">简约</span><!--划过时显示-->
  </a>
  </li>

  <li>
  <a target="_blank" href="/discover/31/0/0?fromReshareId=6652393&amp;tagId=415">
  <img width="140" height="140" src="http://b0.imimg.cn/20120822/c31c/9edc/71620007111.2.222.222.jpg">
  <span class="desc1">森女</span><!--划过时隐藏-->
  <span class="desc2">森女</span><!--划过时显示-->
  </a>
  </li>

  <li>
  <a target="_blank" href="/discover/31/0/0?fromReshareId=3296272&amp;tagId=178">
  <img width="140" height="140" src="http://b6.imimg.cn/20120404/83f4/8868/56854095434.2.222.222.jpg">
  <span class="desc1">小清新</span><!--划过时隐藏-->
  <span class="desc2">小清新</span><!--划过时显示-->
  </a>
  </li>

  </div>
  <div class="feedback cf">
  <div class="nav-label">
  <ul>

  <li class="cf">
  <div class="major yahei"><a href="/discover/31/45/0">上衣</a></div>
  <div class="container">

  <a href="/discover/31/45/99?tagId=0" target="_blank">外套</a>

  <a href="/discover/31/45/100?tagId=0" target="_blank">衬衫</a>

  <a href="/discover/31/45/101?tagId=0" target="_blank">马甲</a>

  <a href="/discover/31/45/102?tagId=0" target="_blank">毛衣</a>

  <a href="/discover/31/45/103?tagId=0" target="_blank">西装</a>

  <a href="/discover/31/45/104?tagId=0" target="_blank">T恤</a>

  <a href="/discover/31/45/105?tagId=0" target="_blank">背心/吊带</a>

  <a href="/discover/31/45/106?tagId=0" target="_blank">卫衣</a>

  <a href="/discover/31/45/107?tagId=0" target="_blank">开衫</a>

  <a href="/discover/31/45/108?tagId=0" target="_blank">家居服</a>

  </div>
  </li>

  <li class="cf">
  <div class="major yahei"><a href="/discover/31/48/0">裤子</a></div>
  <div class="container">

  <a href="/discover/31/48/112?tagId=0" target="_blank">打底裤</a>

  <a href="/discover/31/48/113?tagId=0" target="_blank">短裤</a>

  <a href="/discover/31/48/114?tagId=0" target="_blank">长裤</a>

  </div>
  </li>

  <li class="cf">
  <div class="major yahei"><a href="/discover/31/46/0">裙子</a></div>
  <div class="container">

  <a href="/discover/31/46/109?tagId=0" target="_blank">半身裙</a>

  <a href="/discover/31/46/110?tagId=0" target="_blank">连衣裙</a>

  <a href="/discover/31/46/111?tagId=0" target="_blank">礼服</a>

  </div>
  </li>

  <li class="cf">
  <div class="major yahei"><a href="/discover/31/0/0">风格</a></div>
  <div class="container">

  <a href="/discover/31/0/0?tagId=415" target="_blank">森女</a>

  <a href="/discover/31/0/0?tagId=414" target="_blank">甜美</a>

  <a href="/discover/31/0/0?tagId=178" target="_blank">小清新</a>

  <a href="/discover/31/0/0?tagId=595" target="_blank">文艺</a>

  <a href="/discover/31/0/0?tagId=416" target="_blank">OL</a>

  <a href="/discover/31/0/0?tagId=199" target="_blank">欧美</a>

  <a href="/discover/31/0/0?tagId=3811" target="_blank">女神</a>

  <a href="/discover/31/0/0?tagId=195" target="_blank">性感</a>

  </div>
  </li>

  </ul>
  </div>
  <div class="top-buy">
  <h3 class="cf"><a href="javascript:void(0)" class="rotationbody floatright" ref="women" name="shopping_refresh"><span class="iconbg refresh-ico rotation"></span>&nbsp;换一换</a><span class="f14">大家想购买</span></h3>
  <ul class="wishlist" id="women_wishlist">

  <li class="cf">
  <a target="_blank" href="/view/6839874" class="avatar"><img src="http://b4.imimg.cn/20120828/1934/4962/42170337505.3.60.60.jpg"></a>
  <div class="profile gray">
  <p class="desc"><a class="linksgray" target="_blank" href="/view/6839874">Billie and Blossom英国正品代购 中国水墨画...</a></p>
  <p><span class="orange">91</span>&nbsp;人想买</p>
  </div>
  </li>

  <li class="cf">
  <a target="_blank" href="/view/6839269" class="avatar"><img src="http://b8.imimg.cn/20120828/a996/f5b4/40629979975.3.60.60.jpg"></a>
  <div class="profile gray">
  <p class="desc"><a class="linksgray" target="_blank" href="/view/6839269">2012秋季新款时尚修身甜美长袖纯色套头连衣裙￥81.00</a></p>
  <p><span class="orange">104</span>&nbsp;人想买</p>
  </div>
  </li>

  <li class="cf">
  <a target="_blank" href="/view/6839092" class="avatar"><img src="http://b1.imimg.cn/20120828/4300/1f3e/39379964052.3.60.60.jpg"></a>
  <div class="profile gray">
  <p class="desc"><a class="linksgray" target="_blank" href="/view/6839092">男友风复古范儿 深蓝色宽松牛仔衬衫￥69.00</a></p>
  <p><span class="orange">156</span>&nbsp;人想买</p>
  </div>
  </li>

  </ul>
  </div>
  <div class="top-comment">
  <h3 class="cf"><a href="javascript:void(0)" class="rotationbody floatright" ref="women" name="comment_refresh"><span class="iconbg refresh-ico rotation"></span>&nbsp;换一换</a><span class="f14">大家都在讨论</span></h3>

  <div id="women_share_comment">
  <div class="goods cf">
  <a href="/u/127049/board/508906/1272536" target="_blank" class="avatar"><img src="http://b2.imimg.cn/20120312/e4e8/f1ee/80411454533.3.60.60.jpg"></a>
  <div class="profile">
  <p class="desc"><a href="/u/127049/board/508906/1272536" class="linksgray" target="_blank">（复古vintage） 原单 欧美 ...</a></p>
  <p class="blue f14 b">￥599</p>
  </div>
  <span class="js-favouriteTips" style="position: absolute; right:10px;top:-28px;display:none;"><span class="smstips smstrue"><em class="smstips"></em></span></span>
  <a to="1272536" sharepicid="175516" boardpicuserid="127049" boardid="508906" class="button favourite-btn png" href="javascript:;">收集</a>
  <span class="count gray">
  <span class="orange js-share-count">

  716
  </span>
  &nbsp;人已收集
  </span>
  <span class="arrow"></span>
  </div>
  <div class="commentlist">
  <ul>

  <li class="cf">
  <a href="/u/392134" havecard="1" usercard="392134" target="_blank" class="avatar"><img src="http://b6.imimg.cn/20120917/1cbc/1288/50077979462.3.30.30.jpg"></a>
  <div class="comment">
  <a havecard="1" usercard="392134" href="/u/392134" target="_blank" class="username">hanako</a>：很好看的民族风
  </div>
  </li>

  </ul>
  <div class="more"><a target="_blank" href="/view/1272536">查看14条评论</a></div>
  </div>
  </div>

  </div>
  </div>
  </div>
  
  
  
  
  
  
  
  
  <div class="bestgoods favorite-mail modshadow" style="width:956px">
  <h2 class="itemhead">
  <span class="more"><a href="http://www.zhimei.com/discover/41/0/0">更多››</a></span>
  <span class="greenline size_6"><span class="item-title"><b class="blue">最受欢迎的</b>生活味</span></span>
  </h2>
  <div class="nav-img cf">

  <li>
  <a target="_blank" href="/discover/41/0/0?fromReshareId=3690477&amp;tagId=256">
  <img width="140" height="140" src="http://b4.imimg.cn/20120527/389a/b918/1340037850745.2.222.222.jpg">
  <span class="desc1">餐具</span><!--划过时隐藏-->
  <span class="desc2">餐具</span><!--划过时显示-->
  </a>
  </li>

  <li>
  <a target="_blank" href="/discover/41/0/0?fromReshareId=3786227&amp;tagId=419">
  <img width="140" height="140" src="http://b8.imimg.cn/20120615/876a/e2c4/1340046909927.2.222.222.jpg">
  <span class="desc1">园艺</span><!--划过时隐藏-->
  <span class="desc2">园艺</span><!--划过时显示-->
  </a>
  </li>

  <li>
  <a target="_blank" href="/discover/41/0/0?fromReshareId=5187346&amp;tagId=426">
  <img width="140" height="140" src="http://b8.imimg.cn/20120722/5ad2/e59c/38063505260.2.222.222.jpg">
  <span class="desc1">靠垫</span><!--划过时隐藏-->
  <span class="desc2">靠垫</span><!--划过时显示-->
  </a>
  </li>

  <li>
  <a target="_blank" href="/discover/41/0/0?fromReshareId=75544&amp;tagId=422">
  <img width="140" height="140" src="http://b7.imimg.cn/20120129/6467/6b6b/6d69597a/1329313438887.2.222.222.jpg">
  <span class="desc1">床品</span><!--划过时隐藏-->
  <span class="desc2">床品</span><!--划过时显示-->
  </a>
  </li>

  <li>
  <a target="_blank" href="/discover/41/0/0?fromReshareId=3723376&amp;tagId=257">
  <img width="140" height="140" src="http://b3.imimg.cn/20120602/f968/cc00/1340041173226.2.222.222.jpg">
  <span class="desc1">杯子</span><!--划过时隐藏-->
  <span class="desc2">杯子</span><!--划过时显示-->
  </a>
  </li>

  <li>
  <a target="_blank" href="/discover/41/0/0?fromReshareId=818641&amp;tagId=3767">
  <img width="140" height="140" src="http://b7.imimg.cn/20120229/191e/4bf8/73567240322.2.222.222.jpg">
  <span class="desc1">装饰画</span><!--划过时隐藏-->
  <span class="desc2">装饰画</span><!--划过时显示-->
  </a>
  </li>

  </div>
  <div class="feedback cf">
  <div class="nav-label">
  <ul>

  <li class="cf">
  <div class="major yahei"><a href="/discover/41/84/0">家纺</a></div>
  <div class="container">

  <a href="/discover/41/84/0?tagId=241" target="_blank">地毯</a>

  <a href="/discover/41/84/0?tagId=422" target="_blank">床品</a>

  <a href="/discover/41/84/0?tagId=423" target="_blank">窗帘</a>

  <a href="/discover/41/84/0?tagId=426" target="_blank">靠垫</a>

  <a href="/discover/41/84/0?tagId=428" target="_blank">毛巾</a>

  </div>
  </li>

  <li class="cf">
  <div class="major yahei"><a href="/discover/41/83/0">家具</a></div>
  <div class="container">

  <a href="/discover/41/83/0?tagId=429" target="_blank">床</a>

  <a href="/discover/41/83/0?tagId=430" target="_blank">沙发</a>

  <a href="/discover/41/83/0?tagId=431" target="_blank">桌子</a>

  <a href="/discover/41/83/0?tagId=2417" target="_blank">柜子</a>

  <a href="/discover/41/83/0?tagId=3579" target="_blank">架类</a>

  </div>
  </li>

  <li class="cf">
  <div class="major yahei"><a href="/discover/41/86/0">家饰</a></div>
  <div class="container">

  <a href="/discover/41/86/0?tagId=250" target="_blank">摆件</a>

  <a href="/discover/41/86/0?tagId=419" target="_blank">园艺</a>

  <a href="/discover/41/86/0?tagId=421" target="_blank">相框</a>

  </div>
  </li>

  <li class="cf">
  <div class="major yahei"><a href="/discover/42/0/0">数码</a></div>
  <div class="container">

  <a href="/discover/42/89/0?tagId=0" target="_blank">手机</a>

  <a href="/discover/42/90/0?tagId=0" target="_blank">电脑</a>

  <a href="/discover/42/91/0?tagId=0" target="_blank">相机</a>

  <a href="/discover/42/92/0?tagId=0" target="_blank">周边配件</a>

  <a href="/discover/42/93/0?tagId=0" target="_blank">音响</a>

  </div>
  </li>

  </ul>
  </div>
  <div class="top-buy">
  <h3 class="cf"><a href="javascript:void(0)" class="rotationbody floatright" ref="house" name="shopping_refresh"><span class="iconbg refresh-ico rotation"></span>&nbsp;换一换</a><span class="f14">大家想购买</span></h3>
  <ul class="wishlist" id="house_wishlist">

  <li class="cf">
  <a target="_blank" href="/view/6827954" class="avatar"><img src="http://b8.imimg.cn/20120828/8b30/1de4/92715292075.3.60.60.jpg"></a>
  <div class="profile gray">
  <p class="desc"><a class="linksgray" target="_blank" href="/view/6827954">限时特价包邮Homee招财猫五色碗套装日式创意碗韩式米饭碗陶...</a></p>
  <p><span class="orange">32</span>&nbsp;人想买</p>
  </div>
  </li>

  <li class="cf">
  <a target="_blank" href="/view/6754766" class="avatar"><img src="http://b7.imimg.cn/20120825/e872/eff4/55980470907.3.60.60.jpg"></a>
  <div class="profile gray">
  <p class="desc"><a class="linksgray" target="_blank" href="/view/6754766">日式zakka杂货送你一座小房子创意家居树脂摆件地中海风拍摄...</a></p>
  <p><span class="orange">26</span>&nbsp;人想买</p>
  </div>
  </li>

  <li class="cf">
  <a target="_blank" href="/view/6789628" class="avatar"><img src="http://b1.imimg.cn/20120826/c786/de44/69466395821.3.60.60.jpg"></a>
  <div class="profile gray">
  <p class="desc"><a class="linksgray" target="_blank" href="/view/6789628">白色斜口陶瓷花盆 简约独特 多肉植物组盆优选花盆 宜家简约风...</a></p>
  <p><span class="orange">34</span>&nbsp;人想买</p>
  </div>
  </li>

  </ul>
  </div>
  <div class="top-comment">
  <h3 class="cf"><a href="javascript:void(0)" class="rotationbody floatright" ref="house" name="comment_refresh"><span class="iconbg refresh-ico rotation"></span>&nbsp;换一换</a><span class="f14">大家都在讨论</span></h3>

  <div id="house_share_comment">
  <div class="goods cf">
  <a href="/u/278747/board/11098085/1164184" target="_blank" class="avatar"><img src="http://b2.imimg.cn/20120309/4158/70d4/33796434920.3.60.60.jpg"></a>
  <div class="profile">
  <p class="desc"><a href="/u/278747/board/11098085/1164184" class="linksgray" target="_blank">蜜桃花园鸡尾酒套装(5瓶装)免费送啦...</a></p>
  <p class="blue f14 b"></p>
  </div>
  <span class="js-favouriteTips" style="position: absolute; right:10px;top:-28px;display:none;"><span class="smstips smstrue"><em class="smstips"></em></span></span>
  <a to="1164184" sharepicid="171669" boardpicuserid="278747" boardid="11098085" class="button favourite-btn png" href="javascript:;">收集</a>
  <span class="count gray">
  <span class="orange js-share-count">

  1263
  </span>
  &nbsp;人已收集
  </span>
  <span class="arrow"></span>
  </div>
  <div class="commentlist" id="house_comment">
  <ul>

  <li class="cf">
  <a href="/u/362181" havecard="1" usercard="362181" target="_blank" class="avatar"><img src="http://b7.imimg.cn/20120405/9c20/b242/41965296027.3.30.30.jpg"></a>
  <div class="comment">
  <a havecard="1" usercard="362181" href="/u/362181" target="_blank" class="username">  烏鴉  </a>：好想要这个~
  </div>
  </li>

  <li class="cf">
  <a href="/u/359205" havecard="1" usercard="359205" target="_blank" class="avatar"><img src="http://b0.imimg.cn/20120405/708a/5d44/53970990839.3.30.30.jpg"></a>
  <div class="comment">
  <a havecard="1" usercard="359205" href="/u/359205" target="_blank" class="username">媞臆</a>：好给力的~~~~~~什么味道呢？？？？？？期待哦~~~~~~
  </div>
  </li>

  </ul>
  <div class="more"><a href="/view/1164184" target="_blank">查看37条评论</a></div>
  </div>
  </div>

  </div>
  </div>
  </div>
  
  
  
</div>
</div>

