<%= render :partial => 'content_above', :locals=>{:skp_content_style => "background:url(#{asset_path 'zm/r11839/images/common/bodybg.gif'}) repeat scroll 0 0 transparent"} %>
<%= render :partial => 'dz_navi',:locals => {margintop:15} %>

<div class="__zm" style="">
  
  
</div>

<%= render 'content_below' %>