/*
	WebLab - Global UI
	
	@author Owen Hindley

*/

.globalUI {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index:10;
	pointer-events:none;
}

.globalUI.unloaded {
	/* Flag for unloaded content */
}

.globalUI #staticMenu {
	position:absolute;
	top:0px;
	left:0px;
	z-index:110;


	pointer-events:auto;
}

.globalUI #menuBackgroundBlocker {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		pointer-events: none;

		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		-ms-transition: opacity 0.5s;
		transition: opacity 0.5s;
		
		display:none;

		opacity: 0;
		z-index:99;
}

.globalUI #menuBackgroundBlocker.enabled {
	display:block;	
	pointer-events:auto;
	cursor: pointer;
} 

.globalUI #menuBackgroundBlocker.disabled {
	display:none !important;
}

.globalUI.highlightingButtons #menuBackgroundBlocker {	
	opacity: 1;
}


@media (max-width: 1330px) {	

	.globalUI #menuBackgroundBlocker {
		display:block;		
	}

	.globalUI.mainMenu #menuBackgroundBlocker {		
		opacity: 1;
	}
}


/* New Footer */
#footerMenu {
	position: absolute;
	bottom: 6px;
	right: 16px;
	
	height: 20px;
	
	z-index:100;
	
	pointer-events:auto;
}

.centerRightFooterSwitch {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

@media (min-width: 1234px) and (max-width: 1470px) {
	.centerRightFooterSwitch.active {
		position: relative;
		margin: auto;
		max-width: 1234px;
	}
}

@media (min-width: 1471px) {
	.centerRightFooterSwitch.active #footerMenu.homePageScroll {
		right: 32px;
	}
}

#footerMenu .animationLayer {
	float: right;
	position: relative;
}

#footerMenu .logoHolder {
	margin-left: 13px;
}

#footerMenu .logoHolder.scienceMuseum {
	position: relative;
	top: -37px;
	width: 40px;
	height: 54px;
}

#footerMenu .clipContainer {
	float:right;
	overflow: hidden;
	position: relative;
	right:0px;
	width:700px;
	height:30px;
}


#footerMenu .socialNetworkButtons{

	-webkit-transition-property:left, margin, opacity;
	-moz-transition-property:left, margin, opacity;
	transition-property:left, margin, opacity;

	-webkit-transition-duration:0.5s, 0.5s, 0.5s;
	-moz-transition-duration:0.5s, 0.5s, 0.5s;
	transition-duration:0.5s, 0.5s, 0.5s;

	/*-webkit-transform:translate(0px);
	-moz-transform:translate(0px);
	transform:translate(0px);*/
	position: relative;
	left:0px;

	margin-left: 0px;
	padding-left:16px;
	overflow: hidden;

	opacity: 1;
}

.labReportOpen #footerMenu .socialNetworkButtons {
	/*-webkit-transform:translate(100%);
	-moz-transform:translate(100%);
	transform:translate(100%);
*/
	left:150%;
	margin-left:-100%;

	opacity: 0;
}

#footerMenu .socialNetworkButtons .socialNetworkButton {
	position: relative;
	margin-left: 4px;
}



#footerMenu .socialNetworkButtons .socialNetworkButton.facebook {
	top: -1px;
	height: 21px; 
	overflow: hidden;
}

#footerMenuChrome .white {
	display: none;
}

#footerMenu.white #footerMenuChrome .white {
	display: block;
}

#footerMenu.white #footerMenuChrome .normal {
	display: none;
}

@media (min-width: 1471px) {
	#footerMenu.white #footerMenuChrome .white {
		display: none;
	}
	
	#footerMenu.white #footerMenuChrome .normal {
		display: block;
	}
}

#footerMenu .footerLinks {
	margin-top: 1px;
}

#footerMenu .footerLinks .footerLink {
	/*font-family:'UniversLTW10-57Condense 726513', "Helvetica Neue", Arial, sans-serif;
	font-size: 11px; letter-spacing:-1px; line-height: 11px;*/
	color: #77807f;
	text-transform:uppercase;
	text-decoration: none;
	/*font-weight:bold;*/
}
#footerMenu .footerLinks .footerLink h6{
	color: #77807f;
	text-transform:uppercase;
	text-decoration: none;
	margin-top:-1px;
}

#footerMenu .footerLinks .feedbackLink {
	color:white;
	background-color: #5e8dd1;
	padding: 6px 8px 12px 8px;
	margin-right: 15px;
	margin-top: -1px;
	-webkit-transition: margin-top .3s ease-out;
	-moz-transition: margin-top .3s ease-out;
	transition: margin-top .3s ease-out;
}
#footerMenu .footerLinks .feedbackLink h6{
	color:white;
}

#footerMenu .footerLinks .splash {
	margin-top: 25px;
}



#footerMenu .footerLinks .footerLink:hover h6 {
	color: #3e4544;
}

#footerMenu.white .footerLinks .footerLink h6 {
	color: #FFFFFF;
}

#footerMenu.white .footerLinks .footerLink:hover h6 {
	color: #E2E3E3;
}

#footerMenu .footerLinks .feedbackLink:hover{
	color: white;
}

/* Technology Handle */
.globalUI #staticTechnologySlider {
	position:absolute;
	top:15px;
	right:0px;
	height:27px;	
	padding-left:33px;
	background-color:#3e4544;
	cursor:pointer;
	overflow: hidden;
	z-index:99;
	opacity: 1;

	/* This arrow might be replaced by SVG */
	background-image:url(/error/images/technology/technology-handle-arrow-white.png);
	background-position:9px 8px;
	background-repeat:no-repeat;

	pointer-events:auto;
	
	-webkit-transform:translateX(0px);
	-moz-transform:translateX(0px);
	transform:translateX(0px);
	
	-webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out, -moz-transform 0.3s ease-out;
	transition: opacity 0.3s ease-out, transform 0.3s ease-out;

}

.globalUI.unloaded #staticTechnologySlider {
	opacity: 0;
	pointer-events: none;
	
	-webkit-transform:translateX(30px);
	-moz-transform:translateX(30px);
	transform:translateX(30px);
}

.globalUI #staticTechnologySlider.hidden {
	opacity: 0;
	display: block; /* MENOTE: To prevent stupid override in global namespace */
	
	-webkit-transform:translateX(30px);
	-moz-transform:translateX(30px);
	transform:translateX(30px);
}

.globalUI #staticTechnologySlider h4{ color:white; height:21px; line-height: 19px !important; -moz-transform:translateY(-1px) scale(1.03, 1.09);}


/* The global dialog layer */
#globalDialogLayer {
	position:absolute;
	left:0px;
	top:0px;
	z-index:1000;	
}

/* Chrome render quirk fix */
.vpUh #globalDialogLayer {
	margin-top:-1px;
	padding-bottom: 1px;
}
.vpUw #globalDialogLayer {
	margin-left:-1px;
	padding-right:1px;
}
