<h2>修改我的客户端</h2>

<div class="header_buttons button-group">
  <%= link_to '返回', cpanel_clients_path, class: "button icon arrowleft" %>
  <%= link_to '详情', @client, class: "button" %>
</div>

<%= render 'form' %>

