
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>All Copy</title>
	</head>
	<body>
		<!-- Dynamic copy -->
		<div data-weblab-type="template" name="copy">

			<!-- Common -->
			<div name="common">


			</div>

			<!-- 课件台 Report Panel -->
			<div name="labReport">
				<div name="showLabReportPage">
					<div name="title">YOUR 课件台 REPORT</div>
					<div name="titleOther">课件台 REPORT</div>
					<div name="subtitle">Everything you create in Web 课件台 is stored here.</div>
					<div name="subtitleOther">This 课件台 Report belongs to a visitor from [0]. 
See what they’ve created.</div>
				</div>	
				<div name="confirmSavePage">
					<div name="title">SAVE THIS?</div>
					<div name="savingTitle">SAVING...</div>
					<div name="subtitleTryAgain">Could not save this to your 课件台访客</div>
				</div>		
				<div name="shareContentPage">
					<div name="title">SHARE WITH FRIENDS</div>
				</div>						
				<div name="social">
					<div name="labReportTwitterShared">This is my 课件台 Report. A collection of things I’ve created in Web Lab. [g.co/1234567890123456789012345]</div>
					<div name="periscopesTwitterShared">I've just used the Teleporter in Web Lab. See where I travelled to: [g.co/1234567890123456789012345]</div>
					<div name="visualiserTraceRouteTwitterShared">I just used the Data Tracer in Web Lab. Enter the 课件台 to have a go: [g.co/1234567890123456789012345]</div>
					<div name="orchestraVirtualSession">Check out my Web 课件台 Orchestra tune. Enter the 课件台 to listen: [g.co/1234567890123456789012345]</div>
					<div name="orchestraVideo">Check out my Web 课件台 Orchestra video. Enter the 课件台 to watch: [g.co/1234567890123456789012345]</div>
					<div name="sandrobotSketch">See how a robot sees me. Enter the 课件台 to take a look: [g.co/1234567890123456789012345]</div>
					<div name="sandrobotVideo">My portrait has just been drawn by a Sketchbot. Check it out and get your portrait drawn too: [g.co/1234567890123456789012345]</div>
				</div>
				<div name="errorTitle">ERROR</div>
				<div name="youTubePrompt">
					<div name="promptSignedIn">You'll be prompted to allow access to your YouTube account in order to save your video there.</div>
					<div name="promptNotSignedIn">You will also be prompted to allow access to your YouTube account in order to save your video there.</div>
					<div name="promptDisallowed">You need to allow access to your YouTube account to save this video.</div>
				</div>
			</div>

			<!-- Orchestra -->
			<div name="orchestra">
				<div name="tutorial">
					<div name="intro">
						<div name="title">
							<div name="instrument0">YOU'RE ABOUT TO PLAY THE MARIMBA</div>
							<div name="instrument1">YOU'RE ABOUT TO PLAY THE CROTALES</div>
							<div name="instrument2">YOU'RE ABOUT TO PLAY THE TEMPLE BLOCKS</div>
							<div name="instrument3">YOU'RE ABOUT TO PLAY THE KALIMBA</div>
							<div name="instrument4">YOU'RE ABOUT TO PLAY THE STEEL TONGUE DRUM</div>
							<div name="instrument5">YOU'RE ABOUT TO PLAY THE DRUMS</div>
							<div name="instrument6">YOU'RE ABOUT TO PLAY THE VIBRAPHONE</div>
							<div name="instrument7">YOU'RE ABOUT TO PLAY THE MIXED PERCUSSION</div>
						</div>
						<div name="body">Don't worry you can switch between different instruments later</div>
					</div>
					<div name="addBlob">Click on any spot to add a note</div>
					<div name="changeBlob">To change the sound, drag the note...</div>
					<div name="overHere">...over here</div>
					<div name="removeBlob"><span class='removeBlob'>Click on your note to delete it</span></div>
					<div name="otherUserBlobs">These smaller notes belong to other people playing online</div>
					<div name="numberOfBlobs">Now you're ready to make music with people from all over the world. You have 6 notes to compose with</div>

				</div>
				<div name="help">
					<div name="addRemoveBlob">Click to add/remove</div>
					<div name="changeBlob">Drag to change</div>
					<div name="numberOfBlobs">You have 6 blobs to play with</div>
				</div>
				<div name="generic">
					<div name="connecting"></div>
					<div name="areYouReadyBrowserTitle">ARE YOU READY?</div>
					<div name="you">YOU</div>
				</div>
				<div name="playing">
					<div name="instrument0">Playing the Marimba</div>
					<div name="instrument1">Playing the Crotales</div>
					<div name="instrument2">Playing the Temple Blocks</div>
					<div name="instrument3">Playing the Kalimba</div>
					<div name="instrument4">Playing the Steel Tongue Drum</div>
					<div name="instrument5">Playing the Drums</div>
					<div name="instrument6">Playing the Vibraphone</div>
					<div name="instrument7">Playing the Mixed Percussion</div>
				</div>

				<div name="queue">
					<div name="lessThanHours">Less than [[1]] hrs</div>
					<div name="lessThanMinutes">Less than [[1]] minutes</div>
					<div name="lessThanAMinute">Less than 1 min</div>
					<div name="numberPeople">[[3]] people</div>
					<div name="numberPerson">1 person</div>					
					<div name="lessThanNumber"></div>
					
					<div name="1nInLine">[[0]]st in line</div>
					<div name="2nInLine">[[0]]nd in line</div>
					<div name="3nInLine">[[0]]rd in line</div>
					<div name="nInLine">[[0]]th in line</div>

					<div name="calculating">Calculating...</div>
				</div>
				<div name="startPage">
					<div name="errorMessages">
						<div name="all">
							<div name="title">UNAVAILABLE</div>
							<div name="body">Sorry. The Science Museum instruments are experiencing technical difficulties at the moment. Please try again later.</div>
						</div>
						<div name="instrument0">
							<div name="title">UNAVAILABLE</div>
							<div name="body">Sorry. The Science Museum instruments are experiencing technical difficulties at the moment. Please try again later.</div>
						</div>
						<div name="instrument1">
							<div name="title">UNAVAILABLE</div>
							<div name="body">Sorry. The Science Museum instruments are experiencing technical difficulties at the moment. Please try again later.</div>
						</div>
						<div name="instrument2">
							<div name="title">UNAVAILABLE</div>
							<div name="body">Sorry. The Science Museum instruments are experiencing technical difficulties at the moment. Please try again later.</div>
						</div>
						<div name="instrument3">
							<div name="title">UNAVAILABLE</div>
							<div name="body">Sorry. The Science Museum instruments are experiencing technical difficulties at the moment. Please try again later.</div>
						</div>
						<div name="instrument4">
							<div name="title">UNAVAILABLE</div>
							<div name="body">Sorry. The Science Museum instruments are experiencing technical difficulties at the moment. Please try again later.</div>
						</div>
						<div name="instrument5">
							<div name="title">UNAVAILABLE</div>
							<div name="body">Sorry. The Science Museum instruments are experiencing technical difficulties at the moment. Please try again later.</div>
						</div>
						<div name="instrument6">
							<div name="title">UNAVAILABLE</div>
							<div name="body">Sorry. The Science Museum instruments are experiencing technical difficulties at the moment. Please try again later.</div>
						</div>
						<div name="instrument7">
							<div name="title">UNAVAILABLE</div>
							<div name="body">Sorry. The Science Museum instruments are experiencing technical difficulties at the moment. Please try again later.</div>
						</div>
						<div name="instrument8">
							<div name="title">UNAVAILABLE</div>
							<div name="body">Sorry. The Science Museum instruments are experiencing technical difficulties at the moment. Please try again later.</div>
						</div>
						<div name="instrument9">
							<div name="title">UNAVAILABLE</div>
							<div name="body">Sorry. The Science Museum instruments are experiencing technical difficulties at the moment. Please try again later.</div>
						</div>
						<div name="virtualUnavailable">
							<div name="title">UNAVAILABLE</div>
							<div name="body">Sorry. The online instruments are experiencing technical difficulties at the moment. Please try again later.</div>
						</div>						

						<div name="virtualNoChrome">
							<div name="title">YOUR BROWSER DOESN'T SUPPORT THIS</div>
							<div name="body">Download Chrome to play online instruments.</div>
							<div name="downloadButtonCopy">Download Chrome</div>
						</div>
						<div name="virtualNoAudioApi">
							<div name="title">UNAVAILABLE</div>
							<div name="body"></div>
						</div>

					</div>
				</div>

				<div name="labReport">
					<div name="saveVirtualBody">Your creation will be saved to the public gallery for you to retrieve and share with your friends.</div>
					<div name="saveLiveBody">Thanks for participating in the live Orchestra experiment. 

Would you like to save the video of your session to your 课件台访客?</div>
					<div name="takeawayLabelBody">This is your recorded session.</div>
					<div name="takeawayDescriptionBody">This was a real-time collaboration with people across the world.</div>
					<div name="takeawayDescriptionSeparator">,</div>
					<div name="takeawayDescriptionSeparatorLast">and</div>
				</div>


			</div>

			<!-- Landing Page -->
			<div name="landing">
				<div name="intro">
					<div name="museumVisitors">Museum visitors</div>
					<div name="onlineVisitors">Online visitors</div>
					<div name="introLabTag">THIS IS YOUR 课件台访客</div>
					<div name="introLabTagHeading">正在开启课件台</div>
					<div name="introLabTagBody1">课件台由１个主站和Ｎ个子站组成，我们为每个学校建立了独立子站，您既可以进入子站这个属于学校自己的独立学习社区，亦可进入主站按学科整合浏览多个子站的聚合资源。</div>
					<div name="introLabTagBody2">正在为您打开课件台主站...</div>
					<div name="signedInAs">您已经以此身份登录：</div>
					<div name="processorIntensive">课件台是一个资源密集的网站，请尽量关闭不必要的浏览器选项卡和程序。</div>
				</div>
			</div>

			<!-- Main Nav -->
			<div name="mainNav">
				<div name="haveYouTried">
					<div name="orchestra">Have you tried Universal Orchestra?</div>
					<div name="teleporter">Have you tried Teleporter?</div>
					<div name="sketchbots">Have you tried Sketchbots?</div>
					<div name="datatracer">Have you tried Data Tracer?</div>
					<div name="labtags">Have you tried 课件台访客 Explorer?</div>
				</div>
			</div>

			<!-- Teleporter -->
			<div name="periscopes">
				<div name="locations">
					<div name="Periscopes_livefeed_tag_cam0">Miniatur Wunderland, Hamburg</div>
					<div name="Periscopes_livefeed_tag_cam1">Two Oceans Aquarium, Cape Town</div>
					<div name="Periscopes_livefeed_tag_cam2">Amélie's Bakery, North Carolina</div>
				</div>
				<div name="saving">
					<div name="saveToLabTagCopy">Would you like to save your snapshots to your 课件台访客? After saving these you have the option to save more.</div>
				</div>
				<div name="overview">
					<div name="streamDownBody">Currently we’re experiencing technical issues with the live stream. Please try again later.</div>
				</div>
				<div name="openPage">
					<div name="Periscopes_delete_button">Delete</div>
				</div>
			</div>

			<!-- 课件台访客s -->
			<div name="labtags">
				<div name="recent">
					<div name="connection">
						<div name="periscopes">Visitors who recently interacted with Teleporter</div>
						<div name="orchestra">Visitors who recently interacted with Universal Orchestra</div>
						<div name="robots">Visitors who recently interacted with Sketchbots</div>
						<div name="visualiser">Visitors who recently interacted with Data Tracer</div>
						<div name="breakfast">Visitors who might be having their breakfast</div>
						<div name="lunch">Visitors who might be having their lunch</div>
						<div name="dinner">Visitors who might be having their dinner</div>
						<div name="asleep">Visitors who should be asleep right now</div>
						<div name="superUser">Visitors who have created lots at Web Lab</div>
						<!--<div name="smiling">Visitors who are smiling</div>-->
						<div name="labtags">Visitors who recently interacted with 课件台访客 Explorer</div>
					</div>
				</div>
				<div name="location">
					<div name="january">January</div>
					<div name="february">February</div>
					<div name="march">March</div>
					<div name="april">April</div>
					<div name="may">May</div>
					<div name="june">June</div>
					<div name="july">July</div>
					<div name="august">August</div>
					<div name="september">September</div>
					<div name="october">October</div>
					<div name="november">November</div>
					<div name="december">December</div>
					<div name="today">Today</div>
					<div name="userFrom">User from</div>
					<div name="loader">Loading 课件台访客 Data</div>
				</div>
				<div name="common">
					<div name="sortBy">SORT BY</div>
					<div name="museumVisitors">Museum visitors</div>
					<div name="onlineVisitors">Online visitors</div>
					<div name="you">YOU</div>
					<div name="livestreamDown">哎呀! The live stream is down at the moment. Please visit later.</div>
					<div name="museumClosed">Museum is closed</div>
				</div>
			</div>




			<!-- Sand Robots -->
			<div name="sandRobots">
			
				<div name="startpage">
					<div name="carousel">
						<div name="feed">
							<div name="names1">Sketchbot No. 1</div>
							<div name="names2">Sketchbot No. 2</div>
							<div name="names3">Sketchbot No. 3</div>
							<div name="names4">Sketchbot No. 4</div>
							<div name="names5">Sketchbot No. 5</div>
							<div name="names6">Sketchbot No. 6</div>
							<div name="names7">Sketchbot No. 7</div>
							<div name="names8">Sketchbot No. 8</div>
						</div>
					</div>
					<div name="errorMessages">
						<div name="noStreams">
							<div name="robotTitle"></div>
							<div name="title">UNAVAILABLE</div>
							<div name="body">Sorry. The Sketchbot is experiencing technical difficulties at the moment. Please try again later.</div>
						</div>
						<div name="streamDown">
							<div name="title">UNAVAILABLE</div>
							<div name="body">Sorry. The Sketchbot is experiencing technical difficulties at the moment. Please try again later.</div>
						</div>
						<div name="cantShowDrawing">Sorry this portrait cannot be viewed right now.</div>
					</div>

				</div>

				<div name="processing">
					<div name="step1">
						<div name="steps">Crop</div>
						<div name="smile">CHANCE OF SMILE</div>
					</div>
					<div name="step2">
						<div name="steps">Rotate</div>
					</div>
					<div name="step3">
						<div name="steps">Desaturate</div>
						<div name="saturation">SATURATION</div>
					</div>
					<div name="step4">
						<div name="steps">Threshold</div>
						<div name="tolerance">Tolerance</div>
						<div name="surround">Surround</div>
					</div>
					<div name="step5">
						<div name="steps">Edge detection</div>
						<div name="edgedetection">EDGE DETECTION</div>
					</div>
					<div name="step6">
						<div name="steps">Vectorise</div>
						<div name="vectorise">VECTORISE</div>
					</div>
					<div name="step7">
						<div name="steps">Photo will be deleted</div>
						<div name="merge"></div>
					</div>
					<div name="complete">PORTRAIT CREATION COMPLETE</div>
				</div>
				
				<div name="inQueue">
					<div name="queueAvatarLabels">Queuing from [insert place name]</div>
					<div name="youLabel">YOU</div>		
				</div>				
				
				<div name="queueInfo">
					<div name="people">[insert number] in line</div>	
					<div name="time">Less than [insert number] hr</div>		
					<div name="slotsAvailable">[insert number] slots available, submit now.</div>			
					<div name="lessThanHours">Less than [[1]] hrs</div>
					<div name="lessThanMinutes">Less than [[1]] minutes</div>
					<div name="lessThanOneMinute">Less than 1 min</div>
				</div>
				
				<div name="cantQueue">
					<div name="title">SORRY THE SKETCHBOTS ARE BUSY</div>
				</div>
				
				<div name="liveFeed">
					<div name="dynamicInfo">
						<div name='location'>From [insert country/Science Museum]</div>
					</div>
				</div>

				<div name="youTubePrompt">
					<div name="promptSignedIn">You will be prompted to allow access to your YouTube account to save your video.</div>
					<div name="promptNotSignedIn">You will also be prompted to allow access to your YouTube account to save your video.</div>
					<div name="promptDisallowed">You will need to allow access to your YouTube account to save this to the Sketchbots.</div>
				</div>
				
			</div>

			<div name="visualiser">
				<div name="map">
					<div name="weblab">WEB LAB</div>
					<div name="science_museum_london">Science Museum, London</div>
					<div name="no_results"><p class='no-results-copy'>Sorry you can't search for that</p></div>
				</div>
				<div name="search">
					<div name="not_available" ><div class="traceroute-error-container-outer"><div class="traceroute-error-container-inner"><p class='traceroute-error-copy'>Sorry. This traceroute is not available.</p></div></div></div>
					<div name='term0'>Search for an image (e.g. cats)</div>
					<div name='term1'>Search for an image (e.g. The Queen)</div>
					<div name='term2'>Search for an image (e.g. Picasso)</div>
					<div name='term3'>Search for an image (e.g. Cheese)</div>
					<div name='term4'>Search for an image (e.g. Sausage dog)</div>
					<div name='term5'>Search for an image (e.g. Space Hopper)</div>
					<div name='term6'>Search for an image (e.g. Palm Tree)</div>
					<div name='term7'>Search for an image (e.g. London)</div>
					<div name='term8'>Search for an image (e.g. Concord)</div>
					<div name='term9'>Search for an image (e.g. Saturn)</div>
					<div name='term10'>Search for an image (e.g. Skateboard)</div>
				</div>

				<div name="unknown">Unknown location</div>
				
				<div name="end">
					<div name="save" >Save this to share it with the all Web 课件台 visitors. Do you want to save this?</div>
				</div>
				<div name="comparisonStrings">
					<div name="space-station">That's {speed}x faster than the International Space Station orbiting Earth!</div>
					<div name="air-mail">Your trace route took {actual_seconds} seconds to reach its destination. An envelope with your image inside would have taken about {normalized_days} days via air mail.</div>
					<div name="olympic-cyclist">Your trace route took {actual_seconds} seconds to reach its destination. A cyclist would have taken about {normalized_days} days. Riding flat out. With no sleep.</div>
					<div name="olympic-athlete">That's {speed}x faster than a sprinter running 100m with the wind behind him and a winning smile on his face.</div>
					<div name="boeing-747">The trace route was {speed}x faster than a jumbo jet at full speed!</div>
					<div name="speed-of-sound">That's {speed}x the speed of sound.</div>
					<div name="speed-of-light">That's {speed}x faster than the speed of light.</div>
					<div name="formula-one">Your trace route took {actual_seconds} seconds to reach its destination. That's {speed}x times faster than a  Formula 1 car.</div>
					<div name="carrier-pigeon">Your trace route took {actual_seconds} seconds. A carrier pigeon would have taken {normalized_days} days to deliver that image.</div>
					<div name="bullet-train">The trace route was {speed}x faster than a Japanese bullet train at top speed.</div>
				</div>
				<div name="noTimePlaceholder">TRACED AT THE SCIENCE MUSEUM, LONDON.</div>

			</div>			

			<div name="countryCodes">
				<div name='AD'>Andorra</div>
				<div name='AE'>United Arab Emirates</div>
				<div name='AF'>Afghanistan</div>
				<div name='AG'>Antigua and Barbuda</div>
				<div name='AI'>Anguilla</div>
				<div name='AL'>Albania</div>
				<div name='AM'>Armenia</div>
				<div name='AO'>Angola</div>
				<div name='AQ'>Antarctica</div>
				<div name='AR'>Argentina</div>
				<div name='AS'>American Samoa</div>
				<div name='AT'>Austria</div>
				<div name='AU'>Australia</div>
				<div name='AW'>Aruba</div>
				<div name='AX'>Aland Islands</div>
				<div name='AZ'>Azerbaijan</div>
				<div name='BA'>Bosnia and Herzegovina</div>
				<div name='BB'>Barbados</div>
				<div name='BD'>Bangladesh</div>
				<div name='BE'>Belgium</div>
				<div name='BF'>Burkina Faso</div>
				<div name='BG'>Bulgaria</div>
				<div name='BH'>Bahrain</div>
				<div name='BI'>Burundi</div>
				<div name='BJ'>Benin</div>
				<div name='BL'>St Barthélemy</div>
				<div name='BM'>Bermuda</div>
				<div name='BN'>Brunei Darussalam</div>
				<div name='BO'>Bolivia</div>
				<div name='BQ'>Caribbean Netherlands</div>
				<div name='BR'>Brazil</div>
				<div name='BS'>The Bahamas</div>
				<div name='BT'>Bhutan</div>
				<div name='BV'>Bouvet Island</div>
				<div name='BW'>Botswana</div>
				<div name='BY'>Belarus</div>
				<div name='BZ'>Belize</div>
				<div name='CA'>Canada</div>
				<div name='CC'>Pulau-pulau-kokos</div>
				<div name='CD'>Democratic Republic of the Congo River</div>
				<div name='CF'>Central African Republic</div>
				<div name='CG'>Congo</div>
				<div name='CH'>Switzerland</div>
				<div name='CI'>Côte d'Ivoire</div>
				<div name='CK'>Cook Islands</div>
				<div name='CL'>Chile</div>
				<div name='CM'>Cameroon</div>
				<div name='CN'>China</div>
				<div name='CO'>Colombia</div>
				<div name='CR'>Costa Rica</div>
				<div name='CU'>Cuba</div>
				<div name='CV'>Cape Verde</div>
				<div name='CW'>Curacao</div>
				<div name='CX'>Christmas Island</div>
				<div name='CY'>Cyprus</div>
				<div name='CZ'>Czech Republic</div>
				<div name='DE'>Germany</div>
				<div name='DJ'>Djibouti</div>
				<div name='DK'>Denmark</div>
				<div name='DM'>Dominica</div>
				<div name='DO'>Dominican Republic</div>
				<div name='DZ'>Algeria</div>
				<div name='EC'>Ecuador</div>
				<div name='EE'>Estonia</div>
				<div name='EG'>Egypt</div>
				<div name='EH'>Western Sahara</div>
				<div name='ER'>Eritrea</div>
				<div name='ES'>Spain</div>
				<div name='ET'>Ethiopia</div>
				<div name='EU'>Europe</div>
				<div name='FI'>Finland</div>
				<div name='FJ'>Fiji</div>
				<div name='FK'>Falkland Islands (Islas Malvinas)</div>
				<div name='FM'>Micronesia</div>
				<div name='FO'>Faroe Islands</div>
				<div name='FR'>France</div>
				<div name='GA'>Gabon</div>
				<div name='GB'>United Kingdom</div>
				<div name='GD'>Grenada</div>
				<div name='GE'>Georgia</div>
				<div name='GF'>French Guiana</div>
				<div name='GG'>Guernsey</div>
				<div name='GH'>Ghana</div>
				<div name='GI'>Gibraltar</div>
				<div name='GL'>Greenland</div>
				<div name='GM'>The Gambia</div>
				<div name='GN'>Guinea</div>
				<div name='GP'>Guadeloupe</div>
				<div name='GQ'>Equatorial Guinea</div>
				<div name='GR'>Greece</div>
				<div name='GS'>South Georgia and the South Sandwich Islands</div>
				<div name='GT'>Guatemala</div>
				<div name='GU'>Guam</div>
				<div name='GW'>Guinea-Bissau</div>
				<div name='GY'>Guyana</div>
				<div name='HK'>Hong Kong</div>
				<div name='HM'>Heard Island and McDonald Islands</div>
				<div name='HN'>Honduras</div>
				<div name='HR'>Croatia</div>
				<div name='HT'>Haiti</div>
				<div name='HU'>Hungary</div>
				<div name='ID'>Indonesia</div>
				<div name='IE'>Ireland</div>
				<div name='IL'>Israel</div>
				<div name='IM'>Isle of Man</div>
				<div name='IN'>India</div>
				<div name='IO'>British Indian Ocean Territory</div>
				<div name='IQ'>Iraq</div>
				<div name='IR'>Iran</div>
				<div name='IS'>Iceland</div>
				<div name='IT'>Italy</div>
				<div name='JE'>Jersey</div>
				<div name='JM'>Jamaica</div>
				<div name='JO'>Jordan</div>
				<div name='JP'>Japan</div>
				<div name='KE'>Kenya</div>
				<div name='KG'>Kyrgyzstan</div>
				<div name='KH'>Cambodia</div>
				<div name='KI'>Kiribati</div>
				<div name='KM'>Comoros</div>
				<div name='KN'>St Kitts and Nevis</div>
				<div name='KP'>North Korea</div>
				<div name='KR'>South Korea</div>
				<div name='KW'>Kuwait</div>
				<div name='KY'>Cayman Islands</div>
				<div name='KZ'>Kazakhstan</div>
				<div name='LA'>Laos</div>
				<div name='LB'>Lebanon</div>
				<div name='LC'>St Lucia</div>
				<div name='LI'>Liechtenstein</div>
				<div name='LK'>Sri Lanka</div>
				<div name='LR'>Liberia</div>
				<div name='LS'>Lesotho</div>
				<div name='LT'>Lithuania</div>
				<div name='LU'>Luxembourg</div>
				<div name='LV'>Latvia</div>
				<div name='LY'>Libya</div>
				<div name='MA'>Morocco</div>
				<div name='MC'>Monaco</div>
				<div name='MD'>Moldova</div>
				<div name='ME'>Montenegro</div>
				<div name='MF'>St Martin</div>
				<div name='MG'>Madagascar</div>
				<div name='MH'>Marshall Islands</div>
				<div name='MK'>Macedonia (FYROM)</div>
				<div name='ML'>Mali</div>
				<div name='MM'>Burma</div>
				<div name='MN'>Mongolia</div>
				<div name='MO'>Macau</div>
				<div name='MP'>Northern Mariana Islands</div>
				<div name='MQ'>Martinique</div>
				<div name='MR'>Mauritania</div>
				<div name='MS'>Montserrat</div>
				<div name='MT'>Malta</div>
				<div name='MU'>Mauritius</div>
				<div name='MV'>Maldives</div>
				<div name='MW'>Malawi</div>
				<div name='MX'>Mexico</div>
				<div name='MY'>Malaysia</div>
				<div name='MZ'>Mozambique</div>
				<div name='NA'>Namibia</div>
				<div name='NC'>New Caledonia</div>
				<div name='NE'>Niger</div>
				<div name='NF'>Norfolk Island</div>
				<div name='NG'>Nigeria</div>
				<div name='NI'>Nicaragua</div>
				<div name='NL'>The Netherlands</div>
				<div name='NO'>Norway</div>
				<div name='NP'>Nepal</div>
				<div name='NR'>Nauru</div>
				<div name='NU'>Niue</div>
				<div name='NZ'>New Zealand</div>
				<div name='OM'>Oman</div>
				<div name='PA'>Panama</div>
				<div name='PE'>Peru</div>
				<div name='PF'>French Polynesia</div>
				<div name='PG'>Papua New Guinea</div>
				<div name='PH'>Philippines</div>
				<div name='PK'>Pakistan</div>
				<div name='PL'>Poland</div>
				<div name='PM'>St Pierre and Miquelon</div>
				<div name='PN'>Pitcairn Islands</div>
				<div name='PR'>Puerto Rico</div>
				<div name='PS'>West Bank</div>
				<div name='PT'>Portugal</div>
				<div name='PW'>Palau</div>
				<div name='PY'>Paraguay</div>
				<div name='QA'>Qatar</div>
				<div name='RE'>Reunion</div>
				<div name='RO'>Romania</div>
				<div name='RS'>Serbia</div>
				<div name='RU'>Russian Federation</div>
				<div name='RW'>Rwanda</div>
				<div name='SA'>Saudi Arabia</div>
				<div name='SB'>Solomon Islands</div>
				<div name='SC'>Seychelles</div>
				<div name='SD'>Sudan</div>
				<div name='SE'>Sweden</div>
				<div name='SG'>Singapore</div>
				<div name='SH'>Schleswig-Holstein</div>
				<div name='SI'>Slovenia</div>
				<div name='SJ'>Svalbard and Jan Mayen</div>
				<div name='SK'>Slovakia</div>
				<div name='SL'>Sierra Leone</div>
				<div name='SM'>San Marino</div>
				<div name='SN'>Senegal</div>
				<div name='SO'>Somalia</div>
				<div name='SR'>Suriname</div>
				<div name='SS'>South Sudan</div>
				<div name='ST'>São Tomé and Príncipe</div>
				<div name='SV'>El Salvador</div>
				<div name='SX'>St Martin</div>
				<div name='SY'>Syria</div>
				<div name='SZ'>Swaziland</div>
				<div name='TC'>Turks and Caicos Islands</div>
				<div name='TD'>Chad</div>
				<div name='TF'>French Southern and Antarctic Lands</div>
				<div name='TG'>Togo</div>
				<div name='TH'>Thailand</div>
				<div name='TJ'>Tajikistan</div>
				<div name='TK'>Tokelau</div>
				<div name='TL'>Timor-Leste</div>
				<div name='TM'>Turkmenistan</div>
				<div name='TN'>Tunisia</div>
				<div name='TO'>Tonga</div>
				<div name='TR'>Turkey</div>
				<div name='TT'>Trinidad and Tobago</div>
				<div name='TV'>Tuvalu</div>
				<div name='TW'>Taiwan</div>
				<div name='TZ'>Tanzania</div>
				<div name='UA'>Ukraine</div>
				<div name='UG'>Uganda</div>
				<div name='UM'>United States Minor Outlying Islands</div>
				<div name='US'>United States</div>
				<div name='UY'>Uruguay</div>
				<div name='UZ'>Uzbekistan</div>
				<div name='VA'>Holy See</div>
				<div name='VC'>St Vincent and the Grenadines</div>
				<div name='VE'>Venezuela</div>
				<div name='VG'>British Virgin Islands</div>
				<div name='VI'>US Virgin Islands</div>
				<div name='VN'>Vietnam</div>
				<div name='VU'>Vanuatu</div>
				<div name='WF'>Wallis and Futuna</div>
				<div name='WS'>Samoa</div>
				<div name='YE'>Yemen</div>
				<div name='YT'>Mayotte</div>
				<div name='ZA'>South Africa</div>
				<div name='ZM'>Zambia</div>
				<div name='ZW'>Zimbabwe</div>

				<div name="ZZ">Online</div>
				<div name="AA">Science Museum</div>
				<div name="theAA">the Science Museum</div>
			</div>		



		</div>	
		
	</body>
</html>


