<data>
	<templates>
		<template path="html/home/experiments.html" />
	</templates>
	<jsons>
	</jsons>
	<sounds>
		<sound id="home/lab-tag-creation/lab-tag-creation-a" path="/files/audio/home/lab-tag-creation/lab-tag-creation-a" />
		<sound id="home/lab-tag-creation/lab-tag-creation-b" path="/files/audio/home/lab-tag-creation/lab-tag-creation-b" />
		<sound id="home/lab-tag-creation/lab-tag-creation-c" path="/files/audio/home/lab-tag-creation/lab-tag-creation-c" />
		<!--<sound id="home/background/loop-home" path="/files/audio/home/background/loop-home" volume="0.6" />-->
		<sound id="home/background/loop-landing" path="/files/audio/home/background/loop-landing" volume="0.3" />
		<sound id="home/background/loop-transition" path="/files/audio/home/background/transition" volume="0.4" />
		<sound id="home/enter-lab/enter-lab" path="/files/audio/home/enter-lab/enter-lab" />
		<sound id="home/lab-tag-arrive/lab-tag-arrive" path="/files/audio/home/lab-tag-arrive/lab-tag-arrive" />
	</sounds>
	<images>
		
	</images>
	<javascripts>
		<library>
			<script type="application/javascript" src="/js/libs/three.js/r49/Three.js"></script>
			<script type="application/javascript" src="/js/weblab/utils/threejs/Ray.js"></script>
			<script type="application/javascript" src="/js/libs/stats.js/Stats.js"></script>
			<script type="application/javascript" src="/js/libs/dat-gui/build/DAT.GUI.min.js"></script>
			<!--<script type="application/javascript" src="/js/libs/swfobject/swfobject.js"></script>-->
			<!-- COMPILED FLAG START -->
			<script type="application/javascript" src="<%= asset_path 'wl/home.js' %>"></script>
			<!-- COMPILED FLAG END -->
		</library>
		<!-- DEV FLAG START   
		<utils>
		</utils>
		<section>
			<script type="application/javascript" src="/js/weblab/utils/threejs/ProjectorUtils.js"></script>
			<script type="application/javascript" src="/js/weblab/utils/threejs/MouseInteractionHandler.js"></script>
			<script type="application/javascript" src="/js/weblab/labtags/generator/LabTagsSpriteGenerator.js"></script>
			<script type="application/javascript" src="/js/weblab/labtags/boids/FloorGrid.js"></script>
			<script type="application/javascript" src="/js/weblab/labtags/boids/DebugArrow.js"></script>
			<script type="application/javascript" src="/js/weblab/labtags/boids/Path.js"></script>
			<script type="application/javascript" src="/js/weblab/labtags/boids/PathsManager.js"></script>
			<script type="application/javascript" src="/js/weblab/labtags/boids/LabTagSprite.js"></script>
			<script type="application/javascript" src="/js/weblab/labtags/boids/LabTagBoid.js"></script>
			<script type="application/javascript" src="/js/weblab/labtags/views/WebGLView.js"></script>
			<script type="application/javascript" src="/js/weblab/home/animation/LabTagCreation.js"></script>
			<script type="application/javascript" src="/js/weblab/home/streams/StreamsView.js"></script>
			<script type="application/javascript" src="/js/weblab/home/streams/StreamsManager.js"></script>
			<script type="application/javascript" src="/js/weblab/home/Experiment.js"></script>
			<script type="application/javascript" src="/js/weblab/home/HomePage.js"></script>
		</section>
		   DEV FLAG END -->
	</javascripts>
	
</data>
						