<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>SIGN OUT</title>
	</head>
	<body>

		<!-- Dialog Fragment for Queueing Tab (appears at top of screen) -->		
		<div id="commonSignOutDialog" data-weblab-type="template" name="common/signOutDialog" class="dialog">
			<div class="title">
				<div class="animationLayer"><h1>SIGN OUT</h1></div>
			</div>
			<div class="line"></div>
			<div class="content">
				<div class="animationLayer">
					<p>Are you sure you want to sign out?</p>
					<br/>
					<button class="cancelButton button weblabColourGreyDark">
						<h4>NO THANKS</h4>
					</button>
					<button class="confirmButton button weblabGradientGreen">
						<h4>YES, SIGN OUT</h4>
					</button>
				</div>
			</div>
		</div>
	</body>
</html>