<div id="copy"><p>版权所有 &copy; <%= Time.now.year %> Kejian.TV. <a href="/">返回首页</a> /
	   <a href="/welcome/shuffle">手气不错</a> /
     <a href="/simple/admin.php" target="_blank">后台管理</a>.<a style="text-decoration:none" href="http://www.miibeian.gov.cn" target="_blank">京ICP备12043859号</a>
</p></div>
