
<div class="__flo">
  <footer>
    <div class="footer-content">
      <span class="psvr_foot">版权所有 <span class="psvr_en">&copy;</span> <%= Time.now.year %> Kejian.TV. 课件著作权为原作者所有.</span>
      <ul class="psvr_footul">
        <li>
          <a href="/">返回首页</a>
        </li>
        <li>
          <a href="/welcome/shuffle">手气不错</a>
        </li>
        <li class="noslash">
          <a href="/cpanel" target="_blank">后台管理</a>
        </li>
      </ul>
    </div>
  </footer>
</div>
