<footer id="pagerFooter" class="mt20">
  <p>
    Copyright © <a href="http://www.cnu.edu.cn">首都师范大学</a>
  </p>
  <div class="copyright">
    地址：北京市西三环北路105号 100048     E-mail: <a class="wl" href="mailto:info@mail.cnu.edu.cn">info@mail.cnu.edu.cn</a>
  </div>
</footer>
