<footer id="pagerFooter" class="mt20">
  <a href="/">返回首页</a> |
  <a href="/welcome/shuffle">手气不错</a> |
  <a href="/cpanel" target="_blank">后台管理</a>

  <div class="copyright">
    版权所有 <span class="en">&copy;</span> <%= Time.now.year %> <a href="http://<%=Setting.ktv_domain%>">Kejian.TV</a>. 课件著作权为原作者所有.
  </div>
</footer>
