<div class="__qua">
  <div class="">
  	<div id="ld_qyfPlm_526">
  		<div class=" footer wrapper">
  			<div class="contents">
  				<div class="footer_nav row">
  					<div class="e_col footer_links w8">
  						<div id="ld_ExQemT_10917">
  							<ul class="nav_list">
  								<li class="about"><a href="/">返回首页</a></li>
  								<li><span class="bullet"> • </span></li>
  								<li class="help"><a href="/cpanel" target="_blank">团队后台</a></li>
  								<li><span class="bullet"> • </span></li>
  								<li class="shuffle"><a href="/welcome/shuffle">手气不错</a></li>
  							</ul>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</div>
