<div class="__zm">
<div id="footer">
  <p id="footer-p">版权所有 <span title="Web-22-32-165">&copy;</span><%=Time.now.year%> Kejian.TV, 课件著作权为原作者所有. <a href="http://www.miibeian.gov.cn" style="color:#666" target=“_blank">京ICP备11046107号</a>&nbsp;&nbsp; <a href="/">返回首页</a> . <a href="/welcome/shuffle">手气不错</a> . <a href="/cpanel" target="_blank">后台管理</a></p>
</div>
</div>
