<div class="__zm __skp">
<div id="footer">
  <p id="footer-p">
    <a href="/">返回首页</a> .
    <a onclick="addFavorite(this.href, '<%= Setting.ktv_subname %>课件交流系统');return false;" href="http://<%=Setting.ktv_sub%>.kejian.tv/" >收藏本站</a> .
    <a href="/simple/misc.php?mod=stat">站点统计</a> .
    <a onclick="showWindow('miscreport', 'simple/misc.php?mod=report&url='+REPORTURL);return false;" href="javascript:;">举报本页</a> .
    <a href="/welcome/shuffle">手气不错</a> .
    <a href="/simple/archiver/" target="_blank">简明版</a> .    
    <a href="/simple/admin.php" target="_blank">后台管理</a>.
		<a style="text-decoration:none" href="http://www.miibeian.gov.cn" target="_blank">京ICP备12043859号</a>
  </p>
</div>
</div>
