<% content_for :armpit do %>
	<%= stylesheet_link_tag 'ktv/__slide' %>
	<%= stylesheet_link_tag 'ktv/__slide_plan' %>
<% end %>
<div class='__slide' style="padding-top:50px">

<form id="subscriptionForm" action="https://www.slideshare.net/business/premium/payment" method="post" class="h-subscriptionForm">
  <input type="hidden" value="0" id="source" name="source">
  <input type="hidden" value="" id="cmp_src" name="cmp_src">
  <div id="logo" class="container">
		<a id="lg_in_out_thickbox" class="hide" href="/login?from_source=http%3A%2F%2Fwww.slideshare.net%2Fbusiness%2Fpremium%2Fplans" data-toggle="modal" data-target="#login_modal"></a>
    
    
		
    <div class="premium-heading">
      <h1 class="h-page-header">
           Go PRO on World's Largest Content Marketing Platform.
      </h1>
       <p class="lead muted">
      60 secs to signup | Upgrade or downgrade anytime | 30 day money-back guarantee
       </p>
    </div>
    <div class="plansWrapper">
      <div class="featureInfo h-featureInfo">
        <h3></h3>
        <ul>
 					<li class="withoutsub largeUploadFrench j-moreBenefits moreBenefits moreBenefitText">PRO upload benefits <span class="caret more"></span> </li>
    				<ul style="border-left:1px solid #ddd;margin-left: -19px;padding-left: 14px;" class="hidden-benefits">
    					<li> Larger file uploads</li>
    					<li> Private uploads</li>
    					<li class="withsub last"> Video uploads<span class="subtext">Upload professionals videos.</span></li>
  					</ul>
 					<li>Analytics<span class="subtext">Get analytics dashboard. Measure performance.</span></li>
 					<li>Meetings<span class="subtext">Password protected. Dedicated conference line.</span></li>
					<li class="last">Capture leads<span class="subtext">Collect sales leads on your content.</span></li>
 					<li class="j-moreDisplay moreDisplay moreDisplayText">Display settings <span class="caret more"></span> 
   					<span class="subtext">Control what to display on your content &amp; profile page</span></li>
  				<ul style="border-left:1px solid #ddd;margin-left: -19px;padding-left: 14px;" class="hidden-display">
    				<li class="withsub"> Content setting<span class="subtext"> Control what to display on content page</span></li>
    				<li class="withsub last"> Profile setting<span class="subtext">Customize look of your profile page</span></li>
  				</ul>
					<li class="last"></li>
				</ul>
      </div>
      <div class="featureInfo plan h-basic"> 
            <h3>Basic<span class="planPricing planPricingFree">free</span></h3>
            <ul>
              <li class="withoutsub moreBenefits j-moreBenefits"><span class="crossMark"></span></li> 
             <ul class="hidden-benefits">
               <li><span class="crossMark"></span></li>
               <li><span class="crossMark"></span></li>
               <li class="last"><span class="crossMark"></span></li>
             </ul>
              <li><span class="crossMark"></span></li>
              <li><span class="crossMark"></span></li>
              <li class="last"><span class="crossMark"></span></li>
             <li class="moreDisplay j-moreDisplay"><span class="crossMark"></span></li>
             <ul class="hidden-display">
               <li>None</li>
               <li class="last">None</li>
             </ul>
              <li class="last"><hr class="free"></li>
            </ul>
          </div>
          <div class="featureInfo plan silver">
          <span class="popular"></span>
          <h3>Silver<span class="planPricing"><strong><span class="h-currency_symbol">$</span><span class="h-silver_price">19</span></strong> per month</span></h3>
            <ul>
               <li class="withoutsub moreBenefits j-moreBenefits"><span class="tickMark"></span></li> 
               <ul class="hidden-benefits">
                 <li><span class="tickMark"></span></li>
                 <li><span class="tickMark"></span></li>
                 <li class="last"><span class="bigNum">10</span> videos per month</li>
               </ul>
              <li><span class="tickMark"></span></li>
               <li><span class="tickMark"></span></li>
              <li class="h-valignMiddleGerman last"><span class="bigNum">30</span> leads per month <br>No geo targeting</li>
               <li class="valignMiddle j-moreDisplay moreDisplay"><span class="bigText"><strong>Basic</strong></span></li>
               <ul class="hidden-display">
               <li>
                   <a class="j-tooltip toolTipQuestion" href="#" original-title="&lt;ul class='nav'&gt;&lt;li class='tick'&gt;Turn off related content&lt;/li&gt; &lt;li class='cross'&gt;Remove transcript on slideshow page&lt;/li&gt; &lt;li class='cross'&gt;Turn off comments on your content&lt;/li&gt;&lt;/ul&gt;">
                     <span><strong>Basic</strong><sup>?</sup></span>
                   </a>
                 </li>
                 <li class="h-valignMiddleGerman with-sample last">
                   <a class="j-tooltip toolTipQuestion" href="#" original-title="&lt;ul class='nav'&gt;&lt;li class='tick'&gt;Remove ads from all your pages&lt;/li&gt; &lt;li class='tick'&gt;Apply hand-picked themes on your pages&lt;/li&gt; &lt;li class='cross'&gt;Apply your own customized brand themes&lt;/li&gt; &lt;li class='cross'&gt;Add banner of your brand. Link it to your website.&lt;/li&gt;&lt;/ul&gt;">
                     <span><strong>Basic</strong><sup>?</sup></span>
                   </a>
                   <a class="viewSample j-plan-ex h-link-silverPage" href="http://public.slidesharecdn.com/images/business/plans/silverPage.jpg?de126fc93e">Sample</a>
                 </li>
               </ul>
              <li class="with-cta last">                   
                
                <a class="j-upgrade-subscription h-upgrade-silver h-button btn btn-primary btn-large choosePlan" href="#silver_upgrade_cta">Signup</a>
              </li>
            </ul>
      </div>
      <div class="featureInfo plan gold">
        <h3>Gold<span class="planPricing"><strong><span class="h-currency_symbol">$</span><span class="h-gold_price">49</span></strong> per month</span></h3>
        <ul>
          <li class="withoutsub moreBenefits j-moreBenefits"><span class="tickMark"></span></li>
           <ul class="hidden-benefits">
             <li><span class="tickMark"></span></li>
             <li><span class="tickMark"></span></li>
             <li class="last"><span class="bigNum">20</span> videos per month</li>
           </ul>
           <li><span class="tickMark"></span></li>
           <li><span class="tickMark"></span></li>
          <li class="h-valignMiddleGerman last"><span class="bigNum">75</span> leads per month <br>with geo targeting</li>
           <li class="valignMiddle j-moreDisplay moreDisplay"><span class="bigText"><strong>Advanced</strong></span></li>
          <ul class="hidden-display">
             <li>
               <a class="j-tooltip toolTipQuestion" href="#" original-title="&lt;ul class='nav'&gt;&lt;li class='tick'&gt;Turn off related content&lt;/li&gt; &lt;li class='tick' &gt;Remove transcript on slideshow page&lt;/li&gt; &lt;li class='cross'&gt;Turn off comments on your content&lt;/li&gt;&lt;/ul&gt;">
                 <span><strong>Advanced</strong><sup>?</sup></span>
               </a>
             </li>
             <li class="h-valignMiddleGerman with-sample last">
               <a class="j-tooltip toolTipQuestion" href="#" original-title="&lt;ul class='nav'&gt;&lt;li class='tick'&gt;Remove ads from all your pages&lt;/li&gt; &lt;li class='tick'&gt;Apply hand-picked themes on your pages&lt;/li&gt; &lt;li class='tick'&gt;Apply your own customized brand themes&lt;/li&gt; &lt;li class='cross'&gt;Add banner of your brand. Link it to your website.&lt;/li&gt;&lt;/ul&gt;"><span><strong>Standard</strong><sup>?</sup></span>
               </a>
               <a class="viewSample j-plan-ex h-link-goldPage" href="http://public.slidesharecdn.com/images/business/plans/goldPage.jpg?e8fe004b1f">Sample</a>
             </li>
           </ul>
          <li class="with-cta last">
            
            
            <a class="j-upgrade-subscription h-upgrade-gold h-button btn btn-primary btn-large choosePlan" href="#gold_upgrade_cta">Signup</a>
          </li>
        </ul>
      </div>
      <div class="featureInfo plan platinum">
        <h3>Platinum<span class="planPricing"><strong><span class="h-currency_symbol">$</span><span class="h-platinum_price">249</span></strong> per month</span></h3>
        <ul>
           <li class="withoutsub moreBenefits j-moreBenefits"><span class="tickMark"></span></li>
           <ul class="hidden-benefits">
           <li><span class="tickMark"></span></li>
             <li><span class="tickMark"></span></li>
             <li class="last"><span class="bigText"><strong>Unlimited</strong></span></li>
           </ul>
           <li><span class="tickMark"></span></li>
           <li><span class="tickMark"></span></li>
          <li class="h-valignMiddleGerman last"><span class="bigText"><strong>Unlimited</strong></span><br>with custom questions</li>
           <li class="valignMiddle j-moreDisplay moreDisplay"><span class="bigText"><strong>Full Branding</strong></span></li>
           <ul class="hidden-display">
             <li class="h-fullControlGerman                                                                                        ">
               <a class="j-tooltip toolTipQuestion" href="#" original-title="&lt;ul class='nav'&gt;&lt;li class='tick'&gt;Turn off related content&lt;/li&gt; &lt;li class='tick'&gt;Remove transcript on slideshow page&lt;/li&gt; &lt;li class='tick'&gt;Turn off comments on your content&lt;/li&gt;&lt;/ul&gt;"><span><strong>Full Control</strong><sup>?</sup></span>
               </a>
             </li>
             <li class="h-valignMiddleGerman h-fullBrandingGerman with-sample last">
               <a class="j-tooltip toolTipQuestion" href="#" original-title="&lt;ul class='nav'&gt;&lt;li class='tick'&gt;Remove ads from all your pages&lt;/li&gt; &lt;li class='tick'&gt;Apply hand-picked themes on your pages&lt;/li&gt; &lt;li class='tick'&gt;Apply your own customized brand themes&lt;/li&gt; &lt;li class='tick'&gt;Add banner of your brand. Link it to your website.&lt;/li&gt;&lt;/ul&gt;"><span><strong>Fully Branded</strong><sup>?</sup></span>
               </a>
               <a class="viewSample j-plan-ex h-link-platinumPage" href="http://public.slidesharecdn.com/images/business/plans/platinumPage.jpg?b8c7983035">Sample</a></li>
             </ul>
             <li class="with-cta last">
            
            
            <a class="j-upgrade-subscription h-upgrade-platinum h-button btn btn-primary btn-large choosePlan" href="#platinum_upgrade_cta">Signup</a>
           </li>
         </ul>
      </div>
      <span class="specialPricing">
        <a class="h-non_profit_link j-non-profit-subscription nonprofit" href="#non_profit_cta">Non-Profit Pricing</a>
        <a class="h-education_link j-education-subscription education" href="#education_cta">Educational Pricing</a>
      </span>
      <div class="clearfix"></div>
    </div>
    <div id="j-loginQuestion" class="hide miniDialog">
      <p class="title"><strong>Do you have a SlideShare account?</strong></p>
      <p>
        <a id="yes" class="ctaNormal yes" href="/login?from_source=/contact_support&amp;from=business" data-toggle="modal" data-target="#login_modal">Yes</a>
        <a id="no" class="ctaNormal no" href="/contact_support">No</a>
      </p>
    </div>
    <div class="lineSep"></div>
    <div class="j-testimonials testimonials">
      <div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block;"><div class="jcarousel-clip jcarousel-clip-horizontal" style="overflow: hidden; position: relative;"><ul class="j-testimonial_carousel jcarousel-list jcarousel-list-horizontal" style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; width: 3940px;">
        <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="1">
        <blockquote>
            <span class="leftQuote sprite">“</span>We have found that SlideShare PRO is very close to a silver bullet solution.<span class="rightQuote">”</span>
          <p><cite>&mdash; <strong>Jess3</strong>, Interactive Agency in D.C.</cite></p>
        </blockquote>
        </li>
        <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="2">
        <blockquote>
            <span class="leftQuote sprite">“</span>With SlideShare we get exposure to people we never could have reached on other social channels.<span class="rightQuote">”</span>
          <p><cite>&mdash; <strong>Koka Sexton</strong>, Director - Social Strategy, InsideView</cite></p>
        </blockquote>
        </li>
        <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="3">
        <blockquote>
            <span class="leftQuote sprite">“</span>SlideShare is the starting point for the content we want to see spread.<span class="rightQuote">”</span>
          <p><cite>&mdash; <strong>Joe Chernov</strong>,  Eloqua</cite></p>
        </blockquote>
        </li>
        <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="4">
        <blockquote>
            <span class="leftQuote sprite">“</span>SlideShare has been critical to my own success as a trainer, blogger, and capacity builder in the nonprofit sector.<span class="rightQuote">”</span>
          <p><cite>&mdash; <strong>Beth Kanter</strong>, Co-author, The Networked Non-Profit</cite></p>
        </blockquote>
        </li>
      </ul></div></div>
      <div class="j-controls controls">
        <a alt="1" class="on" href="#"></a>
        <a alt="2" class="off" href="#"></a>
        <a alt="3" class="off" href="#"></a>
        <a alt="4" class="off" href="#"></a>
      </div>
    </div>
    <div class="lineSep"></div>
    <div class="featuresWrapper">
     <div class="feature span3">
       <span class="sprite privacy">&nbsp;</span>
       <h3>Private Uploads</h3>
       <p>Keep your uploads private. Password protect your uploads, or use the secret URL for sharing. <a class="pfbox h-link-feature-privacy" href="http://public.slidesharecdn.com/images/business/plans/feature-privacy.png?0219c3df8f">View example</a>.
       </p>
     </div> <!-- .feature -->
     <div class="feature span3">
       <span class="sprite analytics">&nbsp;</span>
       <h3>Analytics</h3>
       <p>Get analytics dashboard. View company, location, referrers, search keywords and measure performance on Facebook, Twitter. <a class="pfbox h-link-feature-analytics" href="http://public.slidesharecdn.com/images/business/plans/feature-analytics.png?6901f1dc7f">View example</a>.
       </p>
     </div><!-- .feature -->
     <div class="feature span3">
       <span class="sprite zipcast">&nbsp;</span>
       <h3>Meetings</h3>
       <p>No downloads. 1-click start. Dedicated conference lines. Password protected. <a class="pfbox h-link-feature-zipcast" href="http://public.slidesharecdn.com/images/business/plans/feature-zipcast.jpg?61dc11877b">View example</a>.
       </p>
     </div><!-- .feature -->
     <div class="feature span3">
       <span class="sprite videos">&nbsp;</span>
       <h3>Video Uploads</h3>
       <p>Upload professionals videos. Max size 500 MB. No video time limits. Collect business leads with videos. HD support coming soon!</p>
     </div> <!-- .feature -->
     <div class="feature span3">
       <span class="sprite leads">&nbsp;</span>
       <h3>Capture Leads</h3>
       <p>Collect business leads on your content. Fully customizable leadform with geographic targeting. <a class="pfbox h-link-feature-leads" href="http://public.slidesharecdn.com/images/business/plans/feature-leads.png?5d224c9866">View example</a>.
       </p>
     </div><!-- .feature -->
     <div class="feature span3">
       <span class="sprite control">&nbsp;</span>
       <h3>Control</h3>
       <p>Turn off related / competitive content, Remove transcript. Get regulatory compliance by turning off comments.  <a class="pfbox h-link-feature-control" href="http://public.slidesharecdn.com/images/business/plans/feature-control.png?119ac7a226">View example</a>.
       </p>
     </div><!-- .feature -->
     <div class="feature span3">
       <span class="sprite branding">&nbsp;</span>
       <h3>Branding</h3>
       <p>Make your SlideShare channel an extension of your brand. Get a custom look and feel for your channel. <a class="pfbox h-link-feature-branding" href="http://public.slidesharecdn.com/images/business/plans/feature-branding.jpg?894c74e992">View example</a>.
       </p>
     </div><!-- .feature -->
     <div class="feature span3">
       <span class="sprite ads">&nbsp;</span>
       <h3>Remove Ads</h3>
       <p>Engage your community with your content, not ads. Your visitors will stay longer and engage more without distracting ads. <a class="pfbox h-link-feature-no-ads" href="http://public.slidesharecdn.com/images/business/plans/feature-no-ads.jpg?d0e948e73b">View example</a>.
       </p>
     </div><!-- .feature -->
     <div class="feature span3"> </div>
		<h2 class="usersTitle">Trusted by enterprises, startups and professionals alike</h2>
    <p class="users">
      <img width="870" height="205" alt="Dell, Microsoft, Edelman, Cisco, Pfizer" src="<%=asset_path('slide/public.slidesharecdn.com/images/business/plans/slideshare-clients.jpg')%>">
      <span class="education">Education</span>
      <span class="nonprofit">Non Profit</span>
      <span class="professionals">Professionals</span>
      <span class="fortune">Fortune 500</span>
      <span class="startup">Startup</span>
      <span class="media">Media</span>
    </p><!-- .users -->
     <!-- new content -->
    <h2 class="usersTitle">Frequently Asked Questions</h2>
   	<div class="faqWrapper row">
		<div class="span5 column1">
        <h4>How can I pay for SlideShare PRO? Is the payment monthly or annual?</h4>
        <p>Payment is by credit card. Both monthly and annual options are available.</p> 
        <h4>How does the billing work for SlideShare PRO?</h4>
        <p>When you choose the monthly option, your credit card is charged for the first month. This is a rolling month, with the next cycle due in 30 days. If you don't downgrade (or cancel) during this period, the next billing will happen as scheduled.
        <br>When you choose the annual option, your credit card is charged for the first year. This is a rolling year, with the next cycle due in 12 months. If you don't downgrade (or cancel) during this period, the next billing will happen as scheduled.</p>
        <h4>How can I downgrade from a Pro plan?</h4>
        <p>To downgrade, go to your PRO dashboard and select the downgrade option in the 'Modify plan' section. Your PRO account will get marked for downgrading, and you'll not be billed from the next cycle.</p>
     	</div><!-- .column1 -->
      <div class="span5">
        <h4>Can I cancel or downgrade anytime? Is there a cancelation fee?</h4>
        <p>You can downgrade or cancel anytime. If you had a monthly plan, you'll not get billed from the next monthly cycle. In case of yearly plan, you'll not be billed from the next yearly cycle.
        <br>If you are in the first 30 days, you can ask for a refund. There is no separate cancelation fee.</p>
        <h4>What is the 30-day money back guarantee?</h4>
        <p>If you are not happy with SlideShare PRO, just email us within 30 days. We'll refund your money. This is valid for both  monthly and annual plans.</p>
        <p><a target="_blank" href="http://slideshare.zendesk.com/forums/215786-slideshare-pro-accounts">View more FAQs</a></p>
      </div><!-- .column2 -->
    </div><!-- .faq -->
		<p class="needHelp">
      <strong><a target="_blank" class="h-contact-us" href="/contact_sales">Contact sales for more information.</a></strong>
      <br>
      Want help? <a target="_blank" href="http://slideshare.zendesk.com/forums/215786-slideshare-pro-accounts">View FAQs</a> | <a target="_blank" href="/contact_support">contact support</a>
    </p>
    <p class="backTop"><strong><a href="#top">Back to top</a></strong></p>
    <p class="copyright-plans muted h-copyright">&copy; 2012 SlideShare Inc. All rights reserved.</p>
	</div>
	
	<!-- <input class="hide" type="radio" name="span" value="monthly" checked="checked" /> -->
  <!-- <input type="hidden" name="span" value="monthly" id="span"> -->
  <input type="hidden" value="business" id="plan_group" name="plan_group">
  <input type="hidden" value="" id="upgrade" name="upgrade">
  
  <div style="margin: 0; padding: 0; display: none;" class="atd">
     <input type="text" value="GIK6YC1ghwJ4H1g+TC69LH5IJblfS3lPm7dOvOwvUxk=" name="authenticity_token">
  </div>
</div></form>

	
</div>

<script type="text/javascript" charset="utf-8">
	<% content_for :butt2 do %>
  function testimonial_carousel_initCallback(carousel) {
  	$('.j-testimonials .j-controls a').live('click',function(){
        $('.j-testimonials .j-controls .on').removeClass('on').addClass('off');
        $(this).removeClass('off').addClass('on');
        carousel.scroll($.jcarousel.intval($(this).attr('alt')));
        return false;
    });
  };
  $(".j-testimonial_carousel").jcarousel({
                scroll: 1,
                initCallback: testimonial_carousel_initCallback,
                buttonNextHTML: null,
                buttonPrevHTML: null,
                wrap: 'last'
	});
	<% end %>
</script>