<section class="wrapper noSidebar clearfix" id="container">
	<div class="errorPage err404">
		<div class="errContent">
			<a href="http://kejian.tv/" style="position: absolute;top: 160px;left: 260px;border: 1px solid #8AC431; padding:1px 20px;color:#690;font-weight:bold;">返回首页</a>
			<a href="#" onclick="history.back(); return false;" style="position: absolute;top: 160px;left: 380px;border: 1px solid #8AC431; padding:1px 20px;color:#690;font-weight:bold;">返回上一页</a>
		</div>
	</div>
</section>