<h2>Editing Scope</h2>

<div class="button-group header_buttons">
  <%= link_to '返回', cpanel_scopes_path, class: "button icon arrowleft" %>
  <%= link_to '详情', cpanel_scope_path(@scope), class: "button" %>
</div>

<%= render 'form' %>
