<div data-role="content">

    <ul data-role="listview" class="asksList">
        <li><a href="ask.html">
                <img src="/mobilepublic/img/t1.png" />
                <h3>问题问题问题问题问题问题问题问题问题问题问题问题问题问题问题问题问题问题问题问题问题问题问题问题问题问题</h3>
                <p>大笨蛋提出的问题大笨蛋提出的问题大笨蛋提出的问题大笨蛋提出的问题大笨蛋提出的问题大笨蛋提出的问题大笨蛋提出的问题提出的问题大笨蛋提出的问题大笨蛋提出的问题 @ 2个答案</p>
            </a></li>
        <li><a href="index.html">
                <img src="/mobilepublic/img/t1.png" />
                <h3>问题问题</h3>
                <p>大笨蛋提出的问题 @ 2个答案</p>
            </a></li>
        <li><a href="index.html">
                <img src="/mobilepublic/img/t1.png" />
                <h3>问题问题</h3>
                <p>大笨蛋提出的问题 @ 2个答案</p>
            </a></li>
        <li><a href="index.html">
                <img src="/mobilepublic/img/t1.png" />
                <h3>问题问题</h3>
                <p>大笨蛋提出的问题 @ 2个答案</p>
            </a></li>
        <li><a href="index.html">
                <img src="/mobilepublic/img/t1.png" />
                <h3>问题问题</h3>
                <p>大笨蛋提出的问题 @ 2个答案</p>
            </a></li>
    </ul>
</div>
