<form method="post" action="/traverse/index?force_mobile=1" method="get" class="searchForm">
	<div style="margin:0;padding:0;display:inline">
		<input name="utf8" type="hidden" value="✓">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
	</div>
	<input type="search" name="q" id="search" value="<%= params[:q] %>" placeholder="搜索解题、课程疑问" />
</form>
