<% content_for :butt2 do %>
KTV.sss_op();
jQuery('#main').height(jQuery('#mainbar').height()+88);
<% end %>

<div class="wrapper" style="width:1000px">
<div class="__g"  dir="ltr" alink="#dd4b39" bgcolor="#fff" id="psvr_dz_target" link="#12c" text="#222" vlink="#61c" style="position:absolute;top:130px;width:1000px">
<a href="/setprefs?prev=http://www.google.com/&amp;sig=0_UfXEF6gThHJvik_cuq_v_b0p_rM%3D&amp;suggon=2" style="left:-1000em;position:absolute">Screen reader users, click here to turn off Google Instant.</a><textarea name="csi" id="csi" style="display:none"></textarea>
<div id="mngb">
	<div id="gb" class="gbes" style="height:88px">
		<div id="gbw">
			<div id="gbq" class="gbes" style="">
        <div class="gbt gbes" id="gbq1">
        </div>
				<div id="gbq2" class="gbt gbqfh gbes" style="top:22px">
					<div id="gbqfw">
            <%= render 'form'%>
					</div>
				</div>
			</div>
		</div>
    <div class="gbes" id="gbx1" style=""></div>
    <div id="gbbw"><div id="gbb"></div></div>
	</div>
	<div data-ved="0CAMQnRs" id="iflved" style="display:none">
	</div>
	<div id="searchform" style="display:none" class="">
		<span id="tophf"></span><span id="ss-bar"></span>
	</div>
</div>
<textarea name="wgjc" id="wgjc" style="display:none"></textarea><textarea name="wwcache" id="wwcache" style="display:none"></textarea><textarea name="hcache" id="hcache" style="display:none"></textarea>
<div id="gac_scont">
</div>
<div id="main" style="height:666px">
  <%= render 'search_show_common_main',:locals=>{:quans=>@coursewares,:quan=>'个',:thing=>'课件',:mode=>:kejian} %>
</div>
<div id="xjsd">
</div>
<div id="xjsi">
</div>


<table cellspacing="0" cellpadding="0" style="width: 851px; top: 48px; position: absolute; text-align: left; left: 16px;display:none;" class="gstl_0 gssb_c" dir="ltr" id="psvr_gtable">
<tbody>
<tr>
	<td class="gssb_f">
	</td>
	<td class="gssb_e" style="width: 100%;">
		<table cellspacing="0" cellpadding="0" style="width: 100%;" class="gssb_m">
		<tbody id="psvr_gtbody">
		</tbody>
		</table>
	</td>
</tr>
</tbody>
</table>



</div>
</div>
