<%= render :partial => 'content_above'%>

            
<div id="mainbar">
    <div class="subheader">
        <h1>搜索结果</h1>
        <div id="tabs">
            <a class="youarehere" href="/search?tab=relevance&amp;q=search" title="Search results with best match to search terms">全部结果</a>
<a href="/search?tab=newest&amp;q=search" title="Newest search results">搜索课件</a>
<a href="/search?tab=votes&amp;q=search" title="Highest voted search results">搜索课程</a>
<a href="/search?tab=active&amp;q=search" title="Recently active search results">搜索用户</a>

        </div>          
    </div>
    <div id="questions">
    <form id="bigsearch" action="/search" method="get">
        <table>
            <tbody><tr>
                <td class="col1"><input name="q" class="textbox" type="text" maxlength="140" size="80" value="<%=params[:q]%>"></td>
                <td class="col2"><input type="submit" name="submit" value="搜索"></td>
            </tr>
            <tr>
                <td colspan="2">
                    Want better search results? <b><a href="/search">See our search tips!</a></b>
                </td>
            </tr>
        </tbody></table>
    </form>
    <div class="question-summary" id="question-summary-8705">
        <div class="statscontainer">
            <div class="statsarrow"></div>
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post"><strong>5</strong></span>
                        <div class="viewcount">votes</div>
                    </div>
                </div>
                <div class="status answered">
                    <strong>1</strong>answer
                </div>
            </div>
            <div class="views" title="695 views">695 views</div>
        </div>
        <div class="summary">        
            <h3><a href="/questions/8705/are-there-more-guns-in-america-than-people" class="question-hyperlink">Are there more guns in America than people?</a></h3>
            <div class="excerpt">
                 …  claims, but a quick google <span class="search-highlight">search</span> yielded
            </div>

            <div class="tags t-united-states t-guns">
                <a href="/questions/tagged/united-states" class="post-tag" title="show questions tagged 'united-states'" rel="tag">united-states</a> <a href="/questions/tagged/guns" class="post-tag" title="show questions tagged 'guns'" rel="tag">guns</a> 
            </div>
            <div class="started fr">
                

    <div class="user-info user-hover">
        <div class="user-action-time">
                                    asked
 <span title="2012-03-31 20:51:16Z" class="relativetime">Mar 31 at 20:51</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/454/oliver-c"><div class=""><img src="http://www.gravatar.com/avatar/8fd243a10aec085475f642f12b8bcc52?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/454/oliver-c">Oliver_C</a><br>
            <span class="reputation-score" title="reputation score 26971" dir="ltr">27k</span><span title="2 gold badges"><span class="badge1"></span><span class="badgecount">2</span></span><span title="99 silver badges"><span class="badge2"></span><span class="badgecount">99</span></span><span title="172 bronze badges"><span class="badge3"></span><span class="badgecount">172</span></span>
        </div>
    </div>

            </div>  
        </div>
    </div>
    <div class="question-summary" id="question-summary-9418">
        <div class="statscontainer">
            <div class="statsarrow"></div>
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post"><strong>6</strong></span>
                        <div class="viewcount">votes</div>
                    </div>
                </div>
                <div class="status unanswered">
                    <strong>0</strong>answers
                </div>
            </div>
            <div class="views" title="502 views">502 views</div>
        </div>
        <div class="summary">        
            <h3><a href="/questions/9418/can-you-snore-and-dream-at-the-same-time" class="question-hyperlink">Can you snore and dream at the same time?</a></h3>
            <div class="excerpt">
                 …  <span class="search-highlight">search</span> yields pages of sites that claim
            </div>

            <div class="tags t-sleep t-dreaming">
                <a href="/questions/tagged/sleep" class="post-tag" title="" rel="tag">sleep</a> <a href="/questions/tagged/dreaming" class="post-tag" title="" rel="tag">dreaming</a> 
            </div>
            <div class="started fr">
                

    <div class="user-info ">
        <div class="user-action-time">
                                    asked
 <span title="2012-05-12 14:43:52Z" class="relativetime">May 12 at 14:43</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/6652/lancelafontaine"><div class=""><img src="http://www.gravatar.com/avatar/6d7f139d3a1095bac87a0b765c8c8a39?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/6652/lancelafontaine">LanceLafontaine</a><br>
            <span class="reputation-score" title="reputation score" dir="ltr">527</span><span title="16 bronze badges"><span class="badge3"></span><span class="badgecount">16</span></span>
        </div>
    </div>

            </div>  
        </div>
    </div>
    <div class="question-summary" id="question-summary-430">
        <div class="statscontainer">
            <div class="statsarrow"></div>
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post"><strong>10</strong></span>
                        <div class="viewcount">votes</div>
                    </div>
                </div>
                <div class="status answered-accepted">
                    <strong>1</strong>answer
                </div>
            </div>
            <div class="views" title="227 views">227 views</div>
        </div>
        <div class="summary">        
            <h3><a href="/questions/430/do-plant-sterols-prevent-prostate-cancer" class="question-hyperlink">Do plant sterols prevent prostate cancer?</a></h3>
            <div class="excerpt">
                Not a day goes by without me hearing a "super mega beta prostate" (or some other similar product) commercial.


  Super Beta Prostate is a natural prostate supplement made with beta-sitosterol designe … 
            </div>

            <div class="tags t-medical-science t-cancer t-nutritional-supplements">
                <a href="/questions/tagged/medical-science" class="post-tag" title="show questions tagged 'medical-science'" rel="tag">medical-science</a> <a href="/questions/tagged/cancer" class="post-tag" title="show questions tagged 'cancer'" rel="tag">cancer</a> <a href="/questions/tagged/nutritional-supplements" class="post-tag" title="show questions tagged 'nutritional-supplements'" rel="tag">nutritional-supplements</a> 
            </div>
            <div class="started fr">
                

    <div class="user-info user-hover">
        <div class="user-action-time">
                                    asked
 <span title="2011-03-06 17:16:20Z" class="relativetime">Mar 6 '11 at 17:16</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/34/russell-steen"><div class=""><img src="http://www.gravatar.com/avatar/534aef44a3f371b1dbb4cce40cc35b95?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/34/russell-steen">Russell Steen</a><br>
            <span class="reputation-score" title="reputation score" dir="ltr">6,531</span><span title="24 silver badges"><span class="badge2"></span><span class="badgecount">24</span></span><span title="62 bronze badges"><span class="badge3"></span><span class="badgecount">62</span></span>
        </div>
    </div>

            </div>  
        </div>
    </div>
    <div class="question-summary" id="question-summary-6389">
        <div class="statscontainer">
            <div class="statsarrow"></div>
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post"><strong>6</strong></span>
                        <div class="viewcount">votes</div>
                    </div>
                </div>
                <div class="status answered">
                    <strong>1</strong>answer
                </div>
            </div>
            <div class="views" title="200 views">200 views</div>
        </div>
        <div class="summary">        
            <h3><a href="/questions/6389/do-simple-checklists-applied-in-operating-theatres-significantly-reduce-the-rate" class="question-hyperlink">Do simple checklists applied in operating theatres significantly reduce the rates of complication and death from surgery?</a></h3>
            <div class="excerpt">
                Medical professionals are one of the most trusted groups in society. So we tend to trust them to do a good job without asking too many questions. So when a study showed that the simple application of  … 
            </div>

            <div class="tags t-medical-science t-statistics t-surgery">
                <a href="/questions/tagged/medical-science" class="post-tag" title="show questions tagged 'medical-science'" rel="tag">medical-science</a> <a href="/questions/tagged/statistics" class="post-tag" title="show questions tagged 'statistics'" rel="tag">statistics</a> <a href="/questions/tagged/surgery" class="post-tag" title="show questions tagged 'surgery'" rel="tag">surgery</a> 
            </div>
            <div class="started fr">
                

    <div class="user-info user-hover">
        <div class="user-action-time">
                                    asked
 <span title="2011-09-28 21:17:37Z" class="relativetime">Sep 28 '11 at 21:17</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/3943/matt-black"><div class=""><img src="http://www.gravatar.com/avatar/8d6e0423415429e3652a5cc573a4f935?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/3943/matt-black">matt_black</a><br>
            <span class="reputation-score" title="reputation score" dir="ltr">5,929</span><span title="2 gold badges"><span class="badge1"></span><span class="badgecount">2</span></span><span title="22 silver badges"><span class="badge2"></span><span class="badgecount">22</span></span><span title="45 bronze badges"><span class="badge3"></span><span class="badgecount">45</span></span>
        </div>
    </div>

            </div>  
        </div>
    </div>
    <div class="question-summary" id="question-summary-6852">
        <div class="statscontainer">
            <div class="statsarrow"></div>
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post"><strong>18</strong></span>
                        <div class="viewcount">votes</div>
                    </div>
                </div>
                <div class="status answered-accepted">
                    <strong>2</strong>answers
                </div>
            </div>
            <div class="views" title="828 views">828 views</div>
        </div>
        <div class="summary">        
            <h3><a href="/questions/6852/is-it-illegal-in-the-u-s-for-legal-professionals-to-answer-legal-questions-on-p" class="question-hyperlink">Is it illegal in the U.S. for legal professionals to answer legal questions on public Internet forums?</a></h3>
            <div class="excerpt">
                A SE moderator said:


  [I]n the US, at least, legal professionals are not permitted to answer questions on a site like this.


It seems odd that a law would prohibit someone who has passed a Bar exa … 
            </div>

            <div class="tags t-united-states t-law">
                <a href="/questions/tagged/united-states" class="post-tag" title="show questions tagged 'united-states'" rel="tag">united-states</a> <a href="/questions/tagged/law" class="post-tag" title="show questions tagged 'law'" rel="tag">law</a> 
            </div>
            <div class="started fr">
                

    <div class="user-info user-hover">
        <div class="user-action-time">
                                    asked
 <span title="2011-11-04 08:37:25Z" class="relativetime">Nov 4 '11 at 8:37</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/4020/flimzy"><div class=""><img src="http://www.gravatar.com/avatar/6bdc06836b7bcec9fce2c5c6e5242192?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/4020/flimzy">Flimzy</a><br>
            <span class="reputation-score" title="reputation score" dir="ltr">2,466</span><span title="9 silver badges"><span class="badge2"></span><span class="badgecount">9</span></span><span title="39 bronze badges"><span class="badge3"></span><span class="badgecount">39</span></span>
        </div>
    </div>

            </div>  
        </div>
    </div>
    <div class="question-summary" id="question-summary-72">
        <div class="statscontainer">
            <div class="statsarrow"></div>
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post"><strong>14</strong></span>
                        <div class="viewcount">votes</div>
                    </div>
                </div>
                <div class="status answered-accepted">
                    <strong>1</strong>answer
                </div>
            </div>
            <div class="views" title="467 views">467 views</div>
        </div>
        <div class="summary">        
            <h3><a href="/questions/72/are-jungian-archetypes-a-scientific-concept" class="question-hyperlink">Are Jungian archetypes a scientific concept?</a></h3>
            <div class="excerpt">
                 …  Internet <span class="search-highlight">search</span> (mainly on Wikipedia, but in other
            </div>

            <div class="tags t-psychology">
                <a href="/questions/tagged/psychology" class="post-tag" title="show questions tagged 'psychology'" rel="tag">psychology</a> 
            </div>
            <div class="started fr">
                

    <div class="user-info user-hover">
        <div class="user-action-time">
                                    asked
 <span title="2011-02-25 07:06:36Z" class="relativetime">Feb 25 '11 at 7:06</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/79/suma"><div class=""><img src="http://www.gravatar.com/avatar/1c4ee627a28a9a586f4fece1947c6bd0?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/79/suma">Suma</a><br>
            <span class="reputation-score" title="reputation score" dir="ltr">2,817</span><span title="12 silver badges"><span class="badge2"></span><span class="badgecount">12</span></span><span title="29 bronze badges"><span class="badge3"></span><span class="badgecount">29</span></span>
        </div>
    </div>

            </div>  
        </div>
    </div>
    <div class="question-summary" id="question-summary-8743">
        <div class="statscontainer">
            <div class="statsarrow"></div>
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post"><strong>5</strong></span>
                        <div class="viewcount">votes</div>
                    </div>
                </div>
                <div class="status answered-accepted">
                    <strong>1</strong>answer
                </div>
            </div>
            <div class="views warm" title="1,191 views">1k views</div>
        </div>
        <div class="summary">        
            <h3><a href="/questions/8743/are-bagged-turtles-and-goldfish-sold-as-keychains-in-china" class="question-hyperlink">Are bagged turtles and goldfish sold as keychains in China?</a></h3>
            <div class="excerpt">
                So there is this letter going around facebook:


  PLEASE SHARE IT , HUMBLE REQUEST ----
  
  On a commercial street in China, little tortoises are found packaged as souvenir!!! These little tortoises … 
            </div>

            <div class="tags t-animals t-china">
                <a href="/questions/tagged/animals" class="post-tag" title="show questions tagged 'animals'" rel="tag">animals</a> <a href="/questions/tagged/china" class="post-tag" title="show questions tagged 'china'" rel="tag">china</a> 
            </div>
            <div class="started fr">
                

    <div class="user-info ">
        <div class="user-action-time">
                                    asked
 <span title="2012-04-02 20:53:40Z" class="relativetime">Apr 2 at 20:53</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/5638/informaficker"><div class=""><img src="http://www.gravatar.com/avatar/21e422ca226cd825975375788d6c373a?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/5638/informaficker">Informaficker</a><br>
            <span class="reputation-score" title="reputation score" dir="ltr">492</span><span title="3 silver badges"><span class="badge2"></span><span class="badgecount">3</span></span><span title="17 bronze badges"><span class="badge3"></span><span class="badgecount">17</span></span>
        </div>
    </div>

            </div>  
        </div>
    </div>
    <div class="question-summary" id="question-summary-6732">
        <div class="statscontainer">
            <div class="statsarrow"></div>
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post"><strong>30</strong></span>
                        <div class="viewcount">votes</div>
                    </div>
                </div>
                <div class="status answered-accepted">
                    <strong>1</strong>answer
                </div>
            </div>
            <div class="views hot" title="26,986 views">27k views</div>
        </div>
        <div class="summary">        
            <h3><a href="/questions/6732/did-einstein-actually-say-the-if-you-judge-a-fish-quote-that-many-are-attribut" class="question-hyperlink">Did Einstein actually say the “if you judge a fish” quote that many are attributing to him?</a></h3>
            <div class="excerpt">
                The quote:


  “Everybody is a genius. But if you judge a fish by its ability to
  climb a tree, it will live its whole life believing that it is
  stupid.”


I'm just not confident that this is somet … 
            </div>

            <div class="tags t-quotes t-albert-einstein">
                <a href="/questions/tagged/quotes" class="post-tag" title="show questions tagged 'quotes'" rel="tag">quotes</a> <a href="/questions/tagged/albert-einstein" class="post-tag" title="show questions tagged 'albert-einstein'" rel="tag">albert-einstein</a> 
            </div>
            <div class="started fr">
                

    <div class="user-info ">
        <div class="user-action-time">
                                    asked
 <span title="2011-10-26 13:33:12Z" class="relativetime">Oct 26 '11 at 13:33</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/5124/christopher-rayl"><div class=""><img src="http://www.gravatar.com/avatar/98f7767eb3e24cad3bc23b3192fb922a?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/5124/christopher-rayl">Christopher Rayl</a><br>
            <span class="reputation-score" title="reputation score" dir="ltr">253</span><span title="1 gold badge"><span class="badge1"></span><span class="badgecount">1</span></span><span title="2 silver badges"><span class="badge2"></span><span class="badgecount">2</span></span><span title="5 bronze badges"><span class="badge3"></span><span class="badgecount">5</span></span>
        </div>
    </div>

            </div>  
        </div>
    </div>
    <div class="question-summary" id="question-summary-1977">
        <div class="statscontainer">
            <div class="statsarrow"></div>
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post"><strong>20</strong></span>
                        <div class="viewcount">votes</div>
                    </div>
                </div>
                <div class="status answered">
                    <strong>1</strong>answer
                </div>
            </div>
            <div class="views warm" title="1,353 views">1k views</div>
        </div>
        <div class="summary">        
            <h3><a href="/questions/1977/were-1200-black-soldiers-massacred-at-camp-van-dorn-in-1943" class="question-hyperlink">Were 1200 black soldiers massacred at Camp Van Dorn in 1943?</a></h3>
            <div class="excerpt">
                In 1998 a book was published called The Slaughter: An American Atrocity by Carroll Case. It alleged that in June of 1943 at an Army base in Mississippi 1200 black soldiers were massacred by white sold … 
            </div>

            <div class="tags t-history t-world-war-ii">
                <a href="/questions/tagged/history" class="post-tag" title="show questions tagged 'history'" rel="tag">history</a> <a href="/questions/tagged/world-war-ii" class="post-tag" title="show questions tagged 'world-war-ii'" rel="tag">world-war-ii</a> 
            </div>
            <div class="started fr">
                

    <div class="user-info user-hover">
        <div class="user-action-time">
                                    asked
 <span title="2011-04-10 16:55:11Z" class="relativetime">Apr 10 '11 at 16:55</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/1343/scott-hamilton"><div class=""><img src="http://www.gravatar.com/avatar/2e4229ad2405df4e06566cf1b1e8394e?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/1343/scott-hamilton">Scott Hamilton</a><br>
            <span class="reputation-score" title="reputation score" dir="ltr">3,836</span><span title="17 silver badges"><span class="badge2"></span><span class="badgecount">17</span></span><span title="33 bronze badges"><span class="badge3"></span><span class="badgecount">33</span></span>
        </div>
    </div>

            </div>  
        </div>
    </div>
    <div class="question-summary" id="question-summary-2237">
        <div class="statscontainer">
            <div class="statsarrow"></div>
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post"><strong>3</strong></span>
                        <div class="viewcount">votes</div>
                    </div>
                </div>
                <div class="status answered-accepted">
                    <strong>1</strong>answer
                </div>
            </div>
            <div class="views" title="220 views">220 views</div>
        </div>
        <div class="summary">        
            <h3><a href="/questions/2237/magnetism-and-indiana-jones" class="question-hyperlink">magnetism and Indiana Jones</a></h3>
            <div class="excerpt">
                 … At the beginning of Indiana Jones - Kingdom of Crystal Skull, some Russians (posing as US miliary) force Indy to <span class="search-highlight">search</span> a warehouse for a crate.  Lacking a compass, he throws a handful of gunpowder into the air, hoping the magnetic contents
            </div>

            <div class="tags t-magnets">
                <a href="/questions/tagged/magnets" class="post-tag" title="show questions tagged 'magnets'" rel="tag">magnets</a> 
            </div>
            <div class="started fr">
                

    <div class="user-info ">
        <div class="user-action-time">
                                    asked
 <span title="2011-04-16 21:05:13Z" class="relativetime">Apr 16 '11 at 21:05</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/1540/justin-cress"><div class=""><img src="http://www.gravatar.com/avatar/7178a1f3e597345d7505c81ca305cd48?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/1540/justin-cress">justin cress</a><br>
            <span class="reputation-score" title="reputation score" dir="ltr">391</span><span title="1 silver badge"><span class="badge2"></span><span class="badgecount">1</span></span><span title="9 bronze badges"><span class="badge3"></span><span class="badgecount">9</span></span>
        </div>
    </div>

            </div>  
        </div>
    </div>
    <div class="question-summary" id="question-summary-6353">
        <div class="statscontainer">
            <div class="statsarrow"></div>
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post"><strong>2</strong></span>
                        <div class="viewcount">votes</div>
                    </div>
                </div>
                <div class="status answered-accepted">
                    <strong>2</strong>answers
                </div>
            </div>
            <div class="views" title="343 views">343 views</div>
        </div>
        <div class="summary">        
            <h3><a href="/questions/6353/did-a-meteorite-strike-cause-an-explosion-and-major-damage-in-argentina-in-septe" class="question-hyperlink">Did a meteorite strike cause an explosion and major damage in Argentina in September 2011?</a></h3>
            <div class="excerpt">
                This happened today in Argentina:  





Some people said they saw a bright light coming from the sky, and one big newspaper published the following photo, allegedly taken just before the explosion:   … 
            </div>

            <div class="tags t-natural-disasters">
                <a href="/questions/tagged/natural-disasters" class="post-tag" title="show questions tagged 'natural-disasters'" rel="tag">natural-disasters</a> 
            </div>
            <div class="started fr">
                

    <div class="user-info ">
        <div class="user-action-time">
                                    asked
 <span title="2011-09-27 00:30:46Z" class="relativetime">Sep 27 '11 at 0:30</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/1765/belisarius"><div class=""><img src="http://www.gravatar.com/avatar/12a8361427b3046a8d7d7ee0512841b7?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/1765/belisarius">belisarius</a><br>
            <span class="reputation-score" title="reputation score" dir="ltr">237</span><span title="1 gold badge"><span class="badge1"></span><span class="badgecount">1</span></span><span title="2 silver badges"><span class="badge2"></span><span class="badgecount">2</span></span><span title="9 bronze badges"><span class="badge3"></span><span class="badgecount">9</span></span>
        </div>
    </div>

            </div>  
        </div>
    </div>
    <div class="question-summary" id="question-summary-7182">
        <div class="statscontainer">
            <div class="statsarrow"></div>
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post"><strong>13</strong></span>
                        <div class="viewcount">votes</div>
                    </div>
                </div>
                <div class="status unanswered">
                    <strong>0</strong>answers
                </div>
            </div>
            <div class="views" title="304 views">304 views</div>
        </div>
        <div class="summary">        
            <h3><a href="/questions/7182/was-it-common-to-perform-surgeries-on-babies-without-anesthesia-because-doctors" class="question-hyperlink">Was it common to perform surgeries on babies without anesthesia because doctors felt they weren't “conscious enough to feel pain”?</a></h3>
            <div class="excerpt">
                 … The claim was made on parenting.se that "not so long ago, babies were operated on without anaesthetic because they weren't considered 'conscious' enough to feel pain".*

A Google <span class="search-highlight">search</span> revealed several other references to this claim.

I've heard
            </div>

            <div class="tags t-medical-science t-history t-baby">
                <a href="/questions/tagged/medical-science" class="post-tag" title="show questions tagged 'medical-science'" rel="tag">medical-science</a> <a href="/questions/tagged/history" class="post-tag" title="show questions tagged 'history'" rel="tag">history</a> <a href="/questions/tagged/baby" class="post-tag" title="show questions tagged 'baby'" rel="tag">baby</a> 
            </div>
            <div class="started fr">
                

    <div class="user-info user-hover">
        <div class="user-action-time">
                                    asked
 <span title="2011-12-07 15:32:00Z" class="relativetime">Dec 7 '11 at 15:32</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/3451/beofett"><div class=""><img src="http://www.gravatar.com/avatar/a4fd4c34547537e3016edb24f106e223?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/3451/beofett">Beofett</a><br>
            <span class="reputation-score" title="reputation score" dir="ltr">1,656</span><span title="8 silver badges"><span class="badge2"></span><span class="badgecount">8</span></span><span title="25 bronze badges"><span class="badge3"></span><span class="badgecount">25</span></span>
        </div>
    </div>

            </div>  
        </div>
    </div>
    <div class="question-summary" id="question-summary-2304">
        <div class="statscontainer">
            <div class="statsarrow"></div>
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post"><strong>23</strong></span>
                        <div class="viewcount">votes</div>
                    </div>
                </div>
                <div class="status answered-accepted">
                    <strong>3</strong>answers
                </div>
            </div>
            <div class="views warm" title="1,674 views">2k views</div>
        </div>
        <div class="summary">        
            <h3><a href="/questions/2304/do-lemmings-commit-suicide-by-jumping-off-cliffs" class="question-hyperlink">Do lemmings commit suicide by jumping off cliffs?</a></h3>
            <div class="excerpt">
                

Lemmings have become widely known for their supposed tendency to run en masse off of cliffs to their deaths. The term "lemming" has even become a commonly used metaphor to describe the behavior of t … 
            </div>

            <div class="tags t-biology t-ethology">
                <a href="/questions/tagged/biology" class="post-tag" title="show questions tagged 'biology'" rel="tag">biology</a> <a href="/questions/tagged/ethology" class="post-tag" title="show questions tagged 'ethology'" rel="tag">ethology</a> 
            </div>
            <div class="started fr">
                

    <div class="user-info ">
        <div class="user-action-time">
                                    asked
 <span title="2011-04-19 01:16:39Z" class="relativetime">Apr 19 '11 at 1:16</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/486/monkey-tuesday"><div class=""><img src="http://www.gravatar.com/avatar/32fd732722b197122c07be837d7b3324?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/486/monkey-tuesday">Monkey Tuesday</a><br>
            <span class="reputation-score" title="reputation score 10259" dir="ltr">10.3k</span><span title="5 gold badges"><span class="badge1"></span><span class="badgecount">5</span></span><span title="40 silver badges"><span class="badge2"></span><span class="badgecount">40</span></span><span title="97 bronze badges"><span class="badge3"></span><span class="badgecount">97</span></span>
        </div>
    </div>

            </div>  
        </div>
    </div>
    <div class="question-summary" id="question-summary-8033">
        <div class="statscontainer">
            <div class="statsarrow"></div>
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post"><strong>43</strong></span>
                        <div class="viewcount">votes</div>
                    </div>
                </div>
                <div class="status answered-accepted">
                    <strong>2</strong>answers
                </div>
            </div>
            <div class="views warm" title="1,539 views">2k views</div>
        </div>
        <div class="summary">        
            <h3><a href="/questions/8033/were-children-safer-in-the-good-old-days" class="question-hyperlink">Were children safer in the good old days?</a></h3>
            <div class="excerpt">
                 … Edited, as every site I found in my <span class="search-highlight">search</span> last night gave me sites that all say the same thing:

The perception is that the world is a really dangerous place for children these days

But the statistics I seem to find online seem to imply
            </div>

            <div class="tags t-safety t-children">
                <a href="/questions/tagged/safety" class="post-tag" title="show questions tagged 'safety'" rel="tag">safety</a> <a href="/questions/tagged/children" class="post-tag" title="show questions tagged 'children'" rel="tag">children</a> 
            </div>
            <div class="started fr">
                

    <div class="user-info user-hover">
        <div class="user-action-time">
                                    asked
 <span title="2012-02-14 13:43:39Z" class="relativetime">Feb 14 at 13:43</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/619/rory-alsop"><div class=""><img src="http://www.gravatar.com/avatar/af1ed0816ed5a2164a4e343ad09309ad?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/619/rory-alsop">Rory Alsop</a><br>
            <span class="reputation-score" title="reputation score" dir="ltr">2,871</span><span title="10 silver badges"><span class="badge2"></span><span class="badgecount">10</span></span><span title="23 bronze badges"><span class="badge3"></span><span class="badgecount">23</span></span>
        </div>
    </div>

            </div>  
        </div>
    </div>
    <div class="question-summary" id="question-summary-9732">
        <div class="statscontainer">
            <div class="statsarrow"></div>
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post"><strong>12</strong></span>
                        <div class="viewcount">votes</div>
                    </div>
                </div>
                <div class="status answered">
                    <strong>2</strong>answers
                </div>
            </div>
            <div class="views warm" title="1,343 views">1k views</div>
        </div>
        <div class="summary">        
            <h3><a href="/questions/9732/do-you-have-to-wait-24-hours-before-you-can-report-a-missing-person" class="question-hyperlink">Do you have to wait 24 hours before you can report a missing person?</a></h3>
            <div class="excerpt">
                 … .



But eHow - How to Do a Nationwide <span class="search-highlight">Search</span>
            </div>

            <div class="tags t-united-states t-law">
                <a href="/questions/tagged/united-states" class="post-tag" title="show questions tagged 'united-states'" rel="tag">united-states</a> <a href="/questions/tagged/law" class="post-tag" title="show questions tagged 'law'" rel="tag">law</a> 
            </div>
            <div class="started fr">
                

    <div class="user-info user-hover">
        <div class="user-action-time">
                                    asked
 <span title="2012-06-08 15:37:41Z" class="relativetime">Jun 8 at 15:37</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/454/oliver-c"><div class=""><img src="http://www.gravatar.com/avatar/8fd243a10aec085475f642f12b8bcc52?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/454/oliver-c">Oliver_C</a><br>
            <span class="reputation-score" title="reputation score 26971" dir="ltr">27k</span><span title="2 gold badges"><span class="badge1"></span><span class="badgecount">2</span></span><span title="99 silver badges"><span class="badge2"></span><span class="badgecount">99</span></span><span title="172 bronze badges"><span class="badge3"></span><span class="badgecount">172</span></span>
        </div>
    </div>

            </div>  
        </div>
    </div>
    </div>

    <br class="cbt">
<div class="pager fl">
<a href="/search?page=3&amp;tab=relevance&amp;q=search" title="go to page 3" rel="prev"><span class="page-numbers prev">prev </span></a>
<a href="/search?page=1&amp;tab=relevance&amp;q=search" title="go to page 1"><span class="page-numbers">1</span></a>
<a href="/search?page=2&amp;tab=relevance&amp;q=search" title="go to page 2"><span class="page-numbers">2</span></a>
<a href="/search?page=3&amp;tab=relevance&amp;q=search" title="go to page 3"><span class="page-numbers">3</span></a>
<span class="page-numbers current">4</span>
<a href="/search?page=5&amp;tab=relevance&amp;q=search" title="go to page 5"><span class="page-numbers">5</span></a>
<span class="page-numbers dots">…</span>
<a href="/search?page=16&amp;tab=relevance&amp;q=search" title="go to page 16"><span class="page-numbers">16</span></a>
<a href="/search?page=5&amp;tab=relevance&amp;q=search" title="go to page 5" rel="next"><span class="page-numbers next"> next</span></a>
</div>


    <div class="page-sizer fr">
            <a href="/search?page=4&amp;tab=relevance&amp;pagesize=15&amp;q=search" title="show 15 items per page" class="page-numbers current">15</a>
            <a href="/search?page=4&amp;tab=relevance&amp;pagesize=30&amp;q=search" title="show 30 items per page" class="page-numbers ">30</a>
            <a href="/search?page=4&amp;tab=relevance&amp;pagesize=50&amp;q=search" title="show 50 items per page" class="page-numbers ">50</a>
        <span class="page-numbers desc">per page</span>
    </div>

</div>
<div id="sidebar">
    <div class="module">
        <div class="summarycount al">233</div>
        <p>search results for</p>
            <p>posts containing</p>
            <p><span class="search-highlight">search</span></p>
                    </div>
    
    
     
                    
    

    
</div>


<%= render 'content_below' %>
