<% content_for :armpit do %>
<%= stylesheet_link_tag 'ktv/__ytb' %>
<%= stylesheet_link_tag 'ktv/__ytb_playlists' %>
<% end %>

<div class="__ytb" style="margin-top:-22px;padding-top:12px;" dir="ltr">
<div class=" playlist branded-page" id="page">
	<div id="sb-wrapper">
		<div class="sb-card sb-off" id="sb-container">
			<div class="sb-card-arrow">
			</div>
			<div class="sb-card-border">
				<div class="sb-card-body-arrow">
				</div>
				<div id="sb-target" class="sb-card-content">
				</div>
			</div>
		</div>
		<div class="sb-off" id="sb-onepick-target" style="top: 0px;">
		</div>
	</div>
	<div id="content-container">
		<!-- begin content -->
		<div id="content" style="width:970px">
			<%= render partial:'form',locals:{playlist:@play_list,edit:1}%>
		</div>
		<!-- end content -->
	</div>

</div>
</div>
