<!DOCTYPE html>
<html>
    <head> 
        <title>500, 程序异常</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.0.css" />
    </head> 
    <body>
            <div data-role="header">
                <h1>500, 程序异常</h1>
            </div><!-- /header -->
        <div data-role="content">
            <p>
              非常抱歉，目前Kejian.TV的功能还不是很完善，有些时候有点题。<br />
              你很幸运，遇到了。多多海涵！<br />

            </p>
        </div>

        <script type="text/javascript" src="/javascripts/jquery-1.6.4.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.mobile-1.0.min.js"></script>
    </body>
</html>
