<div id="body">
	<div class="wrapper">
		<div id="global-error">
		</div>
		<div id="popmain" class="plaintext">
			<h1>一句话介绍</h1>
			<p>
        通常情况下，用户在只能看到您个人资料页面的少数内容。您的一句话介绍，能让读者在很短的时间内快速获知您的专业“身份”。
			</p>
			<p>
				一句话介绍可以填写您的职业或学术头衔，您可以在一句话介绍中用逗号间隔填写多个头衔。
			</p>
			<p>
				一些例子：
			</p>
			<ul>
				<li>中科院高能物理研究所硕士</li>
				<li>创意总监和产品设计师</li>
				<li>多复变函数研究领域专家</li>
				<li>远见卓识的企业家和投资者</li>
				<li>在校本科学生</li>
			</ul>
		</div>
	</div>
</div>