
<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__zm_hoth", :media => "all" %>
  <%= stylesheet_link_tag "ktv/__zm_ban", :media => "all" %>
<% end %>


<%= render :partial => 'content_above', :locals=>{:skp_content_style => "height:1888px;background:url(#{asset_path 'zm/r11839/images/common/bodybg.gif'}) repeat scroll 0 0 transparent;"} %>

<%= render 'content_below' %>


<div class="wrapper" style="width:1000px">
    <div class="__dz" style="position:absolute;top:130px;background:white" id="psvr_dz_target"><div id="pt" class="bm cl" style="display:none">
        <div class="z">
          <a href="./" class="nvhm" title="首页">Discuz! Board</a> <em>›</em>
          <a href="home.php?mod=spacecp">账号设置</a> <em>›</em>个人资料
        </div>
      </div>
      <div id="ct" class="ct2_a wp cl">
        <div class="mn">
          <div class="bm bw0">
            <h1 class="mt">我的账号</h1>
          </div>
        </div>
        <div class="appl"><div class="tbn">
            <h2 class="mt bbda">账号设置</h2>
            <ul>
              <li class="a"><a href="/account/edit">我的账号</a></li>
              <li><a href="/simple/home.php?mod=spacecp&ac=avatar">修改头像</a></li>
              <li><a href="/simple/home.php?mod=spacecp&ac=profile">个人资料</a></li>
              <li><a href="/simple/home.php?mod=spacecp&ac=credit">积分</a></li>
              <li><a href="/simple/home.php?mod=spacecp&ac=usergroup">用户组</a></li>
              <li><a href="/simple/home.php?mod=spacecp&ac=privacy">隐私筛选</a></li>
              <li><a href="/simple/home.php?mod=spacecp&ac=profile&op=password">密码安全</a></li>
              <li><a href="/simple/home.php?mod=spacecp&ac=promotion">访问推广</a></li>
            </ul>
          </div>
        </div>        </div>
        </div>
        <!-- 脚丫 -->
      </div><!-- psvr_dz_target over! -->
    </div>
