      <div class="psvr_menu_in" id="psvr_navmenu"> 
        <div class="psvr_menu" id="psvr_navmenu">
          <ul class="psvr" >
            <li class="psvr" style="height:37px">&nbsp;</li>
            <li class="psvr" ><a class="psvr <%= '/'==request.path ? 'psvr_now' : ''%>" href="/"><span class="psvr" >首页</span></a></li>
            <li class="psvr" ><a class="psvr <%= '/courses'==request.path ? 'psvr_now' : ''%>" href="/courses"><span class="psvr" >全部课程</span></a></li>
            <li class="psvr" ><a class="psvr" href="http://kejian.tv" target="_blank" alt="Kejian.TV 课件交流系统是中国最大的教育资源在线集散平台，同时，课件交流系统也是中国最专业的在线学习社区。"><span class="psvr" >返回主站</span></a></li>
          </ul>
        </div>
      </div>
