<div class="module newuser newuser-greeting" id="newuser-box">
    <h4>欢迎来到课件交流系统!</h4>
    <div>
        <p>轻松分享讲义·电子书·复习资料·问答互助·课堂录像!</p>
        <p>通过课件交流系统，您可以迅速定位最感兴趣的课程，轻松获取大家共同维护的最优质的一份学习资料.</p>
        <p>然而，课件系统不仅是一个出色的学习资源交流平台，她更是一个开放的在线学习社区. 在这里，您可以把遇到的难题发出来，大家共同切磋(此功能正在开发中). 在这里，我们共同进步!</p>
<% if 'ibeike'==Setting.ktv_sub %>
        <p class="ar">
          <a class="" id="login_ibeike" href="/login_ibeike"><img alt="用iBeike帐号登录" src="<%=asset_path 'ibeike.png'%>"></a>
        </p>
<%end%>
        <p class="ar">
          <a class="" id="login_renren" href="/account/auth/renren"><img alt="用人人网帐号登录" src="<%=asset_path 'renren.png'%>"></a>
        </p>
    </div>
</div>
