<div class="module newuser newuser-greeting" id="newuser-box">
    <h4>欢迎来到课件交流系统!</h4>
    <div>
      <% Setting.introductions.each do |content| %>
        <p><%= content %></p>
      <% end %>
        <p class="ar">
          <a class="" id="login_renren" href="/login">登录 / 注册新用户 »</a>
        </p>
    </div>
</div>
