<div id="chrome_required"><div class="w960">
<%= image_tag('unsupported_browsers00.png',:alt => '请使用Safari, 火狐, Chrome等现代浏览器访问主站', :class =>"chrome") %><br>
<div class="intro">
  <p>　　互联网技术的发展已经使得我们可以在网页上实现更酷更炫的功能，然而限于低版本浏览器在中国的普及程度，大量中文网站还是为向下兼容至IE6而设计，我们认为这阻碍了中文互联网的进一步发展。</p>
  <p>　　我们决定从Kejian.TV做起改变现状，主站采用尖端网页技术开发，反映互联网技术的最新进展，以为用户提供独一无二的浏览体验。请使用现代浏览器访问主站。</p>
  <p><a href="http://firefox.com.cn/" id="ktv_chromebtn" target="_blank">点击进入浏览器下载页</a></p>
  <p class="get-code">
    切换浏览器后后您可以访问以下地址继续浏览本页：
    <input type="text" name="chrome_required_url" value="http://<%=Setting.ktv_domain%><%= request.path %>" id="chrome_required_url_input" style="background:url(/favicon.png) no-repeat scroll 4px center #FFFFFF" readonly onclick="javascript:this.select();">
    <input type="submit" value="复制" id="submit-button">
    <% content_for :butt2 do %>
      <% if @is_ie %>
        $('#submit-button').click(function(){
          window.clipboardData.setData("Text", $('#chrome_required_url_input').val());
        })
      <% else %>
        $('#submit-button').zclip({
          path:'/zero_clipboard.swf',
          copy:function(){
            return $('#chrome_required_url_input').val();
          },
          beforeCopy:function(){
            $('#chrome_required_url_input').css('background-color','yellow');
            $(this).css('color','orange');
          },
          afterCopy:function(){
            $('#chrome_required_url_input').css('background-color','white');
            $(this).css('color','black');
            $(this).next('.check').show();
          }
        });
      <% end %>
    <% end %>
  </p>
</div>
<%= image_tag('laptop.jpg',:class => 'laptop') %>
</div></div>
