#pageHeader {
    position: static;
}
#container {
    margin-top:20px;
}
#file_uploader {
    filter:alpha(opacity: 0);
}
.userInfoName {
	top:14px;
}

.userInfoPop li.username {
	line-height:28px;
}