
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 后台客户端管理</h1>

<h2>进入后台访问记录管理</h2>
<p>当进入“Kejian.TV开放API”，点击客户端管理可全局地管理所有用户注册过的客户端。</p>
<p><%= api 1005%></p>


<h2>常用操作</h2>
<p>最常用的操作是审核/取消审核客户端</p>
<p><%= api 1006%></p>
<p>新注册的客户端默认是未通过审核的，您可以查看其信息以及编辑其内容，最后决定是否通过审核。未通过审核的客户端是不能访问Kejian.TV的数据服务的。</p>
<p><%= api 1007%></p>