<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 特殊受信应用</h1>

<h2>特殊受信应用</h2>

<p>有些资源是需要登录才能操作的，例如以某用户的身份关注另外的用户。课件交流系统Kejian.TVAPI使用OAuth来进行单个用户的认证。特殊受信应用程序无需OAuth认证。</p>


<h2>如何修改特殊受信应用</h2>

<p>请修改config/setting.yml的trusted_clients</p>

<%= api 2000 %>