
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 后台认证范畴管理</h1>

<p>认证范畴用于控制您向课件交流系统申请权限的程度。</p>

<h2>管理方法</h2>

<p>先进入后台，点击“认证范畴”开始管理认证范畴。</p>
<p><%= api 1008 %></p>

<h2>语义</h2>

<p>认证范畴控制客户端的访问粒度，格式为"控制器名"斜杠"动作名称"。</p>
<p><%= api 1009 %></p>

<p>指定范畴内容时请用空格间隔。</p>
<p><%= api 1010 %></p>