
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 后台流量控制</h1>

<h2>进入后台</h2>
<p>当您登录后台，在顶级导航条点击“Kejian.TV开放API”，即可查看客户端的访问记录统计界面。</p>
<p><%= api 1001%></p>

<h2>查看访问报表</h2>
<p>访问报表是按客户端组织的每日访问统计图表。由于课件交流系统Kejian.TVAPI的访问是严格控制的，每个请求必须提供客户端ID，故此图表可真实反映某客户端的请求强度。</p>
<p><%= api 1002%></p>

<h2>封杀客户端</h2>
<p>您可以随时切换客户端的审核状态，以截断有不良访问记录的客户端的进一步访问权限。。</p>
<p><%= api 1003%></p>