
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 题消息动态</h1>

<h2>认证级别</h2>
<p>只需提供client_id</p>

<h2>输入</h2>
<p>向<code>/asks/:ask_id/logs</code>发送<code>GET</code>请求，ask_id参数值为题的id。</p>
<p>例如：</p>
<pre class="terminal">
http://api.kejian.tv/asks/4e9480a661300314720001b3/logs?client_id=4f97b5f9d1212f1d7e000002
</pre>


<h2>输出</h2>
<p>例如：</p>
<pre class="terminal">              
{ size: 18,
  result: 
   [ { action: 'NEW',
       id: '4e9480a661300314720001b4',
       title: '为什么非得在简历上写证明人啊？雇主真的会向证明人来取证么？证明人信息能不能不填啊？',
       user_id: '4e6fb9da61300334de000500',
       target_id: '4e9480a661300314720001b3' },
     { action: 'ADD_TOPIC',
       id: '4e9480b661300314720001b8',
       title: '简历',
       user_id: '4e6fb9da61300334de000500',
       target_id: '4e9480a661300314720001b3' },
     { action: 'ADD_TOPIC',
       id: '4e9480b761300314720001b9',
       title: '证明人',
       user_id: '4e6fb9da61300334de000500',
       target_id: '4e9480a661300314720001b3' },
     { action: 'ADD_TOPIC',
       id: '4e9480bf61300314720001ba',
       title: '简历管理',
       user_id: '4e6fb9da61300334de000500',
       target_id: '4e9480a661300314720001b3' },
     { action: 'ADD_TOPIC',
       id: '4e9480c561300314720001bb',
       title: '毕业生',
       user_id: '4e6fb9da61300334de000500',
       target_id: '4e9480a661300314720001b3' },
     { action: 'ADD_TOPIC',
       id: '4e9480c961300314720001bc',
       title: '课件交流系统',
       user_id: '4e6fb9da61300334de000500',
       target_id: '4e9480a661300314720001b3' },
     { action: 'ADD_TOPIC',
       id: '4e9480d061300314720001bd',
       title: '校园招聘',
       user_id: '4e6fb9da61300334de000500',
       target_id: '4e9480a661300314720001b3' },
     { action: 'ADD_TOPIC',
       id: '4e9480dd61300314720001be',
       title: '简历模板',
       user_id: '4e6fb9da61300334de000500',
       target_id: '4e9480a661300314720001b3' },
     { action: 'ADD_TOPIC',
       id: '4e9480e461300314720001bf',
       title: '证明人',
       user_id: '4e6fb9da61300334de000500',
       target_id: '4e9480a661300314720001b3' },
     { action: 'FOLLOW_ASK',
       id: '4e94813061300314720001c4',
       title: '秋叶',
       user_id: '4e846aa5613003509700000b',
       target_id: '4e9480a661300314720001b3' },
     { action: 'FOLLOW_ASK',
       id: '4e95d66461300328dd0001ad',
       title: 'susan.cui',
       user_id: '4e65838f613003214400002f',
       target_id: '4e9480a661300314720001b3' },
     { action: 'FOLLOW_ASK',
       id: '4e95d95361300328dd0001ee',
       title: 'happyhr',
       user_id: '4e66d0a16130032a3b00000e',
       target_id: '4e9480a661300314720001b3' },
     { action: 'EDIT',
       id: '4e95e3ba6130032b6b000011',
       title: '为什么非得在简历上写证明人啊？',
       user_id: '4e6fb9da61300334de000500',
       target_id: '4e9480a661300314720001b3' },
     { action: 'EDIT',
       id: '4e95e3c06130032b6b000012',
       title: '为什么非得在简历上写证明人啊？',
       user_id: '4e6fb9da61300334de000500',
       target_id: '4e9480a661300314720001b3' },
     { action: 'FOLLOW_ASK',
       id: '4e95e7ae6130032b5f000054',
       title: 'yupeng',
       user_id: '4e94c4f061300314720002f5',
       target_id: '4e9480a661300314720001b3' },
     { action: 'EDIT',
       id: '4ec37944d1212f3766000892',
       title: '我又换了一份工作，但是在面试时候，对方要求填写简历表格，其中有一项为证明人，要写以前公司的上司或者同事联系方式，这样合理吗？为什么非得在简历上写证明人啊？',
       user_id: '4e84b6ed61300350a3000009',
       target_id: '4e9480a661300314720001b3' },
     { action: 'FOLLOW_ASK',
       id: '4f30efc9c3666e1c32000061',
       title: '字字字字字字字字字字字字',
       user_id: '4e641c79613003186900000e',
       target_id: '4e9480a661300314720001b3' },
     { action: 'FOLLOW_ASK',
       id: '4fbc8fe19bd4bf0913000039',
       title: 'ewklqjewl',
       user_id: '4fbc8fb69bd4bf0913000031',
       target_id: '4e9480a661300314720001b3' } ] }
</pre>
