
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 获取所有题</h1>

<h2>认证级别</h2>
<p>只需提供client_id</p>

<h2>输入</h2>
<p>向<code>/asks</code>发送<code>GET</code>请求即可。可接受分页参数，详见<%= link_to '全局约定#分页','/apidoc#section-4' %>。</p>
<p>例如：</p>
<pre class="terminal">
  curl -i "http://api.kejian.tv/asks?client_id=4f853634c3666e05e1000002"   
</pre>

<h2>输出</h2>
<%= render 'ask' %>
<p>例如：</p>
<pre class="terminal">
  HTTP/1.1 200 OK 
  Link: <https://api.kejian.tv/asks?page=2&per_page=30>; rel="next",<https://api.kejian.tv/asks?page=34&per_page=30>; rel="last",<https://api.kejian.tv/asks?page=1&per_page=30>; rel="first"
  Content-Type: application/json; charset=utf-8
  X-Ua-Compatible: IE=Edge
  Etag: "b05ad227388a38a47739f8120f1ae4fd"
  Cache-Control: max-age=0, private, must-revalidate
  X-Request-Id: 376fbf0121c66ab5f13685a6f19fb1dd
  X-Runtime: 0.068818
  Date: Mon, 23 Apr 2012 06:14:28 GMT
  X-Rack-Cache: miss
  Content-Length: 20496
  Server: WEBrick/1.3.1 (Ruby/1.9.3/2012-02-16)
  Connection: Keep-Alive
  Set-Cookie: _quora_session=BAh7BkkiD3Nlc3Npb25faWQGOgZFRkkiJTY4MGMzOWRkYzE1NWRhOTA0ZGU3OTNhMDAzODY4NzFiBjsAVA%3D%3D--a2c4cbacef01e0e89c2432804e4cdef44a896069; path=/; expires=Sun, 22-Jul-2012 06:14:28 GMT; HttpOnly


  { size: 30,
    result: 
     [ { id: '4ece1ad1d1212f7657001799', title: '面对HR时一直比较紧张，怎么才能以平常心态面对？', user: ["SLUG","NAME"], answers_count: 0 },
       { id: '4ece1a07d1212f766300184e', title: '张勇老师，你好！我想请问一下做营销策划需要哪些方面的专业知识。', user: ["SLUG","NAME"], answers_count: 0 },
       { id: '4ece0108062a78726f001709',
         title: '申晨老师您好:我是学经济管理专业的，在网上投了好多简历但是不知道什么企业或公司好点！找不到方向，也不知道自己要从事什么样的工作？现在 都好迷茫······',
         user: ["SLUG","NAME"],
         answers_count: 0 },
       { id: '4ecded14d1212f76630016ef',
         title: '您好：申晨老师，我一直在物流行业从事仓储工作3年多了，我不想整天呆在仓库里，我想出去看看，换换行业，但是不知道做些什么，还能从事些什么工作。没有什么技能也没有什么特长，性格又有些小内向。特别迷茫！想请申晨老师给些建议和指导。谢谢！',
         user: ["SLUG","NAME"],
         answers_count: 0 },
       { id: '4ecde83ed1212f76570015fd',
         title: '面试时被问到离职原因时怎么解答好呢，尤其是在说了个人原因还被追问的情况下。',
         user: ["SLUG","NAME"],
         answers_count: 1 },
       { id: '4ecde6e6062a78726f00163b', title: '跟应聘工作无关的短暂创业经历可以写在简历中吗？', user: ["SLUG","NAME"], answers_count: 1 },
       { id: '4ecde4c1d1212f76570015d7', title: '续签劳动合同时，可以要求加薪吗？', user: ["SLUG","NAME"], answers_count: 0 },
       { id: '4ecde450062a78726f00161f', title: '怎样和领导提出加薪的要求？', user: ["SLUG","NAME"], answers_count: 1 },
       { id: '4ecde3eed1212f7663001698', title: '面试官问前任公司的薪水是多少怎么解答好呢？', user: ["SLUG","NAME"], answers_count: 0 },
       { id: '4ecde18b062a78726f001606', title: '面试结束后可以咨询结果吗？怎么咨询比较合适呢？', user: ["SLUG","NAME"], answers_count: 1 },
       { id: '4ecddf13d1212f76570015a2',
         title: '面试技术类职位可以穿休闲装吗？我一穿正装就浑身不自在，怕影响面试效果。',
         user: ["SLUG","NAME"],
         answers_count: 1 },
       { id: '4ecddeca062a78726f0015eb', title: '在招聘的时候，面试官很在乎应届毕业生在大学时候的成绩吗？', user: ["SLUG","NAME"], answers_count: 1 },
       { id: '4ecddd81d1212f764b001586', title: '陈老师，你好，我想请问一下，在年底离职的话，还有年终奖吗？', user: ["SLUG","NAME"], answers_count: 1 },
       { id: '4ecddd5d062a78726f0015d5', title: '面试时被问到「你的希望薪资是多少」，怎样解答才是最合理的呢？', user: ["SLUG","NAME"], answers_count: 1 },
       { id: '4ecddaaa062a78726f0015bd', title: '怎样拒绝offer比较合适？', user: ["SLUG","NAME"], answers_count: 1 },
       { id: '4ecdda54d1212f7663001640', title: '面试时HR喜欢问有没有男朋友或交过几个男朋友，她想从中获得什么？', user: ["SLUG","NAME"], answers_count: 1 },
       { id: '4ecdd884d1212f766300162e', title: '面试后被刷掉，怎么能找到落选的原因？', user: ["SLUG","NAME"], answers_count: 1 },
       { id: '4ecdd883062a7872870015eb',
         title: '我去年毕业后档案一直在自己手里，是不是在报到证上的期限内把档案交到人才市场就行了？',
         user: ["SLUG","NAME"],
         answers_count: 0 },
       { id: '4ecdd7b4062a7872870015da',
         title: '我是一名软件工程专业大三的学生，快毕业了，感到非常烦恼。想请问陈老师，软件工程学生找工作，需要具备哪些基本知识和认证？',
         user: ["SLUG","NAME"],
         answers_count: 1 },
       { id: '4ecdd798d1212f766300161e',
         title: '如果通过内部推荐获得了一个offer，但是最终没有去，这种行为是否恰当？',
         user: ["SLUG","NAME"],
         answers_count: 1 },
       { id: '4ecdd5e3d1212f766300160a', title: '解题者穿着西装会得到加分吗？', user: ["SLUG","NAME"], answers_count: 1 },
       { id: '4ecdd541062a78726f00158c', title: '计算机专业毕业生想往产品经理发展的应培养哪些方面的才能？', user: ["SLUG","NAME"], answers_count: 1 },
       { id: '4ecdd3fd062a78727b001549', title: '应聘技术职位，如何填写自我介绍？', user: ["SLUG","NAME"], answers_count: 1 },
       { id: '4ecdd335062a78727b001538', title: '非IT专业的人，毕业进入IT领域的机会有多大？', user: ["SLUG","NAME"], answers_count: 1 },
       { id: '4eccf6d8062a787287000dba',
         title: '你好：\r\n申晨老师，我是一个热情，有些小马虎的年轻妈妈，我自学了工商企业管理的领域，并顺利的拿到毕业证，毕业后做了一段时间的销售，后来就一直做船务文员这块，可是我越来越觉得做下去没有 什么前途，很迷茫，我试着自学英语，但是效果不是很好，我觉得我不知道怎么样规划自己的职业生涯了。请指点一下，谢谢',
         user: ["SLUG","NAME"],
         answers_count: 0 },
       { id: '4eccabc3062a78726f000bb5',
         title: '外企面试是不是都用英语呢？我的口语不是很好，但是读写能力不错。想应聘英文编辑类的工作，就怕卡在口语上。',
         user: ["SLUG","NAME"],
         answers_count: 1 },
       { id: '4ecca9ae062a78726f000b9b',
         title: '申晨老师：您好，很关注职来职往，我是一名人力资源工作者，有三年的工作经验，现在是一家千人私营企业的人事主管，我想跳到一家体系健全、对我自身发展更有益的企业，但是往往投出的简历都有去无回，在现实中很多公司的领导都还是比较认可我的工作能力的，我的简历写的也很真实都是我实实在在工作的内容，我找不出没有面试机会的原因，很困惑，你能指导一下像我这类人的简历应该怎样取得亮点，争取到机会吗？谢谢您！',
         user: ["SLUG","NAME"],
         answers_count: 0 },
       { id: '4ecca870d1212f7657000bc5',
         title: '您好，我不是英语专业的，但是通过了BEC高级考试，进外企的话在英语方面还需要进一步的提高吗？',
         user: ["SLUG","NAME"],
         answers_count: 1 },
       { id: '4ecca4c2d1212f764b000b4f',
         title: '您好，我对人力资源十分感兴趣，但我不是这个专业的。我想找一份实习生的工作，那么，在写简历时，该注意什么，突出什么呢？',
         user: ["SLUG","NAME"],
         answers_count: 1 },
       { id: '4ecc9e1a062a78726f000b46',
         title: '想进外企，形象很重要吗？我没有化妆的习惯，衣服也都以简单风格为主。在面试前，应该怎么准备一下自己呢？',
         user: ["SLUG","NAME"],
         answers_count: 1 } ] }
         
</pre>
