
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 获取所有未解答的题</h1>

<h2>认证级别</h2>
<p>只需提供client_id</p>

<h2>输入</h2>
<p>向<code>/asks</code>发送<code>GET</code>请求，再添加zero_answers=1的参数即可。可接受分页参数，详见<%= link_to '全局约定#分页','/apidoc#section-4' %>。</p>
<p>例如：</p>
<pre class="terminal">
  curl -i "http://api.kejian.tv/asks?zero_answers=1&client_id=4f853634c3666e05e1000002"   
</pre>

<h2>输出</h2>
<%= render 'ask' %>
<p>例如：</p>
<pre class="terminal">
{ size: 30,
  result: 
   [ { id: '4fbf25ed9bd4bf03b8000017',
       title: '111sq',
       user: [Object],
       answers_count: 0 },
     { id: '4fbf1e469bd4bf03b8000013',
       title: '321213132',
       user: [Object],
       answers_count: 0 },
     { id: '4fbf1df29bd4bf03b800000c',
       title: '132231',
       user: [Object],
       answers_count: 0 },
     { id: '4fbf1d2c9bd4bf03b8000006',
       title: '111222',
       user: [Object],
       answers_count: 0 },
     { id: '4fbc9fd19bd4bf0913000051',
       title: '完全乔沃维奇',
       user: [Object],
       answers_count: 0 },
     { id: '4fbc873b9bd4bf091300001d',
       title: '发动机啊开朗大方金克拉分的',
       user: [Object],
       answers_count: 0 },
     { id: '4fb1f8b09bd4bf0f81000001',
       title: '21321321123321123',
       user: [Object],
       answers_count: 0 },
     { id: '4fa860789bd4bf634d000009',
       title: '198302839796184963917834619843',
       user: [Object],
       answers_count: 0 },
     { id: '4fa860629bd4bf634d000003',
       title: 'jioj9013812',
       user: [Object],
       answers_count: 0 },
     { id: '4fa7b7629bd4bf60dd000043',
       title: 'fdaafdadfadsf23123',
       user: [Object],
       answers_count: 0 },
     { id: '4fa7b6ec9bd4bf60dd00003d',
       title: 'dsfdafadsdsaf',
       user: [Object],
       answers_count: 0 },
     { id: '4f9b93b79bd4bf2a64000029',
       title: '我的我的我饿哦的Kejian.TV题9230181309282092',
       user: [Object],
       answers_count: 0 },
     { id: '4f9b93af9bd4bf2a64000022',
       title: '我的我的我饿哦的Kejian.TV题9230181309282091',
       user: [Object],
       answers_count: 0 },
     { id: '4f9b93629bd4bf2a6400001d',
       title: 'jflekwjflkejflkew',
       user: [Object],
       answers_count: 0 },
     { id: '4f9b91859bd4bf2a64000018',
       title: '23231',
       user: [Object],
       answers_count: 0 },
     { id: '4f9b91749bd4bf2a64000010',
       title: '我的我的我饿哦的Kejian.TV题修改',
       user: [Object],
       answers_count: 0 },
     { id: '4f9b912d9bd4bf2a64000009',
       title: '我的我的我饿哦的Kejian.TV题222',
       user: [Object],
       answers_count: 0 },
     { id: '4f9b91029bd4bf2a64000002',
       title: '我的我的我饿哦的Kejian.TV题',
       user: [Object],
       answers_count: 0 },
     { id: '4f97cb069bd4bf0a3b00001e',
       title: 'fdsdfsfd22222fdsdfsfd22222',
       user: [Object],
       answers_count: 0 },
     { id: '4f97caf09bd4bf0a3b000019',
       title: 'fdsdfsfd22222',
       user: [Object],
       answers_count: 0 },
     { id: '4f97ca489bd4bf0a3b000013',
       title: '12323123321',
       user: [Object],
       answers_count: 0 },
     { id: '4f97ca369bd4bf0a3b00000e',
       title: '2123231231',
       user: [Object],
       answers_count: 0 },
     { id: '4f97c9b59bd4bf0a3b000006',
       title: 'sdfdssdsd',
       user: [Object],
       answers_count: 0 },
     { id: '4f95238a9bd4bf0c1e00002e',
       title: '231231231321132',
       user: [Object],
       answers_count: 0 },
     { id: '4f951b7d9bd4bf0c1e000018',
       title: '士大夫的身份是范德萨',
       user: [Object],
       answers_count: 0 },
     { id: '4f9518c09bd4bf0c05000001',
       title: 'dfsfdfdsfs212312321111````',
       user: [Object],
       answers_count: 0 },
     { id: '4f9517db9bd4bf0b77000002',
       title: '111111110000',
       user: [Object],
       answers_count: 0 },
     { id: '4f95100f9bd4bf0a7c00000f',
       title: 'ddfsfdsdsf',
       user: [Object],
       answers_count: 0 },
     { id: '4f950fae9bd4bf0a7c00000b',
       title: 'adfsdafsads',
       user: [Object],
       answers_count: 0 },
     { id: '4f950fa79bd4bf0a7c000008',
       title: '1212321321231',
       user: [Object],
       answers_count: 0 } ] }
    </pre>
