
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 获取某领域下所有题</h1>

<h2>认证级别</h2>
<p>只需提供client_id</p>

<h2>输入</h2>
<p>向<code>/asks</code>发送<code>GET</code>请求，且需要提供topic_name参数。</p><p>由于topic_name可接受分页参数，往往是中文的，所以您需要以UTF-8编码中文汉字，之后再用URIencode方法编码为百分号开头的URI进行请求。例如"招聘"应该编码为"%E6%8B%9B%E8%81%98"。</p><p>可以接受分页参数，详见<%= link_to '全局约定#分页','/apidoc#section-4' %>。</p>
<p>例如：</p>
<pre class="terminal">
curl -i "http://api.kejian.tv/asks?topic_name=%E6%8B%9B%E8%81%98&client_id=4f853634c3666e05e1000002"
</pre>

<h2>输出</h2>
<%= render 'ask' %>
<p>例如：</p>
<pre class="terminal">              
HTTP/1.1 200 OK 
Link: <https://api.kejian.tv/asks?page=2&per_page=30>; rel="next",<https://api.kejian.tv/asks?page=2&per_page=30>; rel="last",<https://api.kejian.tv/asks?page=1&per_page=30>; rel="first"
Content-Type: application/json; charset=utf-8
X-Ua-Compatible: IE=Edge
Etag: "ccea793266bad771f568e643f8368652"
Cache-Control: max-age=0, private, must-revalidate
X-Request-Id: 18b5c81d77321cf9c01364ede5633bd7
X-Runtime: 0.294503
Date: Mon, 23 Apr 2012 06:42:09 GMT
X-Rack-Cache: miss
Content-Length: 42570
Server: WEBrick/1.3.1 (Ruby/1.9.3/2012-02-16)
Connection: Keep-Alive
Set-Cookie: _quora_session=BAh7BkkiD3Nlc3Npb25faWQGOgZFRkkiJTc1Mjg2OWQxNzZiZjJkOThhYzllZGY1ZDc4NThhZTdlBjsAVA%3D%3D--ff6763ee8f806a00784ff5ac984213dcb1d47658; path=/; expires=Sun, 22-Jul-2012 06:42:09 GMT; HttpOnly

{ size: 30,
  result: 
   [ { id: '4ed87bb1d1212f2682000f29',
       title: '我是个一般的本科院校学生，学的是软件编程，想毕业后从事网游方面的开发工作，请问需要学习哪些知识？不局限于学校领域。还有一般公司招聘上有说需要几年的网游经验，这个很有用么？如何才能进盛大，完美时空等网游公司？最后想问一下游戏开发这一块的薪水待遇是个什么水平？',
       user: ["SLUG","NAME"],
       answers_count: 0 },
     { id: '4ed5dce1d1212f2682000712',
       title: '我是即将毕业的读设计的研究生，在读研期间，帮导师做过几个设计交互的项目。现在想进大型的设计公司，请问，这些公司都是通过什么渠道招聘设计师？他们招聘的时候，更看重应聘者的哪些素质？',
       user: ["SLUG","NAME"],
       answers_count: 0 },
     { id: '4ed5d925062a787287002f1e',
       title: '我是服装设计专业毕业半年的女生，应聘了几家公司，在最后的面试竞争者中基本都是男性，招聘方一直对我的评价很好，可是最后都没有录用我，而是录了俩个男生，他们的学历都不及我。是我不够好，还是我遭遇了招聘中的性别歧视？我以后该怎么应对？',
       user: ["SLUG","NAME"],
       answers_count: 1 },
     { id: '4ed5d860d1212f268e000708',
       title: '我是即将毕业的研究生，前几天去面试一个研究公司的时候，招聘方竟然没要我，选了个本科生，我很惊讶迷茫困惑。请问，在什么情况下，招聘方会要一个本科生，而不是研究生？',
       user: ["SLUG","NAME"],
       answers_count: 1 },
     { id: '4ed5d786062a78726f002edf',
       title: '我是大三的学生，寒暑假想去实习。所以我想了解下大公司和小公司对于实习生的要求，好好调整提高自己。请问，对于大公司以及创业型的小公司而言，在招聘实习生的时候主要是关注哪些方面？对于简历主要看重哪些方面？挑选过程中有哪些要求？',
       user: ["SLUG","NAME"],
       answers_count: 0 },
     { id: '4ed5d70f062a78726f002ed3',
       title: '我是服装设计专业的应届毕业生，但是相貌不好。我去面试了几家服装公司，他们电话联系我的时候都挺满意的，可是一见到我， 说不了两句，就把我拒绝了。相貌在这个行业中真的就那么重要？HR在招聘的时候，都这么看重眼缘，相信自己的直觉吗？',
       user: ["SLUG","NAME"],
       answers_count: 1 },
     { id: '4ed45106d1212f269a00024d', title: '招聘转做培训现在应该怎么开始了', user: ["SLUG","NAME"], answers_count: 3 },
     { id: '4ed33be7d1212f268200004b',
       title: '作为一名非重点本科院校的本科学生，学校很少有百强企业前去进行校园招聘，请问针对这个现象，大大们有什么好的建议吗？辛苦大家啦~~',
       user: ["SLUG","NAME"],
       answers_count: 1 },
     { id: '4ecddeca062a78726f0015eb', title: '在招聘的时候，面试官很在乎应届毕业生在大学时候的成绩吗？', user: ["SLUG","NAME"], answers_count: 1 },
     { id: '4ecddd5d062a78726f0015d5', title: '面试时被问到「你的希望薪资是多少」，怎样解答才是最合理的呢？', user: ["SLUG","NAME"], answers_count: 1 },
     { id: '4ecc8cdad1212f7663000b03',
       title: '对方公司招聘职位要求工作自认为我可以完成，那类工作我做有8年多。可我做过8年之久当然的年龄也当然不是刚出校门的学生，就因为被拒之门外',
       user: ["SLUG","NAME"],
       answers_count: 1 },
     { id: '4ecc8263062a78726f000a8e',
       title: '我是去年毕业的学生，大学专修并不是人力资源专业，现在在一家公司做人事招聘的工作，在工作中由于资源和经验不足，工作中造成很多困难，在各大网站中都发布了招聘信息，这种坐着等待的效果也不是很佳，针对这样的情况，希望老师给予指点！',
       user: ["SLUG","NAME"],
       answers_count: 1 },
     { id: '4ecb7ec6062a78726f00036c',
       title: '您好老师！我是一名非重点本科院校的本科学生，我们学校很少有百强企业前去进行校园招聘，请问针对这个现象，您有什么好的建议吗？辛苦您啦~~',
       user: ["SLUG","NAME"],
       answers_count: 0 },
     { id: '4ecb547dd1212f76630001dc', title: '您如何看待简历里类似“学生会主席”这样的经历？', user: ["SLUG","NAME"], answers_count: 1 },
     { id: '4ecb1778d1212f6fc90003ea',
       title: '您好，我想请问一下广东省珠三角地区邮政银行招聘笔试考什么类型的题目？谢谢',
       user: ["SLUG","NAME"],
       answers_count: 1 },
     { id: '4eca0779062a78580100126d',
       title: '你好，请我想问一下腾讯最近有没有招聘计划，最来听闻腾讯会在电商方面加大投资，我在阿里巴巴工作了三年，由于工作调动原因离职，想问一下是否有这个荣幸为腾讯贡献一份自己的力量。qq：2468857417  ',
       user: ["SLUG","NAME"],
       answers_count: 1 },
     { id: '4ec9bce0062a7857e9000f89',
       title: '我是个应届生，前段时间有很多企业来我校搞校园招聘会，我去看了，其中有多知名企业提供的岗位我感觉自己是可以胜任的，但是人家却有明确的专业要求，请问我该去投简历试试么？',
       user: ["SLUG","NAME"],
       answers_count: 1 },
     { id: '4ec76e8a062a7857e90005e1',
       title: '张勇老师，您好！我是一名心理咨询专业的大专应届毕业生，想在北京寻找到企业从事关于人力资源管理方面的工作，比如先从人事专员开始做起，您觉得可以吗？还有对于我们这种三线城市校园的中介公司的招聘会，您觉得可信度怎么样！期待您的帮助，谢谢！',
       user: ["SLUG","NAME"],
       answers_count: 1 },
     { id: '4ec5ec4a062a783c2d00208a',
       title: '梁老师您好：请问贵公司的游戏部是如何进行招聘的, 在北京是否有提供关于游戏美工的职位，本人一直向往着去贵公司发展，希望能有这个机会加入你们， 谢谢！',
       user: ["SLUG","NAME"],
       answers_count: 0 },
     { id: '4ec52552062a783c2d001ac9',
       title: '申晨老师，你好，我看了很多公司招聘，最低学历是本科，而我因为个人原因只读了专科，在条件上不符合，我临近毕业，我是一个很要强的人，觉得现在去升什么本，肯定有点浪费时间，学校里那点事，我们都懂，能学到有用的知识很少，不想花时间去补学历。我有很强的学力，怎么样才能体现和弥补我的学历上的缺陷？',
       user: ["SLUG","NAME"],
       answers_count: 0 },
     { id: '4ec4e202d1212f37720017a6',
       title: '张老师您好，从《职来职往》上看到你，对你的达人形象非常深刻，我是一名2012年的会计学专业的应届毕业生，最近有很多企业招聘，我也积极地去应聘，可是都未能顺利找到一份合适的工作，可能在简历和面试技巧方面有很多不足的地方，对写解题信方面也大有欠缺，希望老师能给予我一些建议和帮助，非常感谢，期待您的回复！',
       user: ["SLUG","NAME"],
       answers_count: 1 },
     { id: '4ec45a5a062a783c37000f64',
       title: '张老师，您好！我是去年毕业的学生，大学专修并不是人力资源专业，现在一家公司做人事招聘的工作，在工作中由于资源和经验不足，工作中造成很多困难，在各大网站中都发布了招聘信息，这种坐着等待的效果也不是很佳，针对这样的情况，希望张老师给予指点，谢谢。',
       user: ["SLUG","NAME"],
       answers_count: 1 },
     { id: '4ec3d9e3d1212f3772000cae',
       title: '老师，您好！很欣赏您在“职职”上的达人形象。我是农科院校的行政管理本科应届毕业生，来我们学校招聘的企业不少，但好像都是来招聘食品、机电、水土等专业的，我们专业对口的行政助理岗位基本上没人回应，使我的解题有些迷茫。想到行政助理发展前景一般，现在我都想调整方向，改成销售，希望您指点一下，谢谢！',
       user: ["SLUG","NAME"],
       answers_count: 1 },
     { id: '4ec3a5ebd1212f3772000a9f',
       title: '张老师您好，我非常喜欢看职来职往，从中我吸取了很多营养，非常感谢您们。我现在是一名专接本的学生，想问一下企业在招聘时，承认不承认专接本学历啊？谢谢！',
       user: ["SLUG","NAME"],
       answers_count: 1 },
     { id: '4ec39536062a783c45000975', title: '简历上的社会关系要怎么填？', user: ["SLUG","NAME"], answers_count: 1 },
     { id: '4ec3248b062a783c2d000640',
       title: '张勇老师，您好！我是一名大四会计专业应届毕业生，现在也在积极参加校园招聘的宣讲会，自我认为各科成绩都还不错，证书奖学金也都有，但是就是面试的时候会紧张，一紧张语速就会加快，小时候我就发现这个缺点了，但是一直都没克服，参加过多次面试，有的群面就被刷了，有的在终面被刷，真的对自己快失去信心了，真心希望张老师能给我一些建议，我会非常感谢的！',
       user: ["SLUG","NAME"],
       answers_count: 1 },
     { id: '4ec266f7062a783c370001cf', title: '企业招聘最看重面试者哪方面的能力？', user: ["SLUG","NAME"], answers_count: 0 },
     { id: '4ec2375cd1212f377e000054', title: '招聘经理如何度过师生瓶颈期？', user: ["SLUG","NAME"], answers_count: 0 },
     { id: '4ec1c5cf062a781a27001567',
       title: '您好老师 我是应届毕业生学的是服装设计 现处于实习阶段了 我想去大公司实习或是从服装设计师助理干起 但我看过很多招聘似乎大部分都是小型的加工公司 怎样才能在第一份工作就有个好的开头 我只想求发展 。还有就是我对自己所学的专业不是那么热衷 处于不喜欢也不讨厌的位置 我总是在找我自己最喜欢的事 想为之奋斗。我希望老师给我指出一条更明确的路。以及工作地点的题，我自己是非常喜欢北京。',
       user: ["SLUG","NAME"],
       answers_count: 0 },
     { id: '4ec11c48d1212f1a0b0011cb',
       title: '张勇老师您好：我是即将毕业的学生，所学专业是会计，最近参加了两次招聘会，对于会计，或是出纳职位的要求都是有工作经验，而且说是硬件要求，希望老师帮助解答一下。帮一帮应届毕业生',
       user: ["SLUG","NAME"],
       answers_count: 0 } ] }
       
</pre>
