<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 访问需要用户认证的资源</h1>

<h2>访问需要用户认证的资源</h2>
<p>有些资源是需要登录才能操作的，例如以某用户的身份关注另外的用户。课件交流系统Kejian.TVAPI使用OAuth来进行单个用户的认证。特殊受信应用程序无需OAuth认证。</p>

<h2>什么是OAuth</h2>
<p>正如现在的汽车往往提供一把仆从钥匙（Valet Key），即只能点火以及打开驾驶员侧门，而打不开往往放有贵重物品的后备箱和杂物箱的一把钥匙，Oauth就是为了让用户在不提供他的用户名密码的情况下，授予应用程序一些权限，让它访问用户的部分资源。</p>
<p>课件交流系统Kejian.TVAPI实现的是Oauth 2.0。</p>

<h2>如何通过获取访问令牌(即仆从钥匙)？</h2>

<p>以下以获取用户在课件交流系统Kejian.TV的已登录用户的用户名为例，演示如何使用Kejian.TVAPI的OAuth认证功能。</p>

<p>需要两个步骤，第一个步骤是，您的应用程序需要向着用户询问获取他们数据的权限。如果用户同意，客户端将收到一个授权码。第二个步骤是客户端将带着授权码以及（以前注册应用程序的时候获得的）访问密钥去Kejian.TV的服务器上获取访问令牌(即仆从钥匙)。</p>

<p>首先，您需要构建一个请求URL，需要提供以下参数：scope=想获取的认证范畴，response_type=code（常量），client_id=您的客户端ID，redirect_uri=您注册客户端时填写的回调地址(必须与服务器记录保持一致)。</p>

<p>一个例子如下。</p>

<pre>
http://api.kejian.tv/oauth/authorization?response_type=code&scope=all&client_id=4f8adcae8abf9f09fb000002&redirect_uri=http://wendao.ofpsvr.org/redirect_receive
</pre>

<p>让用户访问这个地址，并选择是否同意。</p>

<p><%= api 1011 %></p>

<p>若用户同意，那么Kejian.TV将跳转到我们的应用所制定的回调地址，给您一个授权码。在这个实例里面，这个地址是http://wendao.ofpsvr.org/redirect_receive?code=<授权码>。我们现在应该拿着授权码来换取访问令牌。我们通过向服务器端的`/oauth/token`去POST这些参数来实现：code=授权码、grant_type=authorization_code、client_id=客户端ID、client_secred=客户端密钥。</p>

<p>例如，(Ruby)</p>

<pre>
  http.post('/oauth/token',{
    "code"=> params[:code],
    "grant_type"=> "authorization_code",
    "redirect_uri"=> CLIENT_redirect,
    "client_id"=> CLIENT_client_id,
    "client_secret"=> CLIENT_client_secred
  }.to_json,{
    "Accept"=>"application/json",
    "Content-Type"=>"application/json"
  })
</pre>

<p>若一切顺利，此时您已成功获取访问令牌(即仆从钥匙)。</p>

<pre>
{ "access_token": "cfaf68be40f0c0a65e99757b52711b5a4f9874bb44918e98382fa5fb1a3533fe", "expires_in": 1800, "refresh_token": "7aa02b847d1bf413592729b0d6766f3af6ba16f87871c0df1446178ceb68a0a6" } 
</pre>

<h2>使用访问令牌</h2>

<p>您只需将令牌附在请求URI的最后，"token=..."。例如：</p>

<pre>
$ curl -i "http://api.kejian.tv/current_user?token=750c7c283528df4335049a7339fc8c78687250bbcd422b7b4ec5359644e92c6a"
HTTP/1.1 200 OK 
Content-Type: application/json; charset=utf-8
X-Ua-Compatible: IE=Edge
Etag: "70249a0d5d858231c472da0cd0fffe95"
Cache-Control: max-age=0, private, must-revalidate
X-Request-Id: e2fa687cb4e6ced705bf72819c76ad3c
X-Runtime: 0.031024
Date: Wed, 18 Apr 2012 10:08:52 GMT
X-Rack-Cache: miss
Content-Length: 1135
Server: WEBrick/1.3.1 (Ruby/1.9.3/2012-02-16)
Connection: Keep-Alive
Set-Cookie: _quora_session=BAh7BkkiD3Nlc3Npb25faWQGOgZFRkkiJWQ5NmQ2NGE3YmM2MGUxNzQ3OTVmZjUyYzUyZjJjY2UyBjsAVA%3D%3D--c9ad4e22159d89990ce651483d52de4e12535ff5; path=/; expires=Tue, 17-Jul-2012 10:08:52 GMT; HttpOnly

{"avatar":{"url":"/uploads/user/avatar/4e641c79613003186900000e/mtv-782705.gif","small":{"url":"/uploads/user/avatar/4e641c79613003186900000e/small_mtv-782705.gif"},"small38":{"url":"/uploads/user/avatar/4e641c79613003186900000e/small38_mtv-782705.gif"},"mid":{"url":"/uploads/user/avatar/4e641c79613003186900000e/mid_mtv-782705.gif"},"normal":{"url":"/uploads/user/avatar/4e641c79613003186900000e/normal_mtv-782705.gif"}},"banished":"0","bio":"fadsfdasafdsfds","credible":false,"email":"pmq2001@gmail.com","girl":false,"is_expert":"0","is_expert_why":"","mail_ask_me":false,"mail_be_followed":false,"mail_invite_to_ask":false,"mail_new_answer":false,"name":"\u5b57\u5b57\u5b57\u5b57\u5b57\u5b57\u5b57\u5b57\u5b57\u5b57\u5b57\u5b57","slug":"pmq20018","tagline":"aaab3","tags":["\u5e94\u5c4a\u751f","\u8003\u7814","sdffds","sdffdsjioj","\u7684\u98d2\u98d2\u7684","\u9500\u552e","\u7f51\u7edc\u9500\u552e","dsf","adsf","dfsafasd","fd","\u70b9\u51fbskf","132fadsafd","fds","\u540d\u4f01\u9762\u8bd5","\u6587\u51ed","\u517b\u8001\u4fdd\u9669","\u6807\u51c6","fdsdfs","dfs","213","32"],"website":"http://ofpsvr.org","will_autofollow":false} 
</pre>

<p>或者放置在请求HTTP头的“Authorization”中。例如</p>
<pre>
$ curl -H "Authorization: token 750c7c283528df4335049a7339fc8c78687250bbcd422b7b4ec5359644e92c6a" http://api.kejian.tv/current_user
HTTP/1.1 200 OK 
Content-Type: application/json; charset=utf-8
X-Ua-Compatible: IE=Edge
Etag: "70249a0d5d858231c472da0cd0fffe95"
Cache-Control: max-age=0, private, must-revalidate
X-Request-Id: e2fa687cb4e6ced705bf72819c76ad3c
X-Runtime: 0.031024
Date: Wed, 18 Apr 2012 10:08:52 GMT
X-Rack-Cache: miss
Content-Length: 1135
Server: WEBrick/1.3.1 (Ruby/1.9.3/2012-02-16)
Connection: Keep-Alive
Set-Cookie: _quora_session=BAh7BkkiD3Nlc3Npb25faWQGOgZFRkkiJWQ5NmQ2NGE3YmM2MGUxNzQ3OTVmZjUyYzUyZjJjY2UyBjsAVA%3D%3D--c9ad4e22159d89990ce651483d52de4e12535ff5; path=/; expires=Tue, 17-Jul-2012 10:08:52 GMT; HttpOnly

{"avatar":{"url":"/uploads/user/avatar/4e641c79613003186900000e/mtv-782705.gif","small":{"url":"/uploads/user/avatar/4e641c79613003186900000e/small_mtv-782705.gif"},"small38":{"url":"/uploads/user/avatar/4e641c79613003186900000e/small38_mtv-782705.gif"},"mid":{"url":"/uploads/user/avatar/4e641c79613003186900000e/mid_mtv-782705.gif"},"normal":{"url":"/uploads/user/avatar/4e641c79613003186900000e/normal_mtv-782705.gif"}},"banished":"0","bio":"fadsfdasafdsfds","credible":false,"email":"pmq2001@gmail.com","girl":false,"is_expert":"0","is_expert_why":"","mail_ask_me":false,"mail_be_followed":false,"mail_invite_to_ask":false,"mail_new_answer":false,"name":"\u5b57\u5b57\u5b57\u5b57\u5b57\u5b57\u5b57\u5b57\u5b57\u5b57\u5b57\u5b57","slug":"pmq20018","tagline":"aaab3","tags":["\u5e94\u5c4a\u751f","\u8003\u7814","sdffds","sdffdsjioj","\u7684\u98d2\u98d2\u7684","\u9500\u552e","\u7f51\u7edc\u9500\u552e","dsf","adsf","dfsafasd","fd","\u70b9\u51fbskf","132fadsafd","fds","\u540d\u4f01\u9762\u8bd5","\u6587\u51ed","\u517b\u8001\u4fdd\u9669","\u6807\u51c6","fdsdfs","dfs","213","32"],"website":"http://ofpsvr.org","will_autofollow":false} 
</pre>



<h2>刷新令牌</h2>
当您的令牌过期，Kejian.TV服务器将返回401响应。您可以通过向`/oauth/token`去POST带有如下参数的请求来获取新的令牌：grant_type=refresh_token、client_id=客户端ID、client_secred=客户端密钥。例如：
<p>例如，(Ruby)</p>

<pre>
  http.post('/oauth/token',{
    "grant_type"=> "refresh_token",
    "refresh_token"=>session[:refresh_token],
    "redirect_uri"=> CLIENT_redirect,
    "client_id"=> CLIENT_client_id,
    "client_secret"=> CLIENT_client_secred
  }.to_json,{
    "Accept"=>"application/json",
    "Content-Type"=>"application/json"
  })
</pre>

<p>若一切顺利，此时您已成功刷新了的访问令牌。</p>

<pre>
{ "access_token": "3144a6a7e3b65990bc5ea5d94098e3717fe0c384571f759928df91a729f60123", "expires_in": 1800, "refresh_token": "fd6582ca050965e6df8673de4e3d1eeea7c4d84eb82f693ef9b04064633dc3e0" } 
</pre>