<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 客户端示例</h1>

<h2>客户端示例</h2>
<p>为了演示客户端的访问使用Kejian.TVAPI的方法，我们用Sinatra开发了一个使用Kejian.TVAPI的应用程序示例，基于Ruby客户端库wendao(<a href="http://rubygems.org/gems/wendao">http://rubygems.org/gems/wendao</a>)。</p>
<p>访问地址：<a href="http://wendao.ofpsvr.org">http://wendao.ofpsvr.org</a></p>

<h2>获取代码</h2>

<p>可以通过git获取最新的代码库代码，然后找到lib/wendao/demo路径。</p>
<pre>$ git clone git://github.com/pmq20/wendao.git</pre>
