
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 获取所有课程</h1>

<h2>认证级别</h2>
<p>只需提供client_id</p>

<h2>输入</h2>
<p>向<code>/topics</code>发送<code>GET</code>请求即可。可接受分页参数，详见<%= link_to '全局约定#分页','/apidoc#section-4' %>。</p>
<p>例如：</p>
<pre class="terminal">
  curl -i "http://api.kejian.tv/doing?client_id=4f853634c3666e05e1000002"
</pre>

<h2>输出</h2>
<p>例如：</p>
<pre class="terminal">
  { size: 30,
    result: 
     [ { id: '4e6517a26130031851000013',
         title: '大学毕业后是继续深造的好，还是工作的好？',
         user_id: '4e6515306130031851000011',
         target_id: '4e6517a26130031851000012' },
       { id: '4e652c2b613003185100001e', title: '毕业', user_id: '4e6515306130031851000011', target_id: '4e652c2b613003185100001d' },
       { id: '4e652c2b613003185100001f', title: '毕业', user_id: '4e6515306130031851000011', target_id: '4e6517a26130031851000012' },
       { id: '4e652c336130031851000021', title: '职业规划', user_id: '4e6515306130031851000011', target_id: '4e652c336130031851000020' },
       { id: '4e652c336130031851000022', title: '职业规划', user_id: '4e6515306130031851000011', target_id: '4e6517a26130031851000012' },
       { id: '4e652c3a613003185d000023', title: 'angela', user_id: '4e6515306130031851000011', target_id: '4e652c2b613003185100001d' },
       { id: '4e652c43613003185d000024', title: 'angela', user_id: '4e6515306130031851000011', target_id: '4e652c336130031851000020' },
       { id: '4e652c816130031869000026', title: '毕业后去国企还是去外企好', user_id: '4e6515306130031851000011', target_id: '4e652c816130031869000025' },
       { id: '4e652c916130031869000028', title: '如何进行职位规划', user_id: '4e6515306130031851000011', target_id: '4e652c916130031869000027' },
       { id: '4e652de8613003185d000029', title: '课件交流系统公司怎么样', user_id: '4e652d7b613003186900002b', target_id: '4e652de8613003185d000028' },
       { id: '4e652dfe6130031851000029', title: '课件交流系统', user_id: '4e652d7b613003186900002b', target_id: '4e652dfe6130031851000028' },
       { id: '4e652dfe613003185100002a', title: '课件交流系统', user_id: '4e652d7b613003186900002b', target_id: '4e652de8613003185d000028' },
       { id: '4e652e09613003186900002d', title: '待遇', user_id: '4e652d7b613003186900002b', target_id: '4e652e09613003186900002c' },
       { id: '4e652e09613003186900002e', title: '待遇', user_id: '4e652d7b613003186900002b', target_id: '4e652de8613003185d000028' },
       { id: '4e652e3c613003185100002c', title: '非常好', user_id: '4e652d7b613003186900002b', target_id: '4e652e3c613003185100002b' },
       { id: '4e652e9e613003185d00002a', title: 'nininninni', user_id: '4e652d7b613003186900002b', target_id: '4e652c336130031851000020' },
       { id: '4e652ec0613003185d00002c', title: 'nininninni', user_id: '4e652d7b613003186900002b', target_id: '4e6517a26130031851000012' },
       { id: '4e654d056130031869000035', title: '7874612313', user_id: '4e654b106130031869000034', target_id: '4e652c2b613003185100001d' },
       { id: '4e654d10613003185d00002e', title: '7874612313', user_id: '4e654b106130031869000034', target_id: '4e6517a26130031851000012' },
       { id: '4e654f566130031851000034',
         title: '“北漂”族，坚守还是离开？利还是弊？',
         user_id: '4e654c5e6130031851000030',
         target_id: '4e654f566130031851000033' },
       { id: '4e654fbf613003185d000038', title: '7874612313', user_id: '4e654b106130031869000034', target_id: '4e654f566130031851000033' },
       { id: '4e654fd16130031869000042',
         title: '刚入职的我在公司里怎么就这么不招人待见呢？',
         user_id: '4e654c5e6130031851000030',
         target_id: '4e654fd16130031869000041' },
       { id: '4e65500b6130031851000041', title: '7874612313', user_id: '4e654b106130031869000034', target_id: '4e654fd16130031869000041' },
       { id: '4e65500b6130031851000042',
         title: '<span class="Apple-style-span" style="color: rgb(68, 68, 68); font-family: simsun, Arial, Helvetica, sans-serif; line-height: 21px; "><p style="word-wrap: break-word; font-size: 14px; line-height: inherit; ">恩，怎么说呢，我至今工作三年，我也有过不融于团队的经历，所以我理解你的心态。不过你的帖子叙说有点笼统，我不知道你在什么样的工作环境之中，而且你是不是性格有点内向呢。其实我觉得新人和师生人并没有很大的鸿沟，关键是你自己要积极和和同事去交流，去接触。我的建议，你不要太着急，作为新人，多观察，多听，你慢慢的会好起来的。</p><div><br></div></span>',
         user_id: '4e654b106130031869000034',
         target_id: '4e65500b6130031851000040' },
       { id: '4e655061613003185d00003f',
         title: '<span class="Apple-style-span" style="color: rgb(68, 68, 68); font-family: simsun, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 21px; ">这里机会多，找工作容易。但生存苦难，能生活的惬意的外地人毕竟是少数。</span>',
         user_id: '4e654b106130031869000034',
         target_id: '4e655061613003185d00003e' },
       { id: '4e655234613003185d000047', title: '没有实习经验，肿么办？', user_id: '4e65515a613003185d000045', target_id: '4e655234613003185d000046' },
       { id: '4e65526b613003185d000049', title: '方向感 。有么有', user_id: '4e65515a613003185d000045', target_id: '4e65526b613003185d000048' },
       { id: '4e655290613003186900004f',
         title: '<p>每个人都会经过迷茫期的，只有积蓄力量才能有所突破。稳定安逸的工作会给人更多这种困惑，会不断的问自己这是不是我要的生活。其实不一定非得放弃稳定的工作才能体现自己的价值，看起来简单的工作一样可以做出成绩，愿意努力，在哪都会有价值。 \n</p>',
         user_id: '4e65515a613003185d000045',
         target_id: '4e655290613003186900004e' },
       { id: '4e6553596130031869000052', title: '新闻专业，做网编怎么样？', user_id: '4e65515a613003185d000045', target_id: '4e6553596130031869000051' },
       { id: '4e6553616130031869000053', title: 'yanhua1', user_id: '4e65521b613003186900004a', target_id: '4e65526b613003185d000048' } ] }
</pre>
