<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 注册客户端</h1>


<h2 id="section-6">客户端管理界面</h2>

<p>
  您必须先在课件交流系统Kejian.TV的第三方应用程序管理界面注册您的应用程序，才能开始使用本套API。每个请求需要携带应用程序ID，没有应用程序ID的请求是禁止的。
</p>

<p>
  <%= api 1 %>
</p>
<p>管理界面的访问地址为：<a href="http://api.kejian.tv/cpanel">http://api.kejian.tv/cpanel</a></p>

<h2 id="section-6">新建客户端</h2>

<p>先进入我的客户端列表</p>

<p><%= api 2 %></p>

<p>填写表单。（认证范畴的填写方法请参见<a href="/apidoc/scopes">可选认证范畴</a>）</p>

<p><%= api 3 %></p>


<h2 id="section-6">等待通过审核</h2>
<p>新申请的客户端默认是处于等到审核的状态，此时还无法使用该客户端ID进行数据操作。您需要等待课件交流系统的工作人员审核您的客户端。</p>

<p><%= api 4 %></p>

<p>当审核通过，就可以开始使用这个应用程序的ID来访问课件交流系统的数据服务了。此时具体访问方法请继续阅读如何认证等文档。</p>



