
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 获得某领域的相关领域</h1>

<h2>认证级别</h2>
<p>只需提供client_id</p>

<h2>输入</h2>
<p>向<code>/topics/:topic_name/suggest_topics</code>发送<code>GET</code>请求，topic_name参数值为领域的名称。</p>
<p>例如：</p>
<pre class="terminal">
http://api.kejian.tv/topics/职业规划/suggest_topics?client_id=4f97b5f9d1212f1d7e000002
</pre>

<h2>输出</h2>
<p>例如：</p>
<pre class="terminal">
  [ '面试',
    '人力资源',
    '薪酬',
    '师生',
    '福利待遇',
    '解题',
    '简历',
    '晋升',
    '跳槽',
    '培训',
    '实习',
    '行业',
    '简历制作',
    '三方协议',
    '专业',
    '离职',
    '个性与工作',
    '老板',
    '面试题',
    '办公室',
    '新人',
    '毕业生',
    '公司',
    '应届生',
    '自我介绍',
    '跨专业',
    '简历模板',
    '同事',
    '试用期',
    '谷歌',
    '名企面试',
    'EXCEL',
    '职业',
    '办公软件',
    '职位',
    '网编',
    '工资',
    '图表',
    '学历',
    '加薪',
    '户口',
    '毕业',
    '互联网',
    '应聘',
    '师生礼仪',
    '校园招聘',
    'Kejian.TV',
    '网申',
    '考研',
    '签约',
    '网站运营',
    '创业',
    '实习生',
    '金融',
    '新浪',
    '考证',
    '择业',
    '待遇',
    '转正',
    '销售',
    '如何',
    '转行',
    '技能提升',
    '利益',
    '人力资源管理',
    '工作',
    '设置',
    '网游',
    '公关',
    '上班',
    '标准',
    '军官',
    '工程师',
    'seo',
    'BEC',
    '绩效考核',
    '托业',
    '面试礼仪',
    '资源整合',
    '师生人',
    '招聘',
    '就业地点',
    '工作地点',
    '经济危机',
    '劳动法',
    '辞职',
    '中粮',
    '数据',
    '工作经验',
    '年龄',
    '意见',
    '没经验',
    '活动',
    '市场营销',
    '功能',
    '添加',
    '文凭',
    '投简历',
    '社保',
    '师生新人',
    '题',
    'HR',
    '技术',
    '编辑',
    '外企',
    '职业指导',
    '360',
    '奇虎',
    '兼职',
    '活动执行',
    '面试准备',
    '销售礼仪',
    '形象',
    '加入图片',
    '开发人员',
    '程序优化',
    'Kejian.TV员工',
    '加图片',
    '劳资',
    '新功能',
    '市场',
    '图片',
    '建议',
    '薪水',
    '团队',
    '表格',
    '职业匹配',
    '自我评价',
    '课件交流系统',
    '交互设计师',
    '找工作',
    '就业',
    '专升本',
    '司法考试',
    '就业协议书',
    '高中',
    '就业前景',
    '公务员',
    '肄业',
    '广告',
    '设计',
    '创意',
    '绩效',
    '网络',
    '物流',
    'IT',
    '项目管理',
    'psvr2',
    'psvr',
    '789',
    'f',
    '本科',
    '123',
    'f3132',
    '失业补助金',
    '应用数学',
    '乙肝',
    '报关员',
    '自动化',
    '简历管理',
    '个人信息',
    '名校',
    '宣讲会',
    '福利保险',
    'a',
    'sssdddd',
    '劳动合同',
    '房地产',
    '猎头',
    '职业瓶颈',
    '请教',
    '通信工程',
    '事业单位',
    '计算机',
    '32',
    '213',
    'dfs',
    'fdsdfs',
    '国企',
    '养老保险',
    '机械设备开发',
    '教育专业',
    'fds',
    '132fadsafd',
    '点击skf',
    'fd',
    'dfsafasd',
    'adsf',
    'dsf',
    'ff',
    'e',
    'c',
    'b',
    '网络销售',
    '档案',
    '的飒飒的',
    'sdffdsjioj',
    'sdffds',
    '英语',
    '大专',
    '学位',
    '礼仪',
    '着装',
    '教师',
    '研究生',
    '职业困惑',
    '登录Kejian.TV',
    '注册Kejian.TV',
    '修改',
    '用户名',
    '添加评论',
    '领域',
    '大学生',
    '腾讯',
    '民营企业',
    '职位介绍',
    '生存',
    '翻译',
    '认知实习',
    '开发',
    '创新工场',
    '新闻',
    '新闻专业',
    '应届毕业生',
    '策划',
    '汽车行业',
    '帮助',
    '面试技巧',
    '文员',
    '会计资格证' ]
</pre>
