
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 获取所有领域</h1>

<h2>认证级别</h2>
<p>只需提供client_id</p>

<h2>输入</h2>
<p>向<code>/topics</code>发送<code>GET</code>请求即可。可接受分页参数，详见<%= link_to '全局约定#分页','/apidoc#section-4' %>。</p>
<p>例如：</p>
<pre class="terminal">
  curl -i "http://api.kejian.tv/topics?client_id=4f853634c3666e05e1000002"   
</pre>

<h2>输出</h2>
<%= render 'topic' %>
<p>例如：</p>
<pre class="terminal">
  HTTP/1.1 200 OK 
  Link: <https://api.kejian.tv/asks?page=2&per_page=30>; rel="next",<https://api.kejian.tv/asks?page=34&per_page=30>; rel="last",<https://api.kejian.tv/asks?page=1&per_page=30>; rel="first"
  Content-Type: application/json; charset=utf-8
  X-Ua-Compatible: IE=Edge
  Etag: "b05ad227388a38a47739f8120f1ae4fd"
  Cache-Control: max-age=0, private, must-revalidate
  X-Request-Id: 376fbf0121c66ab5f13685a6f19fb1dd
  X-Runtime: 0.068818
  Date: Mon, 23 Apr 2012 06:14:28 GMT
  X-Rack-Cache: miss
  Content-Length: 20496
  Server: WEBrick/1.3.1 (Ruby/1.9.3/2012-02-16)
  Connection: Keep-Alive
  Set-Cookie: _quora_session=BAh7BkkiD3Nlc3Npb25faWQGOgZFRkkiJTY4MGMzOWRkYzE1NWRhOTA0ZGU3OTNhMDAzODY4NzFiBjsAVA%3D%3D--a2c4cbacef01e0e89c2432804e4cdef44a896069; path=/; expires=Sun, 22-Jul-2012 06:14:28 GMT; HttpOnly


  { size: 30{ size: 30,
    result: 
     [ { id: '4f77fafbc3666e2f7000002d', name: '32' },
       { id: '4f77faf9c3666e2f7000002a', name: '213' },
       { id: '4f77fad1c3666e2f70000020', name: 'dfs' },
       { id: '4f77facfc3666e2f7000001c', name: 'fdsdfs' },
       { id: '4f547ab1c3666e0d68000027', name: 'fds' },
       { id: '4f547aaec3666e0d68000023', name: '132fadsafd' },
       { id: '4f474f359bd4bf0832000009', name: '点击skf' },
       { id: '4f4383759bd4bf2563000023', name: '销售孔' },
       { id: '4f42066c9bd4bf109300002b', name: 'fd' },
       { id: '4f4206059bd4bf1093000025', name: 'dfsafasd' },
       { id: '4f3c6f489bd4bf0e47000030', name: 'adsf' },
       { id: '4f3c6e129bd4bf0e47000007', name: '吧' },
       { id: '4f3c6e129bd4bf0e47000005', name: '啊' },
       { id: '4f39ecacc3666e0add000003', name: 'dsf' },
       { id: '4f338346c3666e33b8000017', name: 'aa' },
       { id: '4f3382bac3666e33b800000b', name: 'bbb' },
       { id: '4f33826cc3666e339400001d', name: 'ggg' },
       { id: '4f33826cc3666e339400001b', name: 'fff' },
       { id: '4f33826cc3666e3394000019', name: 'eee' },
       { id: '4f338256c3666e3394000012', name: '111' },
       { id: '4f338242c3666e339400000b', name: 'ff' },
       { id: '4f338226c3666e3394000007', name: 'e' },
       { id: '4f3380bc9bd4bf2fcc000062', name: 'c' },
       { id: '4f33809e9bd4bf2fcc00005b', name: 'b' },
       { id: '4f2f9885c3666e07d2000044', name: '的飒飒的' },
       { id: '4f2f9857c3666e07d2000040', name: 'sdffdsjioj' },
       { id: '4f2f9832c3666e07d200003c', name: 'sdffds' },
       { id: '4edf13d9062a7861680002cf', name: '生活困扰' },
       { id: '4edf0feed1212f6ba600031c', name: '新工作' },
       { id: '4eded969d1212f6ba6000053', name: '社交' } ] }
</pre>
