
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 获得某领域的相关专家</h1>

<h2>认证级别</h2>
<p>只需提供client_id</p>

<h2>输入</h2>
<p>向<code>/topics/:topic_name/suggest_experts</code>发送<code>GET</code>请求，topic_name参数值为领域的名称。</p>
<p>例如：</p>
<pre class="terminal">
http://api.kejian.tv/topics/职业规划/suggest_experts?client_id=4f97b5f9d1212f1d7e000002
</pre>

<h2>输出</h2>
专家的ID。
<p>例如：</p>
<pre class="terminal">
  [ '4eae1406d1212f2d8900030a',
    '4edc258b062a787287004ee8',
    '4ec0c2ac062a781a1b000f27',
    '4ed3393bd1212f2682000040',
    '4eded676d1212f6bbe000006',
    '4edd7dc8062a78728700522e',
    '4edc3017d1212f2682001771',
    '4ed42c52062a78726f0029b5',
    '4ed356ded1212f269a0000d2',
    '4ed34a21d1212f268e0000a7',
    '4ec61887062a783c3700223e',
    '4ec5ce85062a783c45001ed0',
    '4ec4cd44d1212f377e0015df',
    '4ec38dc0d1212f377e000953',
    '4ec1ccf1062a781a1b001615',
    '4ec1c7c2d1212f1a23001595',
    '4ec1c526062a781a0f0015c5',
    '4ec1c31f062a781a1b0015a4',
    '4ec1c18cd1212f1a17001589',
    '4ec1c117062a781a0f001598',
    '4ec0dd8c062a781a1b001060',
    '4ec0be76d1212f1a17000ec9',
    '4eb385a7062a7861b90000be',
    '4eb352c0d1212f5cf0000079',
    '4eb262eb062a782a46000915',
    '4eb25f54062a782a460008ed',
    '4eb2552cd1212f2d8900083f',
    '4eb222bbd1212f2da10007af',
    '4eb10e9fd1212f2da100074e',
    '4eaf690e062a782a460005cb',
    '4eae4891d1212f2da1000398',
    '4eae473f062a782a3a000392',
    '4eaa7b70062a782a3a0001fb',
    '4eaa51e7d1212f2d89000205',
    '4ea8d083d1212f2d95000140',
    '4e9ca1396130034af90000a5',
    '4e9c99a86130034af9000053',
    '4e9850a761300333180001c7',
    '4e70f89261300334ea0006f8',
    '4e6e89c861300334f60003fe' ]
</pre>
