
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 提问</h1>

<h2>认证级别</h2>
<p>访问敏感资源需要Oauth认证，证明您获得了用户的许可，且只能查看、更新用户自己的资源。</p>
<p>特殊受信应用可以获取、更新任何用户的任何资源。</p>

<h2>输入</h2>
<p>向<code>/asks/:id</code>发送<code>post</code>请求，内容为一个json哈希，示例如下：{ "ask"=>{"to_user_slug"=>"28675777", "title"=>"ask_title_1", "body"=>"body"}, "onlyhim"=>"on",'as_user'=>'kevin'}。我们来说明一下各个参数的含义，to_user_slug为定向提问的用户的slug，title为题的标题，body为题的内容，onlyhim是是否只允许这个人解答题，as_user是以谁的身份添加题。</p>
<p>例如(ruby)：</p>
<pre>
require 'rest_client'
response = RestClient.post "http://api.kejian.tv/asks?client_id=4f853634c3666e05e1000002", { "ask"=>{"to_user_slug"=>"28675777", "title"=>"ask_title_1", "body"=>"body"}, "onlyhim"=>"on",'as_user'=>'kevin'}
</pre>

<h2>输出</h2>
<p>返回是否成功</p>
<p>例如：</p>
<pre>
response
=> "{\"success\":true}"
</pre>

<h2>输入(示例2)</h2>
<p>如果再请求一次，那么同名的题已经存在了，就会报错。</p>
<p>例如(ruby)：</p>
<pre>
require 'rest_client'
response = RestClient.post "http://api.kejian.tv/asks?client_id=4f853634c3666e05e1000002", { "ask"=>{"to_user_slug"=>"28675777", "title"=>"ask_title_1", "body"=>"body"}, "onlyhim"=>"on",'as_user'=>'kevin'}
</pre>

<h2>输出(示例2)</h2>
<p>返回是否成功</p>
<p>例如：</p>
<pre>
response =>
{ success: false,
  errors: [ '同名的题已经被创建过了' ],
  ask_id: '4fc31d0a9bd4bf053000000d' }
</pre>

