
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 更新用户头像</h1>

<h2>认证级别</h2>
<p>访问敏感资源需要Oauth认证，证明您获得了用户的许可，且只能查看、更新用户自己的敏感资源。</p>
<p>特殊受信应用可以获取、更新任何用户的任何资源。</p>

<h2>输入</h2>
<p>向<code>/users/:user/update_avatar</code>发送<code>POST</code>请求，内容为{ 'user' => {'avatar' => 二进制文件内容 } }。</p>
<p>例如(ruby)：</p>
<pre>
require 'rest_client'
response = RestClient.post "http://api.kejian.tv/users/angelacai/update_avatar?client_id=4f853634c3666e05e1000002", { 'user' => {'avatar' => File.new('/Users/psvr/Pictures/me2.jpg','rb')} }
</pre>

<h2>输出</h2>
包含三部分，分别是可能感兴趣的专家、用户和领域。
<p>例如：</p>
<pre>
response
=> "{\"success\":true}"
</pre>
