
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 新建用户</h1>

<h2>认证级别</h2>
<p>仅特殊信任客户端可以使用本功能。</p>

<h2>输入</h2>
<p>向<code>/users</code>发送<code>POST</code>请求，请求内容为{'email':'...'}，即要预先创建的用户的E-mail。</p>
<p>例如(ruby)：</p>
<pre>
require 'rest_client'
response = RestClient.post "http://api.wendaoqa.kejian.tv/users?client_id=4fc46417ec315a3a5b000002", { "email"=>'userf98321231@qq.com'}
</pre>

<h2>输出</h2>
<p>例如：</p>
<pre class="terminal">
{ success: true,
  user: 
   { avatar: 
      { url: '/assets/avatar/.jpg',
        small: [Object],
        small38: [Object],
        mid: [Object],
        normal: [Object] },
     bio: null,
     email: 'userf98321231@qq.com',
     girl: false,
     mail_ask_me: true,
     mail_be_followed: true,
     mail_invite_to_ask: true,
     mail_new_answer: true,
     name: 'userf98321231',
     slug: '4fc46726ec315a3aa6000007',
     tagline: null,
     website: null } }
</pre>



<h2>输入（示例2）</h2>
<p>如果用户已经存在：</p>
<p>例如(ruby)：</p>
<pre>
require 'rest_client'
response = RestClient.post "http://api.wendaoqa.kejian.tv/users?client_id=4fc46417ec315a3a5b000002", { "email"=>'userf98321231@qq.com'}
</pre>

<h2>输出（示例2）<</h2>
<p>例如：</p>
<pre class="terminal">
{ success: false,
  errors: [ 'User already exists!' ],
  user: 
   { avatar: 
      { url: '/assets/avatar/.jpg',
        small: [Object],
        small38: [Object],
        mid: [Object],
        normal: [Object] },
     bio: null,
     email: 'userf98321231@qq.com',
     girl: false,
     mail_ask_me: true,
     mail_be_followed: true,
     mail_invite_to_ask: true,
     mail_new_answer: true,
     name: 'userf98321231',
     slug: 'userf983',
     tagline: null,
     website: null } }
</pre>
