
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 获取问某人的关注对象</h1>

<h2>认证级别</h2>
<p>只需提供client_id。</p>

<h2>输入</h2>
<p>向<code>/users/:user/asked</code>发送<code>GET</code>请求，user参数值为用户的slug。</p>
<p>例如：</p>
<pre class="terminal">
http://api.kejian.tv/users/angelacai/following?client_id=4f97b5f9d1212f1d7e000002
</pre>

<h2>输出</h2>
<p>分为三部分，分别是用户题领域。</p>
<p>例如：</p>
<pre class="terminal">
  { users: [ '4eb222bbd1212f2da10007af', '4eb26189062a782a3a0008c1', '4ec5ce85062a783c45001ed0', '4eb385a7062a7861b90000be' ],
    asks: 
     [ '4e9d851f6130034aed0001bc',
       '4e9d86406130034af90001f1',
       '4e9d86446130034af90001f3',
       '4ea0f9aa062a7837e8000026',
       '4ea10047062a78398700000c',
       '4ea0fe15d1212f2d230000a2',
       '4ea0fdbcd1212f2d23000099',
       '4ea0fdc2062a7837e8000136',
       '4ec5c7a8062a783c2d001f41',
       '4ec5c7e6062a783c2d001f50',
       '4ec5ca07062a783c45001e88',
       '4ec5ccbfd1212f3766001f79',
       '4ec5cd8c062a783c2d001f92',
       '4ec5cec3062a783c45001ed3',
       '4ed33b71062a78726f002832',
       '4ed33bb9062a78726f002838',
       '4ed33bd8062a78727b0027d8',
       '4ed33c63d1212f269a000057',
       '4ed33c8d062a78727b0027e0',
       '4ed33ce1d1212f269a00005c',
       '4ed33cf8062a7872870027f6',
       '4ed33d53d1212f268200005d',
       '4ed33d6bd1212f2682000062',
       '4ed33d92062a787287002800',
       '4ed33dfed1212f268e00006b',
       '4ed33e35062a787287002805',
       '4ed33e6c062a78726f00284c',
       '4ed33ec3d1212f269a00006d',
       '4ed33eac062a78727b0027f7',
       '4ed33ed5062a78726f002856',
       '4ed33f25d1212f2682000075',
       '4ed33f41062a78726f00285d',
       '4ed33f62062a78726f002863',
       '4ed33f80062a787287002813',
       '4e697c9061300334de000225',
       '4edf0efed1212f6bb20002a8' ],
    topics: 
     [ '4e652c336130031851000020',
       '4e70fa5361300334de00073d',
       '4e9c82b46130034ae1000020',
       '4e6828c961300334de00004a',
       '4e9329a36130030ed10000ef',
       '4e6554b06130031851000057',
       '4e6fc1d461300334ea000526',
       '4e6ea94661300334f6000409',
       '4ea12a5b062a7806a200000c',
       '4e69106261300334f6000184',
       '4e68157d6130032a3b0001fd',
       '4e6fbaa261300334de000508',
       '4e6582436130032150000018',
       '4ea12ab2062a78069600000b',
       '4ea12ad6062a7806ae000017',
       '4e6ec00461300334de000435',
       '4ea12ae3062a780696000011',
       '4e9202ed61300364270002d0',
       '4ec37cf3062a783c2d000920',
       '4ec3895ad1212f377e000925',
       '4eb263e2d1212f2da10008df',
       '4e91db37613003641b0001d7',
       '4e6ec33961300334ea000432',
       '4e67f9a86130032a3100015a',
       '4ec5cc17062a783c37001f75',
       '4e6e54c661300334ea0003e1',
       '4e6fc0ea61300334ea000523',
       '4e6699e86130032144000080',
       '4e656f2a613003185d0000c6',
       '4ec6025f062a783c3700214a',
       '4ec603a6d1212f3772002185',
       '4e66d1406130032a3b00001c',
       '4eb0ae1a062a782a2e000618',
       '4e6ebf9461300334f6000439',
       '4e91fa73613003640f0002b2',
       '4e66adcb613003291800002a',
       '4e67f0446130032a25000118',
       '4ec61d80062a783c2d00228f',
       '4e92011e61300364270002c3',
       '4ea0fc3c062a7837e80000b5',
       '4e66ad5b6130032918000022',
       '4e66d3f86130032a2500002f',
       '4e6697126130032150000089',
       '4e9301476130030ed100009b',
       '4eb0b01e062a782a4600064c',
       '4e67b8e96130032a250000a1',
       '4ec61fac062a783c2d0022b5',
       '4e66cf896130032a3b00000a',
       '4e6fa8fe61300334de0004c9',
       '4e652c2b613003185100001d',
       '4e6ec5b161300334f6000457',
       '4e67c2156130032a250000cc',
       '4ec6240d062a783c370022ce',
       '4e6fdae861300334de000589',
       '4ecdec3ed1212f76630016e8',
       '4ebcbfdb062a78136a0000d8',
       '4ed33bf3062a78727b0027dd',
       '4ed33c78d1212f2682000057',
       '4ea8bd89d1212f2da1000140',
       '4ed33d11062a78726f002842',
       '4ea0fc5e062a7837e80000c6',
       '4ed33dddd1212f268200006d',
       '4ed33e47062a78727b0027f1' ] }
      </pre>
