
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 获取问某人的最近评论列表</h1>

<h2>认证级别</h2>
<p>只需提供client_id。</p>

<h2>输入</h2>
<p>向<code>/users/:user/comments</code>发送<code>GET</code>请求，user参数值为用户的slug。</p>
<p>例如：</p>
<pre class="terminal">
http://api.kejian.tv/users/angelacai/comments?client_id=4f97b5f9d1212f1d7e000002
</pre>

<h2>输出</h2>
<p>例如：</p>
<pre class="terminal">
  { size: 30,
    result: 
     [ { _id: '4f9510389bd4bf0a7c00001b',
         body: 'sdfdsfsdfds',
         commentable_id: '4f507ebcc3666e42d7000063',
         commentable_type: 'Ask',
         created_at: '2012-04-23T16:18:00+08:00',
         deleted: 0,
         updated_at: '2012-04-23T16:18:29+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4fa0e5aa9bd4bf117f00000f',
         body: '213',
         commentable_id: '4e91eccb6130036427000247',
         commentable_type: 'Answer',
         created_at: '2012-05-02T15:43:39+08:00',
         deleted: 2,
         updated_at: '2012-05-02T15:43:39+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f3c6f259bd4bf0e4700001e',
         body: 'afdfdsadsafsadf',
         commentable_id: '4f3c6ede9bd4bf0e47000019',
         commentable_type: 'Ask',
         created_at: '2012-02-16T10:51:17+08:00',
         deleted: 0,
         updated_at: '2012-02-16T10:51:17+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f3c6f269bd4bf0e47000020',
         body: 'adsfdasfasdf',
         commentable_id: '4f3c6ede9bd4bf0e47000019',
         commentable_type: 'Ask',
         created_at: '2012-02-16T10:51:18+08:00',
         deleted: 0,
         updated_at: '2012-02-16T10:51:18+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f8bd96e9bd4bf06c5000003',
         body: 'fweewf',
         commentable_id: '4f87b42ec3666e0b67000001',
         commentable_type: 'Ask',
         created_at: '2012-04-16T16:33:50+08:00',
         deleted: 0,
         updated_at: '2012-04-23T15:13:49+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f95103d9bd4bf0a7c00001f',
         body: 'fdsdfsdfsfds',
         commentable_id: '4f507ebcc3666e42d7000063',
         commentable_type: 'Ask',
         created_at: '2012-04-23T16:18:05+08:00',
         deleted: 0,
         updated_at: '2012-04-23T16:18:28+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f95103f9bd4bf0a7c000021',
         body: 'fsdfsddfs',
         commentable_id: '4f507ebcc3666e42d7000063',
         commentable_type: 'Ask',
         created_at: '2012-04-23T16:18:08+08:00',
         deleted: 0,
         updated_at: '2012-04-23T16:18:27+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f951b2b9bd4bf0c1e000008',
         body: 'dfsdfsdf',
         commentable_id: '4f420b5a9bd4bf109300007f',
         commentable_type: 'Ask',
         created_at: '2012-04-23T17:04:43+08:00',
         deleted: 0,
         updated_at: '2012-04-23T17:04:43+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f951b2f9bd4bf0c1e00000c',
         body: 'fedfsdfs',
         commentable_id: '4f420b5a9bd4bf109300007f',
         commentable_type: 'Ask',
         created_at: '2012-04-23T17:04:47+08:00',
         deleted: 0,
         updated_at: '2012-04-23T17:04:47+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f9525d79bd4bf0c1e00004e',
         body: 'dfsfsdsfdsdfdsf',
         commentable_id: '4ed3155f062a78728700274d',
         commentable_type: 'Ask',
         created_at: '2012-04-23T17:50:15+08:00',
         deleted: 0,
         updated_at: '2012-04-23T17:50:15+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f9525e59bd4bf0c1e000054',
         body: 'sdfdfsfs',
         commentable_id: '4f9524c49bd4bf0c1e00003f',
         commentable_type: 'Answer',
         created_at: '2012-04-23T17:50:29+08:00',
         deleted: 0,
         updated_at: '2012-04-23T17:50:29+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f9525e69bd4bf0c1e000056',
         body: 'dfssfddfs',
         commentable_id: '4f9524c49bd4bf0c1e00003f',
         commentable_type: 'Answer',
         created_at: '2012-04-23T17:50:30+08:00',
         deleted: 0,
         updated_at: '2012-04-23T17:50:30+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4eb24ac5062a782a2e00084d',
         body: '收益也多10倍的同时风险也多10倍',
         commentable_id: '4eb24345d1212f2d95000824',
         commentable_type: 'Answer',
         created_at: '2011-11-03T16:03:17+08:00',
         deleted: 0,
         updated_at: '2011-11-03T16:03:17+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f3c6f289bd4bf0e47000022',
         body: 'adsfasdfadf',
         commentable_id: '4f3c6ede9bd4bf0e47000019',
         commentable_type: 'Ask',
         created_at: '2012-02-16T10:51:20+08:00',
         deleted: 0,
         updated_at: '2012-02-16T10:51:20+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f3c6f389bd4bf0e47000029',
         body: 'dfasdfasasfd',
         commentable_id: '4f3c6f2d9bd4bf0e47000026',
         commentable_type: 'Answer',
         created_at: '2012-02-16T10:51:36+08:00',
         deleted: 0,
         updated_at: '2012-02-16T10:51:36+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f3c6f3a9bd4bf0e4700002b',
         body: 'dassadfdfas',
         commentable_id: '4f3c6f2d9bd4bf0e47000026',
         commentable_type: 'Answer',
         created_at: '2012-02-16T10:51:38+08:00',
         deleted: 0,
         updated_at: '2012-02-16T10:51:38+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f3c6f3c9bd4bf0e4700002d',
         body: 'dfassadfafsdafds',
         commentable_id: '4f3c6f2d9bd4bf0e47000026',
         commentable_type: 'Answer',
         created_at: '2012-02-16T10:51:40+08:00',
         deleted: 0,
         updated_at: '2012-02-16T10:51:40+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f3c73699bd4bf0e47000041',
         body: 'dccs',
         commentable_id: '4f3c6f2d9bd4bf0e47000026',
         commentable_type: 'Answer',
         created_at: '2012-02-16T11:09:29+08:00',
         deleted: 0,
         updated_at: '2012-02-16T11:09:29+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f4b49b1c3666e179700000d',
         body: 'dasfdas',
         commentable_id: '4f4203f89bd4bf1093000002',
         commentable_type: 'Answer',
         created_at: '2012-02-27T17:15:29+08:00',
         deleted: 0,
         updated_at: '2012-02-27T17:15:29+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f4b49b6c3666e179700000f',
         body: 'dasfdasafs',
         commentable_id: '4f4203f89bd4bf1093000002',
         commentable_type: 'Answer',
         created_at: '2012-02-27T17:15:34+08:00',
         deleted: 0,
         updated_at: '2012-02-27T17:15:34+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f4b49bcc3666e1797000013',
         body: 'fadafds',
         commentable_id: '4f4203f89bd4bf1093000002',
         commentable_type: 'Answer',
         created_at: '2012-02-27T17:15:40+08:00',
         deleted: 0,
         updated_at: '2012-02-27T17:15:40+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f4b49bdc3666e1797000015',
         body: 'fadafdsfads',
         commentable_id: '4f4203f89bd4bf1093000002',
         commentable_type: 'Answer',
         created_at: '2012-02-27T17:15:41+08:00',
         deleted: 0,
         updated_at: '2012-02-27T17:15:41+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f4b49bec3666e1797000017',
         body: 'fadafdsfadsfads',
         commentable_id: '4f4203f89bd4bf1093000002',
         commentable_type: 'Answer',
         created_at: '2012-02-27T17:15:42+08:00',
         deleted: 0,
         updated_at: '2012-02-27T17:15:42+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f4b49bfc3666e1797000019',
         body: 'fadafdsfadsfads',
         commentable_id: '4f4203f89bd4bf1093000002',
         commentable_type: 'Answer',
         created_at: '2012-02-27T17:15:43+08:00',
         deleted: 0,
         updated_at: '2012-02-27T17:15:43+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f4b49bfc3666e179700001b',
         body: 'fadafdsfadsfads',
         commentable_id: '4f4203f89bd4bf1093000002',
         commentable_type: 'Answer',
         created_at: '2012-02-27T17:15:43+08:00',
         deleted: 0,
         updated_at: '2012-02-27T17:15:43+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f4b49bfc3666e179700001d',
         body: 'fadafdsfadsfads',
         commentable_id: '4f4203f89bd4bf1093000002',
         commentable_type: 'Answer',
         created_at: '2012-02-27T17:15:43+08:00',
         deleted: 0,
         updated_at: '2012-02-27T17:15:43+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f4b49bfc3666e179700001f',
         body: 'fadafdsfadsfads',
         commentable_id: '4f4203f89bd4bf1093000002',
         commentable_type: 'Answer',
         created_at: '2012-02-27T17:15:43+08:00',
         deleted: 0,
         updated_at: '2012-02-27T17:15:43+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f4b49bfc3666e1797000021',
         body: 'fadafdsfadsfads',
         commentable_id: '4f4203f89bd4bf1093000002',
         commentable_type: 'Answer',
         created_at: '2012-02-27T17:15:44+08:00',
         deleted: 0,
         updated_at: '2012-02-27T17:15:44+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f4b49c0c3666e1797000023',
         body: 'fadafdsfadsfads',
         commentable_id: '4f4203f89bd4bf1093000002',
         commentable_type: 'Answer',
         created_at: '2012-02-27T17:15:44+08:00',
         deleted: 0,
         updated_at: '2012-02-27T17:15:44+08:00',
         user_id: '4e641c79613003186900000e' },
       { _id: '4f4b49c0c3666e1797000025',
         body: 'fadafdsfadsfads',
         commentable_id: '4f4203f89bd4bf1093000002',
         commentable_type: 'Answer',
         created_at: '2012-02-27T17:15:44+08:00',
         deleted: 0,
         updated_at: '2012-02-27T17:15:44+08:00',
         user_id: '4e641c79613003186900000e' } ] }
</pre>
