
<h1 id="section">课件交流系统: Kejian.TV开放应用程序接口 - 获取某用户解答过的答案列表</h1>

<h2>认证级别</h2>
<p>只需提供client_id。</p>

<h2>输入</h2>
<p>向<code>/users/:user/answered</code>发送<code>GET</code>请求，user参数值为用户的slug。</p>
<p>例如：</p>
<pre class="terminal">
http://api.kejian.tv/users/angelacai/answered?client_id=4f97b5f9d1212f1d7e000002
</pre>

<h2>输出</h2>
<p>例如：</p>
<pre class="terminal">
  { size: 26,
    result: 
     [ { _id: '4ea1010ad1212f2e8a00000b',
         ask_id: '4ea10047062a78398700000c',
         body: '有题找Kejian.TV小助手^_^亲！',
         comments_count: 0,
         created_at: '2011-10-21T13:20:10+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-10-21T13:20:10+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ea1014e062a78398700001f',
         ask_id: '4ea0fe15d1212f2d230000a2',
         body: '因为我们也不知道是什么，所以才神秘^_^',
         comments_count: 1,
         created_at: '2011-10-21T13:21:18+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-10-21T13:21:18+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ea10169062a78399f000017',
         ask_id: '4ea0fdbcd1212f2d23000099',
         body: '快乐工作，工作才快乐^_^',
         comments_count: 0,
         created_at: '2011-10-21T13:21:45+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-10-21T13:21:45+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33c30d1212f2682000054',
         ask_id: '4ed33bd8062a78727b0027d8',
         body: '你可以使用已有的课件交流系统帐号直接登录Kejian.TV，也可以注册课件交流系统新帐号。',
         comments_count: 0,
         created_at: '2011-11-28T15:45:52+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-29T09:38:34+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33cc3062a7872870027f4',
         ask_id: '4ed33ce1d1212f269a00005c',
         body: '在“设置”页面，可修改昵称。',
         comments_count: 0,
         created_at: '2011-11-28T15:48:19+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:48:19+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33bd1d1212f268e00005e',
         ask_id: '4ed33b71062a78726f002832',
         body: 'Kejian.TV是课件交流系统推出的一个师生领域的web2.0问答平台。',
         comments_count: 0,
         created_at: '2011-11-28T15:44:17+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:44:17+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33f86062a787287002817',
         ask_id: '4ed33f80062a787287002813',
         body: '详见http://kejian.tv/agreement',
         comments_count: 0,
         created_at: '2011-11-28T16:00:06+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T16:00:06+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33ca1062a78727b0027e7',
         ask_id: '4ed33c8d062a78727b0027e0',
         body: '点击昵称，进入个人主页，即可修改。',
         comments_count: 0,
         created_at: '2011-11-28T15:47:45+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:47:45+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33f6d062a78727b002803',
         ask_id: '4ed33f62062a78726f002863',
         body: '详见http://kejian.tv/agreement',
         comments_count: 0,
         created_at: '2011-11-28T15:59:41+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:59:41+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33e71d1212f268e000072',
         ask_id: '4ed33e35062a787287002805',
         body: '可以通过搜索，直接查找你感兴趣的领域。',
         comments_count: 0,
         created_at: '2011-11-28T15:55:29+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:55:29+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed882c4062a787287003f3c',
         ask_id: '4e697c9061300334de000225',
         body: '所有工作都是一个积累的过程。',
         comments_count: 0,
         created_at: '2011-12-02T15:48:20+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-12-02T15:48:20+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4edf1043062a7861720002cc',
         ask_id: '4edf0efed1212f6bb20002a8',
         body: '对的。三方协议对学生来讲很重要。很多都是丢失不补的。所以，请认真听老师讲解，妥善保存',
         comments_count: 0,
         created_at: '2011-12-07T15:05:39+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-12-07T15:05:39+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ea102b2062a783a2b000014',
         ask_id: '4ea0fdc2062a7837e8000136',
         body: '我以前也就此题问过别人，得到的答案是：自学充电及和高人聊天。',
         comments_count: 0,
         created_at: '2011-10-21T13:27:14+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-10-21T13:27:14+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33bf6d1212f2682000052',
         ask_id: '4ed33bb9062a78726f002838',
         body: '<div>对于师生人，当你在解题或工作过程中遇到题时，能够在Kejian.TV上得到专业的解答。</div><div>对于满腹经纶的专家，你可以在Kejian.TV帮助大家答疑解惑，同时展示自己。</div>',
         comments_count: 0,
         created_at: '2011-11-28T15:44:55+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:44:55+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33c61062a78726f00283f',
         ask_id: '4ed33c63d1212f269a000057',
         body: 'Kejian.TV目前没有修改登录邮箱功能，我们将在未来的版本中增加此功能，感谢大家的理解和支持。',
         comments_count: 0,
         created_at: '2011-11-28T15:46:41+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:46:41+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33d31062a78726f002846',
         ask_id: '4ed33d53d1212f268200005d',
         body: '通过搜索找到专家，在专家主页即可向专家提问。',
         comments_count: 0,
         created_at: '2011-11-28T15:50:09+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:50:09+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33d32d1212f269a000063',
         ask_id: '4ed33cf8062a7872870027f6',
         body: '<div>第一次登录时，不要求填写用户名，系统将自动帮你设置用户名。</div><div>在“设置”页面，可进行修改。</div><div><br></div>',
         comments_count: 0,
         created_at: '2011-11-28T15:50:10+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:50:10+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33d4d062a7872870027fe',
         ask_id: '4ed33d6bd1212f2682000062',
         body: '<div>用心、客观、有用。</div><div>用心对待每一个题，客观的分析题，提供有用的建议。</div>',
         comments_count: 0,
         created_at: '2011-11-28T15:50:37+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:50:37+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33dbf062a78727b0027ed',
         ask_id: '4ed33d92062a787287002800',
         body: '对每一个已经提交的答案，你可以做出自己的评论。',
         comments_count: 0,
         created_at: '2011-11-28T15:52:31+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:52:31+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33e2dd1212f269a000066',
         ask_id: '4ed33dfed1212f268e00006b',
         body: '<div>每个答案下方都会提示“赞成、反对、感谢、没有帮助”。</div><div>“赞同”和“反对”，是你是否对该答案认可。</div><div>“感谢”表示你对该解答及其作者表示感谢。</div><div>“没有帮助”表示该答案对你没有价值。</div>',
         comments_count: 0,
         created_at: '2011-11-28T15:54:21+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:54:21+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33e9c062a78727b0027f5',
         ask_id: '4ed33ec3d1212f269a00006d',
         body: '关注一个领域，能够及时获知该领域下最新的题与答案。',
         comments_count: 0,
         created_at: '2011-11-28T15:56:12+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:56:12+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33ea4d1212f2682000071',
         ask_id: '4ed33e6c062a78726f00284c',
         body: '<div>在提交题时，可以为一个题添加上合适的领域标签。</div><div>提交以后，也可以直接修改领域标签。</div>',
         comments_count: 0,
         created_at: '2011-11-28T15:56:20+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:56:20+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33eb8062a78727b0027fd',
         ask_id: '4ed33eac062a78727b0027f7',
         body: '进入个人主页，右侧即可看到自己关注的领域。',
         comments_count: 0,
         created_at: '2011-11-28T15:56:40+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:56:40+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33f14d1212f2682000073',
         ask_id: '4ed33ed5062a78726f002856',
         body: '进入个人主页，点击“关注的领域”后的“取消关注”按钮即可取消。',
         comments_count: 0,
         created_at: '2011-11-28T15:58:12+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:58:12+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33f35062a78728700280e',
         ask_id: '4ed33f25d1212f2682000075',
         body: '<div>首先，你可以通过搜索找到你感兴趣的人。</div><div>其次，可以通过相关领域，找到与你志趣相投的人。</div>',
         comments_count: 0,
         created_at: '2011-11-28T15:58:45+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:58:45+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] },
       { _id: '4ed33f4d062a787287002810',
         ask_id: '4ed33f41062a78726f00285d',
         body: '直接在网页上方搜索框输入你需要的内容，会实时出现搜索结果。',
         comments_count: 0,
         created_at: '2011-11-28T15:59:09+08:00',
         deleted: 0,
         spam_voter_ids: [],
         spams_count: 0,
         thanked_count: 0,
         updated_at: '2011-11-28T15:59:09+08:00',
         user_id: '4e84b6ed61300350a3000009',
         vote_down_count: 0,
         vote_up_count: 0,
         votes: [Object] } ] }
</pre>
