#add_ask{
	width:970px;
	font-size:15px;
	text-align:left;
	border:2px #C9C9C9 solid;
}
#add_ask_header{
	background-color:#F2F2F2;
  color: #333333;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
	line-height:30px;
	height:30px;
	padding-left:10px;
	
}
#add_ask_body{
	padding:10px 0 20px 18px;
		line-height:30px;
}
#add_ask_body p{
	line-height:18px;
	margin-top:10px;
}
#add_ask_body p span{
	margin-right:15px;
}
#add_ask input[type=submit]{
	width:100px;
}
#add_ask input[type=text]{
	color: #868686;
  font-family: 'Arial';
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  height: 26px;
  text-align: left;
  text-decoration: none;
  width: 340px;
}