<%= javascript_include_tag "keditor/kindeditor" %>
<script>
  var editor;
  KindEditor.ready(function(K) {
    editor = K.create('textarea[name="content"]', {
      resizeType : 1,
      allowPreviewEmoticons : false,
      allowImageUpload : false,
      items : [
        'bold', 'italic', 'underline',
        'removeformat', 'justifyleft',
        'insertunorderedlist']
    });
  });
</script>
<div class="green_header">修改回答</div>
<div id="cpanel_answer" class="search_form">
  <%= form_for(@answer,:url => (@answer.id.blank? ? cpanel_answers_path : cpanel_answer_path(@answer.id)), :html => { :enctype =>  "multipart/form-data" } ) do |f| %>

    <div class="inputs">
  <%#= f.input :ask_id %>
  <%#= f.input :user_id %>
      <div class="search_form_row">
        <div style="margin-right:28px;float:left;">回答内容:</div>
        <%=text_area_tag "content",@answer.body,:style=>"width:500px;height:120px;",:class=>"validate[required,funcCall[checkSize5000]]"%>
      </div>
  <%#= f.input :comments_count %>
      <div class="search_form_row">
        <span style="margin-right:10px;">没有帮助数:</span>
        <%=text_field_tag "answer[spams_count]",@answer.spams_count,:style=>"width:100px;"%>
      </div>
    </div>
    <div class="actions">
      <button type="submit">提交</button>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  function checkSize5000(field, rules, i, options){
    var num=5000;
    if (real_length2(field.val())>num*2) {
      return "不能超过"+num+"个汉字";
    }
  }
</script>
