/* 
    Document   : mobile.css
    Created on : 2011-12-14, 16:18:14
    Author     : chris.cai
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

/* 提醒红色 */
.notifies {
    background-color:red;
    font: normal 12px/9px arial;
    padding:2px;
    color:white;
    float:right;
    position:absolute;
    top:10%;right:10%;
    text-shadow:none;
    border-radius:2px;
}

/* 搜索框体上下去掉外边距 */
#searchBarBox {
    margin:0;
}

/* 问题左侧图标大小固定 */
.asksList img {
    max-height: 25px;
    max-width: 25px;
    margin:20px 0 0 10px;
    border:1px solid #999 !important;
    padding:1px;
}
.ui-li-desc {
    white-space:normal;
}

/* 重置 LIST样式，左边的图片大小，包括文字内容的左侧内边距 */
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
    padding-left:50px;
}

/* 搜索页面使用的搜索条容器，定义外边距 */
.formBox {
    margin:10px;
}

/* 问题页面 问题内容样式 */
.ask-content:after {
    content:'.'
}
.ask-head {
    font-size:1.2em;
    font-weight:bold;
}
.ask-body p {
    text-indent: 2em;
}