<div data-role="content">
    <ul data-role="listview" class="asksList" id="gonna_be_app">
      <% @logs.each do |item| %>
        <%= render "logs/log.mobile", :log => item %>
      <% end %>
    </ul>
</div>
