<div class="hid passive yt-uix-button-menu yt-uix-button-menu-external" id="playlist-bar-options-menu">
	<div id="playlist-bar-extras-menu">
		<ul>
	
			<li>
				<span data-action="save" class="psvr_login_required yt-uix-button-menu-item">另存为新的课件锦囊</span>
			</li>
			<% if current_user.present? %>
				<% if (playlist_id == current_user.id) and playlist_undestroyable and playlist_title == '稍后阅读' %>
				<li>
					<span data-action="clear" class="psvr_login_required yt-uix-button-menu-item">清除该列表中的所有视频</span>
				</li>
				<% end %>
			<% end %>
			<li>
				<span onclick="window.location.href='/play_lists/<%= playlist_id %>'" class="yt-uix-button-menu-item">关于此课件锦囊的详情</span>
			</li>
		</ul>
	</div>
	<ul>
		<li>
		<span data-action="load-lists" class="psvr_login_required yt-uix-button-menu-item">加载其他课件锦囊</span>
		</li>
		<% if false %>
		<li>
		<span onclick="window.location.href='//support.google.com/youtube/bin/answer.py?answer=146749&amp;hl=zh-CN'" class="yt-uix-button-menu-item">了解详情</span>
		</li>
		<% end %>
	</ul>
</div>
