<section id="container" class="wrapper noSidebar clearfix">
  <div class="errorPage">
    <img src="<%= asset_path('verify_tips.png') %>" alt="" style="margin-left:50px">
    <aside style="width:350px;">
      <h4 style="font-size:20px;font-weight:bold;height:20px;line-height:20px;"><%= flash[:notice] %>发布成功</h4>
      <p style="line-height:40px;">待管理员审核后，会发布出来，请您稍候！</p>
      <p style="line-height:1em;">
        <a class="btnNormalSilver" onclick="history.back(); return false;" ><span class="fs14 bold">&nbsp;返回上一页&nbsp;</span></a>
      </p>
    </aside>
  </div>
</section>
