<article class="askInfoMinor clearfix ">
<h6><a href="/asks/<%= ask.id %>">
<% title=ask.title %>

<% @qq.each do |x|
  title.gsub!(/#{x.force_encoding 'utf-8'}/){|s| "<span style=\"color:#CC0000\">#{s}</span>"}
end  unless @qq.blank?%>
<%= raw title %>
</a><span class="details">（<%= ask.answers_count %>个答案）</span></h6>
</article>
