<div class="yt-uix-button-menu yt-uix-button-menu-external hid" style="display: none;" id="shared-addto-menu">
  <div class="addto-menu">
      <div class="addto-loading loading-content">
        <img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
        <span>正在载入课件锦囊...</span>
      </div>
  </div>
</div>
