<div data-widget-id="2" class="dashboard-widget display analytics yt-uix-dragdrop-draggable-item">
	<%= render partial:'mine/dashboard_widget_header',locals:{title:'analytics',widget:'remove'} %>
	<div class="dashboard-widget-viewport">
		<div class="dashboard-widget-inside clearfix">
			<div class="content">
				<a href="https://www.%E8%AF%BE%E4%BB%B6TV.com/analytics?feature=vmdshb"></a>
				<div class="clearfix section">
					<div class="section-sparkline">
						<img width="55" height="55" src="https://chart.googleapis.com/chart?chxt=r&amp;chd=s%3A&amp;chxs=0N%2Af0s%2A%2C%2C9%2C1%2C_&amp;chxr=0%2C0%2C4&amp;chco=5f8fc9&amp;chs=55x55&amp;cht=ls"> <img width="128" height="55" alt="显示过去 30 天您获得的观看次数的图表。" src="https://chart.googleapis.com/chart?chxt=&amp;chd=s%3APAPAAAAAfPAAAAPffPPfPAAuAAffA&amp;chxs=0N%2Af0s%2A%2C%2C9%2C1%2C_&amp;chxr=0%2C0%2C4&amp;chco=5f8fc9&amp;chs=128x55&amp;cht=ls">
					</div>
					<div class="section-value">
						22
					</div>
					<div class="section-label">
						课件观看次数
					</div>
				</div>
				<div class="clearfix section">
					<div class="section-sparkline">
						<img width="55" height="55" src="https://chart.googleapis.com/chart?chxt=r&amp;chd=s%3A&amp;chxs=0N%2Af0s%2A%2C%2C9%2C1%2C_&amp;chxr=0%2C0%2C4&amp;chco=5f8fc9&amp;chs=55x55&amp;cht=ls"> <img width="128" height="55" alt="显示过去 30 天您所获订阅次数的变化情况的图表。" src="https://chart.googleapis.com/chart?chxt=&amp;chd=s%3AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA&amp;chxs=0N%2Af0s%2A%2C%2C9%2C1%2C_&amp;chxr=0%2C0%2C4&amp;chco=5f8fc9&amp;chs=128x55&amp;cht=ls">
					</div>
					<div class="section-value">
						0
					</div>
					<div class="section-label">
						订阅人数净变化
					</div>
				</div>
			</div>
		</div>
	</div>
</div>