<% if false %>
	<div class="notifications" id="notifications-widgets">
		<div class="dashboard-widget notification clearfix">
			<button role="button" class="yt-rounded notification-dismiss yt-uix-button yt-uix-button-link" type="button">
				<span class="yt-uix-button-content">x</span>
			</button>
			<h4 class="notification-title"></h4>
			<div class="yt-alert yt-alert-naked yt-alert-info">
				<h4 class="notification-title"></h4>
				<div class="yt-alert-icon">
					<h4 class="notification-title">
						<img alt="提醒图标" class="icon master-sprite" src="%3C%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%%3E"> 加入 课件TV 合作伙伴计划
					</h4>
				</div>
			</div>
			<div class="notification-content">
				<p>
					通过您的课件获利并扩大受众群体
				</p>。
				<p>
					立即成为 课件TV 合作伙伴！
				</p>
			</div>
			<div class="notification-action">
				<div data-disable-shortcuts="true" data-overlay-class="no-adsense" class="yt-uix-overlay" id="no-adsense-promo">
					<div class="yt-uix-overlay-content"></div><button role="button" id="no-adsense-signup-button" class="yt-uix-overlay-target yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">注册</span></button> <%# render partial: 'dashboard_ads' %>
				</div>
			</div>
	  </div>
	</div>
<% end %>