<span class="yt-uix-overlay" data-overlay-class="ad-formats-overlay">
		<span class="yt-uix-overlay-content ad-options-overlay-content">
				<div class="ad-options-full-area">
					<div class="yt-uix-overlay-header">
						<h2>通过所选课件获利</h2>
					</div>
					<div>
						<div class="form-preview-area">
							<div class="form-area">
								<form class="ad-options-overlay-form">
									<div class="ad-formats-heading">
										 广告格式
									</div>
									<div class="ad-format overlay">
										<span class="yt-uix-form-input-checkbox-container "><input name="overlay" class="yt-uix-form-input-checkbox overlay-checkbox" id="overlay-checkbox" type="checkbox"><span class="yt-uix-form-input-checkbox-element"></span></span>
										课件内嵌重叠式广告 <span class="helpable-preview" data-preview-id="preview-overlay">预览</span>
									</div>
									<div class="ad-format true-view">
										<span class="yt-uix-form-input-checkbox-container "><input name="true_view" class="yt-uix-form-input-checkbox trueview-checkbox" id="trueview-checkbox" type="checkbox"><span class="yt-uix-form-input-checkbox-element"></span></span>
										TrueView 插播广告 <span class="helpable-preview" data-preview-id="preview-trueview">预览</span>
									</div>
									<div class="ad-format">
										<span class="yt-uix-form-input-checkbox-container "><input name="product_placement" class="yt-uix-form-input-checkbox" type="checkbox"><span class="yt-uix-form-input-checkbox-element"></span></span>
										<span class="product-placement">
										课件包含产品展示位置 </span>
										<span class="helpable-preview" data-preview-id="preview-product-placement">
										了解详情 </span>
									</div>
									<div class="ad-format display">
										 默认情况下显示展示广告。 <span class="helpable-preview" data-preview-id="preview-display">预览</span>
									</div>
								</form>
								<div class="important-note">
									<b>重要提示</b>：要在 课件TV 上通过课件获利，即表示您确认您拥有所有视觉和音频元素的所有必要商业使用权利。YouTube 可能会对多次无法证明其拥有商业使用权利的帐户停用获利。<a href="//support.google.com/youtube/bin/answer.py?answer=97527&amp;hl=zh-CN" target="_blank">了解详情</a>。
								</div>
							</div>
							<div class="preview-area">
								<div id="preview-overlay" class="ad-format-preview hid">
									<img src="<%=asset_path('yt/img/in-display-overlay-vfllJbecp.png')%>"><br>
									<p>
										课件内重叠式广告是显示在您课件下半部分的透明的重叠式广告。 <a target="_new" href="//support.google.com/youtube/bin/answer.py?answer=94525&amp;hl=zh-CN">
										了解详情 </a>
									</p>
								</div>
								<div id="preview-trueview" class="ad-format-preview hid">
									<img src="<%=asset_path('yt/img/in-stream-trueview-vflyOPLHS.png')%>"><br>
									<p>
										TrueView 插播广告由一系列格式组成，允许观众选择并控制显示哪些广告客户讯息及其显示的时间。 <a target="_new" href="//support.google.com/youtube/bin/answer.py?answer=1205675&amp;hl=zh-CN">
										了解详情 </a>
									</p>
								</div>
								<div id="preview-instream" class="ad-format-preview hid">
									<img src="<%=asset_path('yt/img/in-stream-standard-vflzoarfH.png')%>"><br>
									<p>
										标准插播广告是指在主课件播放前、播放期间或播放后插入的课件广告，观众必须先看完广告才能观看所选的课件。 <a target="_new" href="//support.google.com/youtube/bin/answer.py?answer=188038&amp;hl=zh-CN">
										了解详情 </a>
									</p>
								</div>
								<div id="preview-product-placement" class="ad-format-preview hid">
									<p>
										合作伙伴可以在自己的内容中加入付费产品展示位置。所有产品展示位置都需要符合我们的广告政策。 <a target="_new" href="//support.google.com/youtube/bin/answer.py?answer=154235&amp;hl=zh-CN">
										了解详情 </a>
									</p>
								</div>
								<div id="preview-display" class="ad-format-preview hid">
									<img src="<%=asset_path('yt/img/in-display-vflqN9OMb.png')%>"><br>
									<p>
										展示广告（横幅）可以在网站上的所有区域（首页除外）投放。这些广告显示在精选课件右侧和推荐课件列表的上方，大小为 300x250 像素。 <a target="_new" href="//support.google.com/youtube/bin/answer.py?answer=1205617&amp;hl=zh-CN">
										了解详情 </a>
									</p>
								</div>
							</div>
						</div>
						<div class="ad-options-button-area">
							<button type="button" class="yt-uix-overlay-close bulk-monetize-overlay-cancel-button yt-uix-button yt-uix-button-default"  role="button"><span class="yt-uix-button-content">取消 </span></button>
							<button type="button" class="yt-uix-overlay-close bulk-monetize-overlay-monetize-button yt-uix-button yt-uix-button-primary"  role="button"><span class="yt-uix-button-content">获利 </span></button>
						</div>
					</div>
				</div>
		</span>
</span>