<div class="yt-dialog hid" id="suggested-edits-dialog">
	<div class="yt-dialog-base">
		<span class="yt-dialog-align"></span>
		<div class="yt-dialog-fg">
			<div class="yt-dialog-fg-content yt-dialog-show-content">
				<div class="yt-dialog-header">
					<h2 class="yt-dialog-title">
					改进您的课件 </h2>
				</div>
				<div class="yt-dialog-loading">
					<div class="yt-dialog-waiting-content">
						<div class="yt-spinner-img">
						</div>
						<div class="yt-dialog-waiting-text">
							正在加载...
						</div>
					</div>
				</div>
				<div class="yt-dialog-content">
					<div id="suggested-edits-dialog-message">
					</div>
					<div class="suggested-edits-player">
						<div class="preview-player">
						</div>
					</div>
				</div>
				<div class="yt-dialog-working">
					<div id="yt-dialog-working-overlay">
					</div>
					<div id="yt-dialog-working-bubble">
						<div class="yt-dialog-waiting-content">
							<div class="yt-spinner-img">
							</div>
							<div class="yt-dialog-waiting-text">
								进行中...
							</div>
						</div>
					</div>
				</div>
				<div class="yt-dialog-footer">
					<div class="opt-out">
						<a href="#" id="suggested-edit-opt-out" class=" yt-dialog-dismiss" data-action="opt-out">
						不再询问 </a>
					</div>
					<button type="button" class=" yt-dialog-dismiss yt-uix-button yt-uix-button-default"  data-action="cancel" role="button"><span class="yt-uix-button-content">不，谢谢！ </span></button><button type="button" class=" yt-dialog-dismiss yt-uix-button yt-uix-button-primary"  data-action="save" role="button"><span class="yt-uix-button-content">好的 </span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="yt-dialog hid" id="suggested-edit-opt-out-dialog">
	<div class="yt-dialog-base">
		<span class="yt-dialog-align"></span>
		<div class="yt-dialog-fg">
			<div class="yt-dialog-fg-content yt-dialog-show-content">
				<div class="yt-dialog-header">
					<h2 class="yt-dialog-title">
					您确定吗？ </h2>
				</div>
				<div class="yt-dialog-loading">
					<div class="yt-dialog-waiting-content">
						<div class="yt-spinner-img">
						</div>
						<div class="yt-dialog-waiting-text">
							正在加载...
						</div>
					</div>
				</div>
				<div class="yt-dialog-content">
					<p>
						确定不再希望系统提示您优化课件了吗？
					</p>
					<p>
					</p>
					<p>
						我们将不再显示任何建议，但您仍可以在<em>修改</em>菜单中选择<em>增强功能</em>来优化任意课件。
					</p>
				</div>
				<div class="yt-dialog-working">
					<div id="yt-dialog-working-overlay">
					</div>
					<div id="yt-dialog-working-bubble">
						<div class="yt-dialog-waiting-content">
							<div class="yt-spinner-img">
							</div>
							<div class="yt-dialog-waiting-text">
								进行中...
							</div>
						</div>
					</div>
				</div>
				<div class="yt-dialog-footer">
					<button type="button" class=" yt-dialog-dismiss yt-uix-button yt-uix-button-default"  data-action="cancel" role="button"><span class="yt-uix-button-content">取消 </span></button><button type="button" class=" yt-dialog-dismiss yt-uix-button yt-uix-button-primary"  data-action="save" role="button"><span class="yt-uix-button-content">是 </span></button>
				</div>
			</div>
		</div>
	</div>
</div>