<div style="text-align:center;width:100%;padding:44px 0 48px 0"><%= image_tag 'ie/regok.png',:id => 'ktv_reg', :alt => '注册新用户' %><br>
<p style="color:black;margin-top:30px">一封确认邮件已发至您的邮箱，请点击其中的链接激活账号。</p>
<p style="">未收到邮件？<%= link_to "重发确认邮件", new_user_confirmation_path %><br /></p>
</div>
