<!DOCTYPE html>
<html>
<head>
  <title><%=@seo[:title]%> - Kejian.TV课件台</title>
  <script src="/js/plugins.js" type="text/javascript"></script>
  <%= yield :armpit %>
</head>
<body>
  <%= yield %>
  <%= render 'analytics' if $psvr_really_production %>
</body>
</html>

