<!DOCTYPE html>
<html>
<head>
  <title><%=@seo[:title]%> - Kejian.TV课件交流系统</title>
  <script src="/js/plugins.js" type="text/javascript"></script>
  <%= yield :armpit %>
  <!--[if IE]>
  <style>
    #presenter {background:#191919; border:1px solid #111;}
  </style>
  <![endif]-->
</head>
<body>
  <%= yield %>
</body>
</html>

