<!DOCTYPE html>
<html>
<head>
<title>Welcome to Quora - Quora</title>
<%= stylesheet_link_tag "qua_f791fcfc8935e1ad.css", :media => "all" %>
<%= stylesheet_link_tag "qua_06b596594fbe5bcf.css", :media => "all" %>
<!--[if IE]><%= stylesheet_link_tag "qua_7d84bd7ff4616c9b.css", :media => "all" %><![endif]-->
</head>
<body>
  <%=yield%>
</body>
</html>
