<textarea onkeydown="if ((event.ctrlKey || event.metaKey) &amp;&amp; event.keyCode == 67) { yt.tracking.track('embedCodeCopied'); }" class="yt-uix-form-textarea share-embed-code">&lt;object width="853" height="480"&gt;&lt;param name="movie" value="http://www.youtube-nocookie.com/v/q1sRAXZ-qLM?version=3&amp;amp;hl=zh_CN"&gt;&lt;/param&gt;&lt;param name="allowFullScreen" value="true"&gt;&lt;/param&gt;&lt;param name="allowscriptaccess" value="always"&gt;&lt;/param&gt;&lt;embed src="http://www.youtube-nocookie.com/v/q1sRAXZ-qLM?version=3&amp;amp;hl=zh_CN" type="application/x-shockwave-flash" width="853" height="480" allowscriptaccess="always" allowfullscreen="true"&gt;&lt;/embed&gt;&lt;/object&gt;</textarea>
<p class="share-embed-code-description">
  选好以后，复制并粘贴上面的嵌入代码。 该代码会根据您的选择而变化。
</p>
<hr>
<ul class="share-embed-options">
  <li>
     <label>
     <input type="checkbox" checked="" name="show-related" class="share-embed-option">
     视频结束后显示推荐视频
     </label>
  </li>
  <li>
     <label>
     <input type="checkbox" name="use-https" class="share-embed-option">
     使用 HTTPS
     [<a target="_blank" href="http://www.google.com/support/youtube/bin/answer.py?answer=171780&amp;expand=UseHTTPS#HTTPS">?</a>]
     </label>
  </li>
  <li>
     <label>
     <input type="checkbox" name="delayed-cookies" class="share-embed-option">
     启用隐私权保护增强模式
     [<a target="_blank" href="http://www.google.com/support/youtube/bin/answer.py?answer=171780&amp;expand=PrivacyEnhancedMode#privacy">?</a>]
     </label>
  </li>
  <li>
     <label>
     <input type="checkbox" name="use-flash-code" class="share-embed-option">
     使用旧版嵌入代码
     [<a target="_blank" href="http://www.google.com/support/youtube/bin/answer.py?answer=171780&amp;expand=UseOldEmbedCode#oldcode">?</a>]
     </label>
  </li>
</ul>
<hr>
<form>
	<div style="margin:0;padding:0;display:inline">
		<input name="utf8" type="hidden" value="✓">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
	</div>
  <ul class="share-embed-size-list">
     <li class="share-embed-size default wide">
        <label>
        <input type="radio" data-height="315" data-width="560" class="share-embed-size-radio " value="default" name="share-embed-size">
        <span class="share-embed-size-name">560 × 315</span>
        <span class="share-embed-size-box default"></span>
        </label>
     </li>
     <li class="share-embed-size medium wide">
        <label>
        <input type="radio" data-height="360" data-width="640" class="share-embed-size-radio " value="medium" name="share-embed-size">
        <span class="share-embed-size-name">640 × 360</span>
        <span class="share-embed-size-box medium"></span>
        </label>
     </li>
     <li class="share-embed-size large wide selected">
        <label>
        <input type="radio" data-height="480" data-width="853" class="share-embed-size-radio " value="large" name="share-embed-size">
        <span class="share-embed-size-name">853 × 480</span>
        <span class="share-embed-size-box large"></span>
        </label>
     </li>
     <li class="share-embed-size hd720 wide">
        <label>
        <input type="radio" data-height="720" data-width="1280" class="share-embed-size-radio  hd" value="hd720" name="share-embed-size">
        <span class="share-embed-size-name">1280 × 720</span>
        <span class="share-embed-size-box hd720"></span>
        </label>
     </li>
     <li class="share-embed-size custom">
        <label>
        <input type="radio" data-height="-1" data-width="-1" class="share-embed-size-radio share-embed-size-radio-custom" value="custom" name="share-embed-size">
        <span class="share-embed-size-name">
        自定义
        </span>
        </label>
        <ul class="share-embed-customize">
           <li>
              <label>
              宽度：
              <input type="text" maxlength="4" class="yt-uix-form-input-text share-embed-size-custom-width"> px
              </label>
           </li>
           <li>
              <label>
              高度：
              <input type="text" maxlength="4" class="yt-uix-form-input-text share-embed-size-custom-height"> px
              </label>
           </li>
        </ul>
     </li>
  </ul>
</form>